
<section class="h-bg-pinborad">
    <div class="pop-white-bg stripePayBoxOuter">
    <div class="form-line-group">
      <form class="form-horizontal form-material" name="stripeTest" #f="ngForm" (ngSubmit)="f.form.valid && buy()"
        novalidate>
        <h4>Payment </h4>
        <div class="row" >
          <div class="col-md-6" >
            <label class="mb-2" >
              <input type="text" maxlength="80" name="name" trim="blur" [(ngModel)]="user.name" placeholder="Name" #name="ngModel"
                required>

              <div *ngIf="f.submitted && !name.valid" class="invalid-feedback-signup">Name field is required
              </div>
            </label>
          </div>
          <div class="col-md-6" >
            <label class="mb-2" >
              <input type="text" maxlength="80" name="name" trim="blur" [(ngModel)]="user.name" placeholder="Name" #name="ngModel"
                required>
              <!-- <div class="line-box">
                <div class="line"></div>
              </div> -->
              <div *ngIf="f.submitted && !name.valid" class="invalid-feedback-signup">Name field is required
              </div>
            </label>
          </div>
        </div>
        <label>
        <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
        </label>
        <hr class="mt--23px" >
        <div class="submit-btns">
          <button type="submit"><span>Pay &pound;18.00</span></button>
        </div>
      </form>
    </div>
  </div>
</section>