.stripePayBoxOuter { width: 550px; max-width: 100%; }
.form-line-group iframe { height: 100px !important; }

.mt--23px { margin-top: -23px; margin-bottom: 50px; border-top-color: rgb(114, 114, 114); }
input::-webkit-input-placeholder { /* Edge */
  color:  rgb(114, 114, 114);
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(114, 114, 114);
}

input::placeholder {
  color: rgb(114, 114, 114);
}
.form-line-group input { border-bottom: 1px solid  rgb(114, 114, 114); }
/* form .ng-touched.ng-invalid::placeholder { color: #f10; }
form .ng-touched.ng-invalid:-ms-input-placeholder { color: #f10; }
form .ng-touched.ng-invalid::-webkit-input-placeholder { color: #f10; }
form .ng-touched.ng-invalid { color: #f10; } */