.publicProOuter li i { position: absolute; left: 0; top: 15px; color: #207702; }

.post-box-div ul.publicProOuter li { padding: 10px 0px 10px 35px !important;}
.post-box-div ul.publicProOuter li span.text-gray { font-size: 13px; color: #207702;}



/* User Onboarding */
.onboarding-box {background-color: #fff;padding: 0;}
.onboarding-box .onboarding-screens-img > img {border: solid #f0f0f0 1px;padding: 5px;box-shadow: 0px 0px 5px #efefef;border-radius: 5px;}
.onboarding-screens-conts {border: dashed #efefef 2px;height: 100%;padding: 20px; min-height: 350px;}
.onboarding-screens-conts > h5 {font-size: 18px; text-transform: uppercase; letter-spacing: 3px; border-bottom: solid #f5f5f5 2px; padding-bottom: 10px;}
.onboarding-screens-conts > h1 {color: #177703; margin: 10px auto 30px;padding: 0; font-size: 34px; font-weight: 600;}
.onboarding-screens-conts > p {color: #000; margin: 30px auto;padding: 0; font-size: 24px; font-weight: 400;}
.btn-skip{background-color: #fff;
    padding: 10px;
    color: #707070;
    cursor: pointer;
    border: solid #707070 2px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;

    text-align: center;}

    .modal-footer.btn-slide-box .btn {
        min-width: 100px;
        display: block;
        max-width: 100px;
    }
   ul.slide-arow-div{margin: 10px 0; padding: 0px; list-style: none; text-align: center;}
   ul.slide-arow-div li{display: inline-block; margin: 0 3px;}
   ul.slide-arow-div li a{width: 12px; height: 12px; border-radius: 50%; background-color:#fff; border: solid #707070 2px; display: block; }
   ul.slide-arow-div li a:hover{background-color:#177703; border: solid #177703 2px;}
   ul.slide-arow-div li a.activeslide{background-color:#177703; border: solid #177703 2px;}
   .checkbox-show{float: left !important;display: inline-block !important;width: calc(100% - 210px);}


.checkbox-show .custom-control-input:checked ~ .custom-control-label::before {

    background-color: #199000;
    margin-right: 10px;

}
.popboxst-guide .modal-body {min-height: 430px;}
@media (min-width: 768px) and (max-width: 991px){
.onboarding-screens-conts {min-height: auto;}
.onboarding-screens-conts > h1 {margin: 5px auto 10px;font-size: 26px;}
.onboarding-screens-conts > p { margin: 15px auto; font-size: 20px;}
ul.slide-arow-div {margin: 10px 0 0;}
.modal-footer.btn-slide-box .btn {min-width: 70px;max-width: 70px;padding: 5px;font-size: 14px;}
.checkbox-show{width: calc(100% - 150px);}
}

@media (min-width: 320px) and (max-width: 767px){
.onboarding-screens-conts {min-height: auto; text-align: center}
.onboarding-screens-conts > h1 {margin: 5px auto 10px;font-size: 22px;}
.onboarding-screens-conts > p { margin: 10px auto; font-size: 16px;}
ul.slide-arow-div {margin: 10px 0 0;}
.modal-footer.btn-slide-box .btn {min-width: 70px;max-width: 70px;padding: 5px;font-size: 14px;display: inline;margin: 10px 2px;}
.checkbox-show{width: 100%; display: block !important;}
.modal-footer.btn-slide-box {display: block;justify-content: flex-start; text-align: center;}
.popboxst-guide .modal-body {min-height: auto;}
}