<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<app-header></app-header>
<app-local-history></app-local-history>
<div class="h-bg-pinborad sapce-pinborad-screen">
    <div class="profile-bg-dashbord">
        <div class="leftmenu-pinboard">
            <app-profile-sidebar (changeModule)="changeModule($event)"></app-profile-sidebar>
        </div>
        <div class="righ-main-box-bg">
            <section *ngIf="htmlOptions.editMode && !htmlOptions.privateProfileMode && !htmlOptions.publicProfileMode">
                <div class="profile-bg-box">
                    <div class="white-bg-divs edit-box-div borderradus-5">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="pfrofile-username"> Edit Profile </div>
                            </div>
                        </div>
                        <div class="pravite-box-divs top-space-less">
                            <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="pravate-boxs-tagh">
                                            <label>First Name<span class="req">*</span> </label>
                                            <div class="user-tag-nagme">
                                                <input type="text" class="form-control" maxlength="80" name="firstName" [(ngModel)]="Profile.firstName" #firstName="ngModel" trim="blur" required>
                                                <div *ngIf="f.submitted && !firstName.valid" class="invalid-feedback-div">First Name field is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="pravate-boxs-tagh">
                                            <label>Last Name<span class="req">*</span> </label>
                                            <div class="user-tag-nagme">
                                                <input type="text" class="form-control" maxlength="80" name="lastName" [(ngModel)]="Profile.lastName" #lastName="ngModel" trim="blur" required>
                                                <div *ngIf="f.submitted && !lastName.valid" class="invalid-feedback-div">Last Name field is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="pravate-boxs-tagh">
                                            <label>Username<span class="req">*</span></label>
                                            <div class="user-tag-nagme">
                                                <input readonly type="text" class="form-control" maxlength="80" name="userName" [(ngModel)]="Profile.userName" #userName="ngModel" trim="blur" required>
                                                <div *ngIf="f.submitted && !userName.valid" class="invalid-feedback-div">Username field is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="pravate-boxs-tagh">
                                            <label>Email<span class="req">*</span></label>
                                            <div class="user-tag-nagme">
                                                <input readonly type="text" class="form-control" maxlength="100" name="email" [(ngModel)]="Profile.email" #email="ngModel" trim="blur" required>
                                                <div *ngIf="f.submitted && !email.valid && !email.errors.pattern" class="invalid-feedback-div">Email field is required</div>
                                                <div *ngIf="email.errors && email.errors.pattern" class="invalid-feedback-div">Please enter a valid email address</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="pravate-boxs-tagh">
                                            <label>Telephone number</label>
                                            <div class="user-tag-nagme">
                                                <input type="text" class="form-control" maxlength="80" minlength=5 maxlength=20 name="phoneNumber" [(ngModel)]="Profile.phoneNumber" placeholder="Enter telephone number" #phoneNumber="ngModel" trim="blur" pattern='^[0-9 _]*$'>
                                                <div *ngIf="f.submitted && !phoneNumber.valid && !phoneNumber.errors.pattern" class="invalid-feedback-div">Telephone number field is required</div>
                                                <div *ngIf="phoneNumber.errors && phoneNumber.errors.pattern" class="invalid-feedback-div">Please enter a valid Telephone number</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="pravate-boxs-tagh">
                                            <label> Website URL </label>
                                            <div class="user-tag-nagme">
                                                <input type="text" placeholder="Enter website URL" class="form-control" maxlength="200" name="websiteUrl" [(ngModel)]="Profile.websiteUrl" #websiteUrl="ngModel" trim="blur">
                                                <div *ngIf="f.submitted && !websiteUrl.valid" class="invalid-feedback-div">Website URL field is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="pravate-boxs-tagh">
                                            <label>Password</label>
                                            <div class="user-tag-nagme">
                                                <input type="password" class="form-control" maxlength="29" name="password" [(ngModel)]="Profile.password" #password="ngModel" pattern="^[0-9,a-z,A-Z,@,#,$,^,!,%,&,*]{6,30}$">
                                                <div *ngIf="password.errors && password.errors.pattern" class="invalid-feedback-signup">Password must contain at least 6 characters
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="pravate-boxs-tagh">
                                            <label> Confirm Password</label>
                                            <div class="user-tag-nagme">
                                                <input type="password" class="form-control" maxlength="80" name="cpassword" [(ngModel)]="htmlOptions.cpassword" #cpassword="ngModel">
                                                <div *ngIf="f.submitted && !cpassword.valid" class="invalid-feedback-div">Confirm Password field is required</div>
                                                <div *ngIf="(Profile.password && htmlOptions.cpassword && f.submitted && htmlOptions.cpassword != Profile.password)" class="invalid-feedback-div">Password does not match the confirm password</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="pravate-boxs-tagh">
                                            <label>Location<span class="small-messge"> ( Enter the address i.e. 123
                                                    High Street, MyTown... )
                                                </span></label>
                                            <div class="user-tag-nagme">
                                                <input id="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" type="text" trim="blur" onPaste="return false" maxlength="200" class="form-control form-control-line" placeholder="Enter location"
                                                    name="location" [(ngModel)]="Profile.location" #location="ngModel">
                                                <div *ngIf="f.submitted && !location.valid" class="invalid-feedback requied-message">Location field is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="pravate-boxs-tagh">
                                            <label>Profile Image</label>
                                            <div class="user-tag-nagme">
                                                <input type="file" (change)="fileEvent($event, 'profileImage')" id="profileImage" name="profileImage" #profileImage="ngModel" [(ngModel)]="Profile.profileImage" accept="image/*">
                                                <div *ngIf="f.submitted && !profileImage.valid" class="invalid-feedback requied-message">Profile Image field is required
                                                </div>
                                            </div>
                                        </div>
                                        <!--      <div class="col-md-12" *ngIf="htmlOptions.profileImage && htmlOptions.editMode">
                                            <img src="{{htmlOptions.profileImage}}" class="img-fluid img-border edit-image">
                                        </div> -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="pravate-boxs-tagh">
                                            <label> Intro </label>
                                            <div class="user-tag-nagme">
                                                <textarea placeholder="Enter intro" class="form-control" maxlength="200" name="bio" [(ngModel)]="Profile.bio" #bio="ngModel" trim="blur"></textarea>
                                                <div *ngIf="f.submitted && !bio.valid" class="invalid-feedback-div">
                                                    Intro field is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="pravate-boxs-tagh">
                                            <label> Interests/tags </label>
                                            <div class="user-tag-nagme">

                                                <input type="text" class="form-control" maxlength="80" name="tags" [(ngModel)]="Profile.tags" placeholder="Enter Interests/tags" #tags="ngModel" trim="blur">
                                                <div *ngIf="f.submitted && !tags.valid" class="invalid-feedback-div">
                                                    Interests/tags field is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  <div class="col-md-6">
                                        <div class="pravate-boxs-tagh">
                                            <div class="checkbox-btn">
                                                <div class="custom-control custom-checkbox top-margin-10"> <input type="checkbox" class="custom-control-input" id="customCheck1" name="weeklyUpdates" [(ngModel)]="Profile.weeklyUpdates" #weeklyUpdates="ngModel">
                                                    <label class="custom-control-label" for="customCheck1">Weekly Updates</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="col-md-6">
                                        <div class="pravate-boxs-tagh">
                                            <div class="checkbox-btn">
                                                <div class="custom-control custom-checkbox top-margin-10"> <input type="checkbox" class="custom-control-input" id="customCheck2" name="isInstantAlerts" [(ngModel)]="Profile.isInstantAlerts" #isInstantAlerts="ngModel">
                                                    <label class="custom-control-label" for="customCheck2">I want to
                                                        receive instant alerts of
                                                        activities</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="edit-bnts-user">
                                            <button type="submit" class="btn-submit"><span>Update</span></button>
                                            <a (click)="cancelButton()" class="btn-cancel">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </section>
            <section *ngIf="!htmlOptions.editMode && !htmlOptions.publicProfileMode && htmlOptions.privateProfileMode">

                <div class="profile-bg-box">
                    <div class="white-bg-divs borderradus-5">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">

                                <div class="page-title-tag"> My Profile
                                    <div class="profile-rights">
                                        <a href="javascript:void(0)" (click)="editProfile(5)"><i class="material-icons">
                                                edit </i> Edit Profile</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="pravite-box-divs">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="pravate-boxs-tagh">
                                        <label> Name</label>
                                        <div class="user-tag-nagme">{{Profile.firstName}} {{Profile.lastName}}</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="pravate-boxs-tagh">
                                        <label> Username</label>
                                        <div class="user-tag-nagme">{{Profile.userName}}</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="pravate-boxs-tagh">
                                        <label> Email </label>
                                        <div class="user-tag-nagme">{{Profile.email}}</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="pravate-boxs-tagh">
                                        <label> Telephone number: </label>
                                        <div class="user-tag-nagme">{{Profile.phoneNumber}}</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="pravate-boxs-tagh">
                                        <label> Website URL </label>
                                        <div class="user-tag-nagme">{{Profile.websiteUrl}}</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="pravate-boxs-tagh">
                                        <label> Instant updates: </label>
                                        <div class="user-tag-nagme" *ngIf="Profile.isInstantAlerts">Yes</div>
                                        <div class="user-tag-nagme" *ngIf="!Profile.isInstantAlerts">No</div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="pravate-boxs-tagh">
                                        <label> Intro </label>
                                        <div class="user-tag-nagme">{{Profile.bio}}</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="pravate-boxs-tagh">
                                        <label> Interests/tags </label>
                                        <div class="user-tag-nagme">{{Profile.tags}}</div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="activity-box" *ngIf="publicProfileData">
                                        <div class="avctive-tabs">Recent activity</div>
                                        <!-- Activity -->
                                        <div class="post-box-div">
                                            <ul class="publicProOuter">
                                                <li *ngFor="let profileActivity of profileActivityData | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                                                    <span *ngIf="profileActivity.activityType == 'offer'"> <i
                                                            class="material-icons"> edit</i>
                                                        <span>Added new offer <a
                                                                routerLink="{{profileActivity.redirectUrl}}">on this
                                                                pinboard </a><span class="text-gray">
                                                                {{dateTimeCalculation(profileActivity.createdDate)}}
                                                                ago</span></span>
                                                    </span>
                                                    <span *ngIf="profileActivity.activityType == 'post'"> <i
                                                            class="material-icons"> edit</i>
                                                        <span>Added new post <a
                                                                routerLink="{{profileActivity.redirectUrl}}">on this
                                                                pinboard</a><span class="text-gray">
                                                                {{dateTimeCalculation(profileActivity.createdDate)}}
                                                                ago</span></span>
                                                    </span>
                                                    <span *ngIf="profileActivity.activityType == 'pinboard'"> <i
                                                            class="material-icons"> edit</i>
                                                        <span>Added new pinboard <a
                                                                routerLink="{{profileActivity.redirectUrl}}"> click here
                                                                to view pinboard</a><span class="text-gray">
                                                                {{dateTimeCalculation(profileActivity.createdDate)}}
                                                                ago</span></span>
                                                    </span>
                                                    <span *ngIf="profileActivity.activityType == 'comment'"> <i
                                                            class="material-icons"> chat</i>
                                                        <span>Added new comment <a
                                                                routerLink="{{profileActivity.redirectUrl}}">on this
                                                                pinboard</a><span class="text-gray">
                                                                {{dateTimeCalculation(profileActivity.createdDate)}}
                                                                ago</span></span>
                                                    </span>
                                                </li>
                                            </ul>
                                            <div class="text-right pagingBottomPadd" *ngIf="profileActivityData">
                                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                            </div>
                                        </div>
                                        <!-- Activity -->
                                    </div>
                                    <div class="activity-box" *ngIf="!profileActivityData && message">
                                        You have no public activity in the last 3 months.
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>