.goToMap {
    text-decoration: none !important;
    color: #1daa00 !important;
}

.closeBtn {
    position: absolute;
    right: -8px;
    top: -8px;
    border-radius: 50%;
    border: none;
    background: #1daa00;
    color: #fff;
}

@media (max-width: 767px) {
    .solcil-links ul li>a {
        padding: 7px 20px !important;
        font-size: 18px !important;
    }
    .solcil-links ul li {
        margin: 5px 5px;
    }
}