<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<app-header></app-header>
<app-local-history></app-local-history>
<section class="h-bg-pinborad">
    <div class="pop-white-bg">
        <div class="logo-topbar">
            <img class="logo-pin" src="assets/images/logo-pin.png">
        </div>
        <div class="form-line-group">
            <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
                <h4>Login to create content, or return to <a class="goToMap" routerLink="/">map</a></h4>
                <label>
          <p class="label-txt">Email/Username<span class="req">*</span></p>
          <input type="text" maxlength="80" name="userName" trim="blur" [(ngModel)]="user.userName" #userName="ngModel" required>
              <div class="line-box">
                <div class="line"></div>
              </div>
          <div *ngIf="f.submitted && !userName.valid" class="invalid-feedback-signup">Email/Username field is required</div>
        </label>

                <label>
          <p class="label-txt">Password<span class="req">*</span></p>
          <input type="password" maxlength="80" name="password" [(ngModel)]="user.password" #password="ngModel" trim="blur" required>
          <div class="line-box">
            <div class="line"></div>
          </div>
          <div *ngIf="f.submitted && !password.valid" class="invalid-feedback-signup">Password field is required</div>
        </label>

                <div class="rwo-forget-adn">
                    <div class="custom-control custom-checkbox inline-block"> <input type="checkbox" class="custom-control-input" id="customCheck1" name="rememberMe" [(ngModel)]="user.rememberMe" #rememberMes="ngModel" checked>
                        <label class="custom-control-label remove-space-label" for="customCheck1">Remember me</label>
                    </div>
                    <div class="for-get-link">
                        <a routerLink="/forgot-password">Forgot password?</a>
                    </div>
                </div>
                <div class="submit-btns">
                    <button type="submit"><span>Login</span></button>
                </div>
                <!--  <div class="login-with">
                    <span> Or Login with</span>
                    <div class="line-hr"></div>
                </div> -->
                <!-- <div class="solcil-links">
                    <ul>
                        <li>
                            <a href="javascript:void(0)" class="fb" (click)="socialLoginPopup('facebook')">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="gp" (click)="socialLoginPopup('google')">
                                <i class="fa fa-google" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="tw" (click)="socialLoginPopup('twitter')">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="{{returnUrl}}" id="redirectToProfile" style="display:none;">Profile</a>
                        </li>
                    </ul>
                </div> -->
                <div class="singup-lins">
                    New user?
                    <span>
            <a routerLink="/signup">Sign up</a>
          </span> here.

                </div>
            </form>
        </div>
    </div>
</section>
<!-- [hidden]="true" -->
<a href="javascript:void(0)" id="openExtraSetailsPopup" [hidden]="true" data-toggle="modal" data-target="#extraFields">click here</a>

<div class="modal fade" id="extraFields" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center no-pinBoardPopup">
                <div class="form-line-group">
                    <a href="javascript:void(0)" data-dismiss="modal" class="btn btn-primary closeBtn"> <i class="fa fa-times"></i> </a>
                    <H4>Please enter below details </H4>
                    <form class="form-horizontal form-material" name="emailForm" #f1="ngForm" (ngSubmit)="f1.form.valid && socialUserLogin()" novalidate>
                        <label>
              <p class="label-txt">Email<span class="req">*</span></p>
              <input type="text" maxlength="80" name="newEmail" [(ngModel)]="userEmailnUsername.newEmail" #newEmail="ngModel" trim="blur"
                pattern='^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
                required>
              <div class="line-box">
                <div class="line"></div>
              </div>
              <div *ngIf="f1.submitted && !newEmail.valid && !newEmail.errors.pattern" class="invalid-feedback-signup text-left">Email field is required</div>
              <div *ngIf="newEmail.errors && newEmail.errors.pattern" class="invalid-feedback-signup text-left">Please enter a valid email address
              </div>

            </label>
                        <label>
              <p class="label-txt">Choose your StreetPin Username<span class="req">*</span></p>
              <input type="text" maxlength="80" name="newUserName" trim="blur" [(ngModel)]="userEmailnUsername.newUserName" #newUserName="ngModel"
                required>
              <div class="line-box">
                <div class="line"></div>
              </div>
              <div *ngIf="f1.submitted && !newUserName.valid" class="invalid-feedback-signup text-left">Username field is required</div>
            </label>
                        <div class="submit-btns mar-top">
                            <button id="buttonDisabled" type="submit" class="btn btn-primary">
                <span>submit</span> </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>