<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<app-header></app-header>
<app-local-history></app-local-history>
<div class="h-bg-pinborad sapce-pinborad-screen">
    <div class="profile-bg-dashbord">
        <div class="leftmenu-pinboard">
            <app-profile-sidebar (changeModule)="changeModule($event)"></app-profile-sidebar>
        </div>
        <div class="righ-main-box-bg">
            <section *ngIf="!htmlOptions.editMode && !htmlOptions.viewMode">
                <div class="row">
                    <div class="col-md-12">
                        <div class="subscton-table-div">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="page-title-tag">My Posts
                                        <!-- <div class="profile-rights">
											<a href="javascript:void(0)" (click)="addPost()">
												<i class="material-icons">add </i> Add
											Post</a>
										</div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">

                                <table class="table table-bordered" style="min-width: 500px;">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Post Text</th>
                                            <th scope="col">Pinboard name</th>
                                            <th scope="col">Created date</th>
                                            <th scope="col">Expiry date</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="postData">
                                        <tr *ngFor="let post of postData | paginate: { itemsPerPage: 10, currentPage: pp }; index as i">
                                            <td scope="row">{{ (pp - 1) * 10 + i + 1 }}</td>
                                            <td class="post-text-ds">{{post.description}}</td>
                                            <td>{{post.pinboardTitle}}</td>
                                            <td>{{dateToUK(post.createdDate)}}</td>
                                            <td>{{dateToUK(post.expiryDate)}}</td>
                                            <!-- <td>{{dateFormate(post.createdDate)}}</td>
											<td>{{dateFormate(post.expiryDate)}}</td> -->
                                            <td class="whiteSpaceNowrap">
                                                <a class="view-more-btn" title="Click here to activate" *ngIf="!post.isActive" href="javascript:void(0)" (click)="postAction(post.id, 'active')">
                                                    <i class="fa fa-ban" aria-hidden="true"></i></a>
                                                <a class="view-more-btn" title="Click here to deactivate" *ngIf="post.isActive" href="javascript:void(0)" (click)="postAction(post.id, 'inactive')">
                                                    <i class="fa fa-check-square" aria-hidden="true"></i></a>
                                                <a class="view-more-btn" title="Click here to edit" (click)="editPost(post.id)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                <a class="view-more-btn" title="Click here to delete" href="javascript:void(0)" (click)="postAction(post.id, 'delete')"><i
														class="fa fa-trash-o" aria-hidden="true"></i></a>

                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="!postData">
                                        <tr>
                                            <td colspan="6" class="text-center">No Records Found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-right" *ngIf="postData">
                                <pagination-controls (pageChange)="pp = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section *ngIf="htmlOptions.editMode">
                <div class="row">
                    <div class="user-tag-nagme">
                        <div class="subscton-table-div">
                            <div class="table-responsive-sm">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="page-title-tag">My Post
                                            <div class="profile-rights">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
                                    <div class="row">
                                        <!-- <div class="col-md-6">
											<div class="pravate-boxs-tagh">
												<label>Post Title<span class="req">*</span></label>
												<div class="user-tag-nagme">
													<input type="text" trim="blur" maxlength="100"
														class="form-control form-control-line"
														placeholder="Enter Post Title" name="title"
														[(ngModel)]="Post.title" #title="ngModel" required>
													<div *ngIf="f.submitted && !title.valid"
														class="invalid-feedback requied-message">Post Title
														field is required</div>
												</div>
											</div>
										</div> -->

                                        <div class="col-md-12">
                                            <div class="pravate-boxs-tagh">
                                                <label>Post Text<span class="req">*</span></label>
                                                <div class="user-tag-nagme">
                                                    <textarea trim="blur" maxlength="500" class="form-control form-control-line" placeholder="Enter Description" name="description" [(ngModel)]="Post.description" #description="ngModel" required>{{Post.description}}</textarea>
                                                    <div *ngIf="f.submitted && !description.valid" class="invalid-feedback requied-message">
                                                        Post Text field is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Category<span class="req">*</span></label>
                                                <div class="user-tag-nagme">
                                                    <select (change)="onCategoryChange($event)" class="form-control slect-border" name="categoryId" [(ngModel)]="Post.categoryId" #categoryId="ngModel" required>
														<option value="" selected>Please Select</option>
														<option *ngFor="let category of categorydata" [ngValue]=category.categoryId>
															{{category.categoryName}}
														</option>
													</select>
                                                    <div *ngIf="f.submitted && !categoryId.valid" class="invalid-feedback requied-message">
                                                        Category field is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Expiry time<span class="req">*</span></label>
                                                <div class="user-tag-nagme">
                                                    <select (change)="onCategoryChange($event)" class="form-control slect-border" name="expiryTimePeriod" [(ngModel)]="Post.expiryTimePeriod" #expiryTimePeriod="ngModel" required>
														<option value="" selected>Please Select</option>
														<option value="1">1 hour</option>
														<option value="2">Midnight</option>
														<option value="3">1 week (Default)</option>
														<option value="4">1 month</option>
														<option value="5">3 months (maximum)</option>
													</select>
                                                    <div *ngIf="f.submitted && !expiryTimePeriod.valid" class="invalid-feedback requied-message">
                                                        Expiry time field is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Post Image<span class="small-messge"> ( Ensure you have the rights to use this )
													</span></label>
                                                <div class="user-tag-nagme">
                                                    <!-- <input type="file" > -->
                                                    <input type="file" (change)="fileEvent($event, 'image')" id="image" name="image" #image="ngModel" [(ngModel)]="Post.image" accept="image/*">
                                                    <div *ngIf="f.submitted && !image.valid" class="invalid-feedback requied-message">Offer Image field is required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="innner-img-outer-box" *ngIf="htmlOptions.image && htmlOptions.editMode">
                                                <img src="{{htmlOptions.image}}" class="img-fluid img-border edit-image">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Services<span class="req">*</span><span class="small-messge"> (
														Add # to each service i.e.
														#breakfast to help users find you ) </span></label>
                                                <div class="user-tag-nagme">
                                                    <input type="text" trim="blur" maxlength="80" class="form-control form-control-line" placeholder="Enter Services(Hashtags)" name="tags" [(ngModel)]="Post.tags" #tags="ngModel" required>
                                                    <div *ngIf="f.submitted && !tags.valid" class="invalid-feedback requied-message">
                                                        Services field is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="edit-bnts-user">
                                                <button type="submit" class="btn-submit">
													<span *ngIf="!this.htmlOptions.button">Save</span>
													<span *ngIf="this.htmlOptions.button">Update</span>
												</button>
                                                <a (click)="cancelButton()" class="btn-cancel">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>