  @media all and (max-width: 767px) {
  .post-text-ds {
    word-wrap: break-word !important;
    max-width: 280px !important;
    min-width: 300px !important;
    white-space: normal !important;
    text-align: justify;

}
  }


