<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<app-header></app-header>
<section class="gray-bg">
    <div class="top-greeen-header top-space-outer">
        <h1>About</h1>
    </div>
    <div *ngIf="PageData">
        <div *ngFor="let page of PageData; index as i">
            <div class="white-bg" *ngIf="i % 2 == 0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6" *ngIf="page.imageUrl">
                            <div class="div-abouts">
                                <img src="{{page.imageUrl}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-texts">
                                <h2>{{page.title}}</h2>
                                <div [innerHTML]="page.content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gray-bg ptb-50" *ngIf="i % 2 != 0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about-texts">
                                <h2>{{page.title}}</h2>
                                <div [innerHTML]="page.content"></div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="page.imageUrl">
                            <div class="div-abouts">
                                <img src="{{page.imageUrl}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!PageData">
        <div class="col-md-12">
            <div class="text-center no-recod-box">
                <p>No record found </p>
            </div>
        </div>
    </div>
</section>