<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<app-header></app-header>
<section class="h-bg-pinborad">
    <div class="pop-white-bg">
        <div class="logo-topbar"><img class="logo-pin" src="assets/images/logo-pin.png"></div>
        <div class="heding-forms"> Reset Password</div>
        <div class="form-line-group">
            <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
                <label>
        <p class="label-txt">Password<span class="req">*</span></p>
        <input type="password" maxlength="80" name="password" [(ngModel)]="user.password" #password="ngModel" pattern="^[0-9,a-z,A-Z,@,#,$,^,!,%,&,*]{6,30}$"
          required>
            <div class="line-box">
              <div class="line"></div>
            </div>
        <div *ngIf="f.submitted && !password.valid && !password.errors.pattern" class="invalid-feedback-signup">Password
          field is required</div>
      <div *ngIf="password.errors && password.errors.pattern" class="invalid-feedback-signup">Password must contain at least 6 characters</div>

      </label>
                <label>
        <p class="label-txt top-margin-password">Confirm Password<span class="req">*</span></p>
        <input type="password" maxlength="80" name="cpassword" [(ngModel)]="htmlOptions.cpassword" #cpassword="ngModel"
          required>
          <div class="line-box">
            <div class="line"></div>
          </div>
        <div *ngIf="f.submitted && !cpassword.valid" class="invalid-feedback-signup">Confirm Password field is required</div>
        <div *ngIf="(cpassword.valid && f.submitted && htmlOptions.cpassword != user.password)" class="invalid-feedback-signup">Password
          does not match the confirm password</div>

      </label>
                <div class="submit-btns">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>