<header class="binboard-hd">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-4 mobile-space-ds">
                <div class="logo">
                    <a href="/"><img src="assets/images/logo.png"></a>
                </div>
            </div>
            <div class="col-md-9 col-8">
                <div class="right-header">
                    <app-menu></app-menu>
                    <div class="serch-bar">
                        <!-- <form>
                                <input type="text" trim="blur" onPaste="return false" class="form-control" placeholder="Search Location" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"  maxlength="50" class="form-control form-control-line" placeholder="Enter location"
                                    name="location" (onAddressChange)="handleAddressChange($event)" />
                                <a href="#" class="serach-icons"><i class="material-icons">search</i></a>
                            </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>