<ngx-spinner id="testspiner" [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<app-header></app-header>
<div id="error_box">

</div>
<app-local-history></app-local-history>
<div class="h-bg-pinborad sapce-pinborad-screen">
    <div class="profile-bg-dashbord">
        <div class="leftmenu-pinboard">
            <app-profile-sidebar (changeModule)="changeModule($event)"></app-profile-sidebar>
        </div>
        <div class="righ-main-box-bg marTop20">
            <section *ngIf="!htmlOptions.editMode && !htmlOptions.viewMode">
                <div class="row">
                    <div class="col-md-12">
                        <div class="subscton-table-div">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="page-title-tag">My Pinboards
                                        <div class="profile-rights">
                                            <a href="javascript:void(0)" (click)="addPinboard()"><i class="material-icons"> add </i> Add Pinboard</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">

                                <table class="table table-bordered" style="min-width: 500px;">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Title</th>
                                            <!-- <th scope="col">Location</th> -->
                                            <th scope="col">Category</th>
                                            <!-- <th scope="col">Created date</th> -->
                                            <th scope="col">Expiry date</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="pinboardArr">
                                        <tr *ngFor="let pinboard of pinboardArr | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                                            <td scope="row">{{ (p - 1) * 10 + i + 1 }}</td>
                                            <td>{{pinboard.title}}</td>
                                            <!-- <td>{{pinboard.businessInformation.location}}</td> -->
                                            <td>{{pinboard.categoryName}}</td>
                                            <!-- <td>{{pinboard.createdDate | date: 'dd-MM-yyyy'}}</td> -->
                                            <td>{{dateFormate(pinboard.expiryDate)}}</td>
                                            <td *ngIf="!pinboard.pinboardStatus"></td>
                                            <td *ngIf="pinboard.pinboardStatus==1">Draft</td>
                                            <td *ngIf="pinboard.pinboardStatus==2">Published</td>
                                            <td *ngIf="pinboard.pinboardStatus==3">Expired</td>

                                            <td *ngIf="pinboard.pinboardStatus!=3" style="white-space: nowrap;" class="whiteSpaceNowrap">
                                                <a class="view-more-btn" title="Click here to activate" *ngIf="!pinboard.isActive" href="javascript:void(0)" (click)="pinboardAction(pinboard.id, 'active')">
                                                    <i class="fa fa-ban" aria-hidden="true"></i></a>
                                                <!-- edit -->
                                                <a class="view-more-btn" title="Click here to deactivate" *ngIf="pinboard.isActive" href="javascript:void(0)" (click)="pinboardAction(pinboard.id, 'inactive')">
                                                    <i class="fa fa-check-square" aria-hidden="true"></i></a>
                                                <a class="view-more-btn" title="Click here to edit" href="javascript:void(0)" (click)="editPinboard(pinboard.id)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                <!-- delete -->
                                                <a class="view-more-btn" title="Click here to delete" href="javascript:void(0)" (click)="pinboardAction(pinboard.id, 'delete')"><i
													class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                <!-- view -->
                                                <a *ngIf="pinboard.type==1" class="view-more-btn" title="Click here to view/preview content" routerLink="/pinboard/{{pinboard.categoryName}}/{{pinboard.pinboardName}}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a *ngIf="pinboard.type!=1" class="view-more-btn" title="Click here to view/preview content" routerLink="/pinboard/{{pinboard.pinboardName}}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <!-- clone -->
                                                <a class="view-more-btn" href="javascript:void(0)" title="Click here to clone pinboard" (click)="clonePinboard(pinboard.id)"><i class="fa fa-clone " aria-hidden="true"></i></a>
                                                <!-- upgrade -->
                                                <a *ngIf="(pinboard.pinboardStatus==2 && pinboard.type==1) || (pinboard.pinboardStatus==1) || (pinboard.pinboardStatus==3)" class="view-more-btn" href="javascript:void(0)" title="Click here to Upgrade/Renew" (click)="editPinboard(pinboard.id)"><i class="fa fa-credit-card " aria-hidden="true"></i></a>
                                            </td>
                                            <td *ngIf="pinboard.pinboardStatus==3" style="white-space: nowrap;" class="whiteSpaceNowrap">
                                                <a *ngIf="(pinboard.pinboardStatus==2 && pinboard.type==1) || (pinboard.pinboardStatus==1) || (pinboard.pinboardStatus==3)" class="view-more-btn" href="javascript:void(0)" title="Click here to Upgrade/Renew" (click)="renewPinboard(pinboard.id)"><i class="fa fa-credit-card " aria-hidden="true"></i></a>
                                                <a class="view-more-btn" title="Click here to delete" href="javascript:void(0)" (click)="pinboardAction(pinboard.id, 'delete')"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="!pinboardArr">
                                        <tr>
                                            <td colspan="6" class="text-center">No Records Found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-right" *ngIf="pinboardArr">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section *ngIf="htmlOptions.editMode">
                <div class="row">
                    <div class="user-tag-nagme">
                        <div class="subscton-table-div">
                            <div class="table-responsive-sm">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="page-title-tag">My Pinboards
                                            <div class="profile-rights">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 m-b-2" *ngIf="isValid">
                                    <div class="reqAttan"> <i class="fa fa-exclamation-triangle"></i> There are items that require your attention</div>
                                </div>
                                <!-- <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="onSubmit(f.form)" novalidate> -->
                                <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="compressAndUploadFile(f.form)" novalidate (keydown.enter)="$event.preventDefault()">
                                    <!--  <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate> -->

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Title<span class="req">*</span></label>
                                                <div class="user-tag-nagme">
                                                    <input type="text" trim="blur" maxlength="80" class="form-control form-control-line" placeholder="Enter Title" name="title" [(ngModel)]="pinboard.title">
                                                    <!-- <div *ngIf="f.submitted && !title.valid" class="invalid-feedback requied-message"> <i class="fa fa-exclamation-triangle"></i> Title field is required
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Category<span class="req">*</span></label>
                                                <div class="user-tag-nagme">
                                                    <select class="form-control slect-border" name="categoryId" [(ngModel)]="pinboard.categoryId" #categoryId="ngModel" required>
														<option [ngValue]="null" selected>Please Select</option>
														<option *ngFor="let category of categorydata" [ngValue]=category.categoryId>{{category.categoryName}}
														</option>
													</select>
                                                    <div *ngIf="f.submitted && !categoryId.valid" class="invalid-feedback requied-message"> <i class="fa fa-exclamation-triangle"></i> Category field is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Logo</label>
                                                <div class="user-tag-nagme">
                                                    <div class="pull-right cropImgBtnRight" *ngIf="cropImageObj.isUploadedL">
                                                        <a class="cropiimg" (click)="cropImageLogo()" href="javascript:void(0)">Crop</a>
                                                        <a class="cropCancel" href="javascript:void(0)" (click)="CancelL()" *ngIf='cropImageObj.IsCropedImageL'>Cancel</a></div>
                                                    <div class="user-tag-nagme">
                                                        <input type="file" (change)="fileChangeEvent($event, 'logo')">
                                                        <image-cropper class="source-crop-image" [imageChangedEvent]="imageChangedEventLogo" [maintainAspectRatio]="false" [aspectRatio]="16 / 12" format="png" (imageCropped)="imageCropped($event, 'logo')" [style.display]="showCropper ? null : 'none'">
                                                        </image-cropper>
                                                        <img *ngIf="cropImageObj.showL" [src]="cropImageObj.croppedImageL" width="300" />
                                                    </div>
                                                    <div class="innner-img-outer-box" *ngIf="htmlOptions.logo !='null' && htmlOptions.button">
                                                        <img src="{{htmlOptions.logo}}" class="img-fluid img-border edit-image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Background Image</label>
                                                <div class="user-tag-nagme">
                                                    <!-- <input type="file" > -->
                                                    <div class="pull-right cropImgBtnRight" *ngIf="cropImageObj.isUploadedB">
                                                        <a class="cropiimg" (click)="cropImageBackground()" href="javascript:void(0)">Crop</a>
                                                        <a class="cropCancel" href="javascript:void(0)" (click)="CancelB()" *ngIf='cropImageObj.IsCropedImageB'>Cancel</a></div>
                                                    <div class="user-tag-nagme">
                                                        <input type="file" (change)="fileChangeEvent($event, 'backgroundImage')">
                                                        <image-cropper class="source-crop-image" [imageChangedEvent]="imageChangedEventBackground" [maintainAspectRatio]="false" [aspectRatio]="16 / 12" format="png" (imageCropped)="imageCropped($event,'backgroundImage')" [style.display]="showCropper ? null : 'none'">
                                                        </image-cropper>
                                                        <img *ngIf="cropImageObj.showB" [src]="cropImageObj.croppedImageB" width="300" />
                                                    </div>

                                                    <div class="innner-img-outer-box" *ngIf="htmlOptions.backgroundImage!='null' && htmlOptions.button">
                                                        <img src="{{htmlOptions.backgroundImage}}" class="img-fluid img-border edit-image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" *ngIf="!pinboard.isPaid">
                                            <div class="pravate-boxs-tagh">
                                                <label>Create a FREE Pinboard at your current location, or subscribe to a Pinboard that you control completely?<span class="req">*</span></label>
                                                <div>
                                                    <select class="form-control slect-border" name="pintype1" (ngModelChange)="pinboardType($event)" [(ngModel)]="pinboard.type" #pintype1="ngModel" required>
														<option [ngValue]="null">Please Select</option>
														<option [ngValue]="1">Free </option>
														<option [ngValue]="2">Subscribe </option>
													</select>
                                                    <div *ngIf="f.submitted && !pintype1.valid" class="invalid-feedback requied-message"> <i class="fa fa-exclamation-triangle"></i> Type field is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" *ngIf="pinboard.isPaid">
                                            <div class="pravate-boxs-tagh">
                                                <label>Create a FREE Pinboard at your current location, or subscribe to a Pinboard that you control
													completely?<span class="req">*</span></label>
                                                <div>
                                                    <select class="form-control slect-border" name="pintype1" (ngModelChange)="pinboardType($event)" [(ngModel)]="pinboard.type" #type1="ngModel" required>
														<option [ngValue]="null">Please Select</option>
														<option [ngValue]="2">Subscribe </option>
													</select>
                                                    <div *ngIf="f.submitted && !type1.valid" class="invalid-feedback requied-message"> <i class="fa fa-exclamation-triangle"></i> Type field is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Location<span class="req">*</span><span class="small-messge"> ( Enter the address i.e. 123
														High Street, MyTown... ) NB Free Pinboards can only be created within 250m of your current location </span></label>
                                                <div class="user-tag-nagme">

                                                    <!-- <input id="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" type="text" trim="blur" onPaste="return false" maxlength="250" class="form-control form-control-line" placeholder="Enter location"
                                                        name="location" [(ngModel)]="pinboard.businessInformation.location" #location="ngModel" required> -->

                                                    <input id="us3-address" type="text" trim="blur" class="form-control form-control-line" placeholder="Enter location" name="location" [(ngModel)]="pinboard.businessInformation.location" #location="ngModel" required>
                                                    <div id="us3" style=" height: 400px;"></div>


                                                    <!--   <input type="text" class="form-control" style="width: 110px" id="us3-lat" [hidden]="true" name="title" [(ngModel)]="pinboard.latitude" #latitude="ngModel" />
                                                    <input type="text" class="form-control" style="width: 110px" id="us3-lon" [hidden]="true" name="title" [(ngModel)]="pinboard.longitude" #longitude="ngModel" /> -->


                                                    <div *ngIf="f.submitted && !location.valid" class="invalid-feedback requied-message"> <i class="fa fa-exclamation-triangle"></i> Location field is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="pravate-boxs-tagh">
                                                <label>Tell everyone what your community is about<span class="req">*</span></label>
                                                <div class="user-tag-nagme">
                                                    <textarea placeholder="Enter Bio" class="form-control" maxlength="500" name="bio" [(ngModel)]="pinboard.businessInformation.about" #about="ngModel" trim="blur" required></textarea>
                                                    <div *ngIf="f.submitted && !about.valid" class="invalid-feedback requied-message"> <i class="fa fa-exclamation-triangle"></i> Bio field is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Services<span class="req">*</span><span class="small-messge"> ( Add # to each service i.e.
														#breakfast to help users find you )</span></label>
                                                <div class="user-tag-nagme">
                                                    <textarea placeholder="Enter Services(Hashtags)" class="form-control" maxlength="100" name="servicesHashtags" [(ngModel)]="pinboard.businessInformation.servicesHashtags" #servicesHashtags="ngModel" trim="blur" required></textarea>
                                                    <!-- <input type="text" trim="blur" maxlength="50" class="form-control form-control-line" placeholder="Enter Services(Hashtags)"
													 name="servicesHashtags" [(ngModel)]="pinboard.businessInformation.servicesHashtags" #servicesHashtags="ngModel"
													 required> -->
                                                    <div *ngIf="f.submitted && !servicesHashtags.valid" class="invalid-feedback requied-message"> <i class="fa fa-exclamation-triangle"></i> Services field is required</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Website URL</label>
                                                <div class="user-tag-nagme">
                                                    <input type="text" trim="blur" maxlength="200" class="form-control form-control-line" placeholder="Enter Website URL" name="website" [(ngModel)]="pinboard.businessInformation.website" #website="ngModel">
                                                    <div *ngIf="f.submitted && !website.valid" class="invalid-feedback requied-message"> <i class="fa fa-exclamation-triangle"></i> Website URL field is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Email</label>
                                                <div class="user-tag-nagme">
                                                    <input type="text" trim="blur" pattern='^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' maxlength="100" class="form-control form-control-line" placeholder="Enter Email"
                                                        name="email" [(ngModel)]="pinboard.businessInformation.email" #email="ngModel">
                                                    <div *ngIf="f.submitted && !email.valid && !email.errors.pattern" class="invalid-feedback requied-message"> <i class="fa fa-exclamation-triangle"></i> Email field is required
                                                    </div>
                                                    <div *ngIf="email.errors && email.errors.pattern" class="invalid-feedback requied-message"> <i class="fa fa-exclamation-triangle"></i> Please enter a valid email</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Phone Number</label>
                                                <div class="user-tag-nagme">
                                                    <input type="text" pattern="^[0-9 _]*$" minlength=5 maxlength=20 class="form-control form-control-line" placeholder="Enter Phone Number" name="phone" [(ngModel)]="pinboard.businessInformation.phone" #phone="ngModel">
                                                    <div *ngIf="f.submitted && !phone.valid && !phone.errors.pattern && (!f.controls['phone'].hasError('minlength') || f.controls['phone'].hasError('maxlength'))" class="invalid-feedback requied-message"> <i class="fa fa-exclamation-triangle"></i> Phone number field is required</div>
                                                    <div *ngIf="f.submitted && !phone.valid && f.controls['phone'].hasError('minlength') && !phone.errors.pattern" class="invalid-feedback requied-message"> <i class="fa fa-exclamation-triangle"></i> Please Enter a valid phone number
                                                    </div>
                                                    <div *ngIf="f.submitted && !phone.valid && f.controls['phone'].hasError('maxlength') && !phone.errors.pattern" class="invalid-feedback requied-message"> <i class="fa fa-exclamation-triangle"></i> Please Enter a valid phone number
                                                    </div>
                                                    <div *ngIf="phone.errors && phone.errors.pattern" class="invalid-feedback requied-message"> <i class="fa fa-exclamation-triangle"></i> Please enter a valid Phone Number</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <div class="checkbox-btn">
                                                    <div class="custom-control custom-checkbox">
                                                        <input [readonly]="freeType == true ? true:false" type="checkbox" class="custom-control-input" id="customCheck1" name="isAllowPosts" [(ngModel)]="pinboard.isAllowPosts" #isAllowPosts="ngModel" [checked]>
                                                        <label class="custom-control-label" for="customCheck1">Enable others to add posts</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <div class="checkbox-btn">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck2" name="isAlllowOffers" [(ngModel)]="pinboard.isAlllowOffers" #isAlllowOffers="ngModel" [checked]>
                                                        <label class="custom-control-label" for="customCheck2">Enable others to add offers and get a FREE offer credit for every 5 posted.</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" *ngIf="pinboard.type == 2">
                                            <div class="pravate-boxs-tagh">
                                                <label>Disallowed Competing categories</label>
                                                <div class="user-tag-nagme">
                                                    <ng-multiselect-dropdown [placeholder]="'Select Competing categories'" name='competingCategoriesList' [data]="dropdownList" [(ngModel)]="pinboard.competingCategoriesList" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                                    </ng-multiselect-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-6" *ngIf="pinboard.type == 2">
											<div class="pravate-boxs-tagh">
												<label>Custom Pinboard icon<span class="small-messge"> ( Pinboard icon must be square and width and height should be less then 55px )</span></label>
												<div *ngIf="this.htmlOptions.button" class="user-tag-nagme">

													<input type="file" (change)="fileEvent($event, 'categoryImage')" id="categoryImage" name="categoryImage" #categoryImage="ngModel"
														[(ngModel)]="pinboard.categoryImage" accept="image/*">
													<div *ngIf="f.submitted && !categoryImage.valid" class="invalid-feedback requied-message"> <i class="fa fa-exclamation-triangle"></i> Logo field is required
													</div>
												</div>
												<div *ngIf="!this.htmlOptions.button" class="user-tag-nagme">

													<input type="file" (change)="fileEvent($event, 'categoryImage')" id="categoryImage" name="categoryImage" #categoryImage="ngModel"
														[(ngModel)]="pinboard.categoryImage" accept="image/*">
													<div *ngIf="f.submitted && !categoryImage.valid" class="invalid-feedback requied-message"> <i class="fa fa-exclamation-triangle"></i> Logo field is required
													</div>
												</div>

												<div class="innner-img-outer-box" *ngIf="htmlOptions.categoryImage !='null' && htmlOptions.button">

													<img src="{{htmlOptions.categoryImage}}" class="img-fluid img-border edit-image">

												</div>
											</div>
										</div> -->
                                        <div class="col-md-12">
                                            <div class="pravate-boxs-tagh">
                                                <label>Opening Hours</label>
                                                <div class="user-tag-nagme">
                                                    <div>
                                                        <!-- <p-checkbox onChange="changeEvent($event)" name="openingHoursMon" value="mon" label="Monday" [(ngModel)]="openingTime.mon.checked"></p-checkbox> -->

                                                        <div class="row row-space-outer">
                                                            <div class="col-md-4 col-lg-2 col-sm-5">
                                                                <input type="checkbox" name="openingHoursMon" [(ngModel)]="openingTime.mon.checked" (ngModelChange)="onFilterChange($event, 'mon')" /> Monday
                                                            </div>
                                                            <div class="col-sm-6 col-lg-10 col-md-8">
                                                                From:
                                                                <select name="monstart" [(ngModel)]="openingTime.mon.start" #type="ngModel" (ngModelChange)="fromChange($event)">
																		<option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
																			{{time.hours}}
																		</option>
																	</select> - To:
                                                                <select name="monend" [(ngModel)]="openingTime.mon.end" #type="ngModel">
																		<option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
																			{{time.hours}}
																		</option>
																	</select>
                                                            </div>

                                                        </div>

                                                        <div class="row row-space-outer">
                                                            <div class="col-md-4 col-lg-2 col-sm-5">
                                                                <input type="checkbox" name="openingHoursTue" [(ngModel)]="openingTime.tue.checked" (ngModelChange)="onFilterChange($event, 'tue')" /> Tuesday
                                                            </div>
                                                            <div class="col-sm-6 col-lg-10 col-md-8">
                                                                From:
                                                                <select name="tuestart" [(ngModel)]="openingTime.tue.start" #type="ngModel" (ngModelChange)="fromChange($event)">
																		<option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
																			{{time.hours}}
																		</option>
																	</select> - To:
                                                                <select name="tueend" [(ngModel)]="openingTime.tue.end" #type="ngModel">
																		<option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
																			{{time.hours}}
																		</option>
																	</select>
                                                            </div>

                                                        </div>

                                                        <div class="row row-space-outer">
                                                            <div class="col-md-4 col-lg-2 col-sm-5">
                                                                <input type="checkbox" name="openingHoursWed" [(ngModel)]="openingTime.wed.checked" (ngModelChange)="onFilterChange($event, 'wed')" /> Wednesday
                                                            </div>
                                                            <div class="col-sm-6 col-lg-10 col-md-8">
                                                                From:
                                                                <select name="wedstart" [(ngModel)]="openingTime.wed.start" #type="ngModel" (ngModelChange)="fromChange($event)">
																		<option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
																			{{time.hours}}
																		</option>
																	</select> - To:
                                                                <select name="wedend" [(ngModel)]="openingTime.wed.end" #type="ngModel">
																		<option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
																			{{time.hours}}
																		</option>
																	</select>
                                                            </div>

                                                        </div>

                                                        <div class="row row-space-outer">
                                                            <div class="col-md-4 col-lg-2 col-sm-5">
                                                                <input type="checkbox" name="openingHoursThu" [(ngModel)]="openingTime.thu.checked" (ngModelChange)="onFilterChange($event, 'thu')" /> Thursday
                                                            </div>
                                                            <div class="col-sm-6 col-lg-10 col-md-8">
                                                                From:
                                                                <select name="thustart" [(ngModel)]="openingTime.thu.start" #type="ngModel" (ngModelChange)="fromChange($event)">
																		<option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
																			{{time.hours}}
																		</option>
																	</select> - To:
                                                                <select name="thuend" [(ngModel)]="openingTime.thu.end" #type="ngModel">
																		<option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
																			{{time.hours}}
																		</option>
																	</select>
                                                            </div>


                                                        </div>

                                                        <div class="row row-space-outer">
                                                            <div class="col-md-4 col-lg-2 col-sm-5">
                                                                <input type="checkbox" name="openingHoursFri" [(ngModel)]="openingTime.fri.checked" (ngModelChange)="onFilterChange($event, 'fri')" /> Friday
                                                            </div>
                                                            <div class="col-sm-6 col-lg-10 col-md-8">
                                                                From:
                                                                <select name="fristart" [(ngModel)]="openingTime.fri.start" #type="ngModel" (ngModelChange)="fromChange($event)">
																		<option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
																			{{time.hours}}
																		</option>
																	</select> - To:
                                                                <select name="friend" [(ngModel)]="openingTime.fri.end" #type="ngModel">
																		<option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
																			{{time.hours}}
																		</option>
																	</select>
                                                            </div>

                                                        </div>

                                                        <div class="row row-space-outer">
                                                            <div class="col-md-4 col-lg-2 col-sm-5">
                                                                <input type="checkbox" name="openingHoursSat" [(ngModel)]="openingTime.sat.checked" (ngModelChange)="onFilterChange($event, 'sat')" /> Saturday
                                                            </div>
                                                            <div class="col-sm-6 col-lg-10 col-md-8">
                                                                From:
                                                                <select name="satstart" [(ngModel)]="openingTime.sat.start" #type="ngModel" (ngModelChange)="fromChange($event)">
																		<option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
																			{{time.hours}}
																		</option>
																	</select> - To:
                                                                <select name="satend" [(ngModel)]="openingTime.sat.end" #type="ngModel">
																		<option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
																			{{time.hours}}
																		</option>
																	</select>
                                                            </div>

                                                        </div>

                                                        <div class="row row-space-outer">
                                                            <div class="col-md-4 col-lg-2 col-sm-5">
                                                                <input type="checkbox" name="openingHoursSun" [(ngModel)]="openingTime.sun.checked" (ngModelChange)="onFilterChange($event, 'sun')" /> Sunday
                                                            </div>
                                                            <div class="col-sm-6 col-lg-10 col-md-8">
                                                                From:
                                                                <select name="sunstart" [(ngModel)]="openingTime.sun.start" #type="ngModel" (ngModelChange)="fromChange($event)">
																		<option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
																			{{time.hours}}
																		</option>
																	</select> - To:
                                                                <select name="sunend" [(ngModel)]="openingTime.sun.end" #type="ngModel">
																		<option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
																			{{time.hours}}
																		</option>
																	</select>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" *ngIf="pinboard.type == 2 && !pinboard.isPaid">
                                            <div class="pravate-boxs-tagh">
                                                <label>Subscription plan<span class="req">*</span></label>
                                                <div>
                                                    <select class="form-control slect-border" name="subscriptionPlanId" (ngModelChange)="pinboardPlan($event)" [(ngModel)]="pinboard.subscriptionPlanId" #subscriptionPlanId="ngModel" required>
                                                        <option [ngValue]='null' selected>Please Select</option>
                                                        <option *ngFor="let subscription of subscriptionArr" [ngValue]=subscription.planId>{{subscription.planName}} ( &pound;{{subscription.planAmount}} )
                                                        </option>
														<!-- <option [ngValue]="1">Standard pinboards ( &pound;120) </option>
														<option [ngValue]="2">Event pinboard ( &pound;25) </option> -->
													</select>
                                                    <div *ngIf="f.submitted && !subscriptionPlanId.valid" class="invalid-feedback requied-message"> <i class="fa fa-exclamation-triangle"></i> Subscription plan field is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" *ngIf="pinboard.type == 2 && pinboard.subscriptionPlanId == 2 && !pinboard.isPaid">
                                            <div class="pravate-boxs-tagh">
                                                <label>Number of months</label>
                                                <div>
                                                    <select class="form-control slect-border" name="months" [(ngModel)]="pinboard.months" (ngModelChange)="pinboardPlanMonth($event)" #months="ngModel">
														<option [ngValue]="1">1 Month</option>
														<option [ngValue]="2">2 Months</option>
														<option [ngValue]="3">3 Months</option>
														<option [ngValue]="4">4 Months</option>
														<option [ngValue]="5">5 Months</option>
														<option [ngValue]="6">6 Months</option>
													</select>
                                                    <div *ngIf="f.submitted && !months.valid" class="invalid-feedback requied-message"> <i class="fa fa-exclamation-triangle"></i> Type field is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" *ngIf="pinboard.type == 2 && pinboard.pinboardStatus == 2 && pinboard.isPaid">
                                            <div class="pravate-boxs-tagh">
                                                <div class="checkbox-btn">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck6" name="autoRecurring" [(ngModel)]="pinboard.autoRecurring" #autoRecurring="ngModel" [checked]>
                                                        <label class="custom-control-label" for="customCheck6">Auto recurring payment</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="pravate-boxs-tagh">
                                                <label>
													<span>By clicking below, you agree that you have the right to use the brand and fulfil the proposal.
													</span>
											</label>

                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <!-- <div class="edit-bnts-user">
												<button [hidden]=true type="submit" id="formSubmit" class="btn-submit">
													<span *ngIf="!this.htmlOptions.button">Save</span>
                        							<span *ngIf="this.htmlOptions.button">Update</span>
												</button>
												<a *ngIf="!this.htmlOptions.button" (click)="saveButton()" class="promoCodeButton">Save</a>
												<a *ngIf="this.htmlOptions.button" (click)="saveButton()" class="promoCodeButton">Update</a>
												<a *ngIf="pinboard.pinboardStatus == 1 || pinboard.pinboardStatus == 3" (click)="publishButton()" class="promoCodeButton">Publish</a>
												<a (click)="cancelButton()" class="btn-cancel">Cancel</a>
											</div> -->
                                            <div class="edit-bnts-user">
                                                <button [hidden]=true type="submit" id="formSubmit" class="btn-submit">
													<span>Save</span>
												</button>
                                                <a *ngIf="!this.htmlOptions.button" (click)="saveButton()" class="promoCodeButton">Save</a>
                                                <a *ngIf="this.htmlOptions.button" (click)="saveButton()" class="promoCodeButton">Update</a>

                                                <a *ngIf="pinobardPreviousStatus == 1" (click)="publishButton()" class="promoCodeButton">Publish</a>

                                                <a *ngIf="pinobardPreviousStatus == 2 && pinobardPreviousType == 1" (click)="publishButton()" class="promoCodeButton">Upgrade</a>

                                                <a (click)="cancelButton()" class="btn-cancel">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<a href="javascript:void(0)" id="openSpine" (click)="spinerClick()" [hidden]="true"></a>

<a href="javascript:void(0)" id="openPaymentPopup" [hidden]="true" data-toggle="modal" data-target="#noPinBoard"></a>
<a href="javascript:void(0)" id="closePaymentPopup" [hidden]="true" data-dismiss="modal">Close </a>

<div class="modal fade" id="noPinBoard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center no-pinBoardPopup">
                <div class="form-line-group">
                    <H4>Card Info </H4>
                    <form class="form-horizontal form-material" name="stripeTest" #f="ngForm" (ngSubmit)="f.form.valid && buy()" novalidate>
                        <label>
							<ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions">
							</ngx-stripe-card>
						</label>
                        <hr class="mt--23px">
                        <a *ngIf="htmlOptions.haveApplyCode" class="promoCode" (click)="haveApplyCode()" href="javascript:void(0)">Have Promo code?</a>
                        <div *ngIf="htmlOptions.applyCode">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box-gary">
                                        <div class="row">
                                            <label class="col-md-12 no-maring-box">
												<input type="text" maxlength="80" name="promoCodeText" trim="blur" [(ngModel)]="promoCode.promoCodeText"
													placeholder="Promo code" #promoCodeText="ngModel">
												<div *ngIf="f.submitted && !promoCodeText.valid" class="invalid-feedback-signup text-left">Promo code field is required</div>
											</label>
                                            <label class="col-md-12 code-box text-right">
												<a class="promoCode" id="applyButtonDisabled" (click)="applyPromoCode()"
													href="javascript:void(0)">Apply</a>
												<a class="promoCode cancelProCodeBtn" (click)="cancelPromoCode()"
													href="javascript:void(0)">cancel</a>
											</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="promo-cose-applay" *ngIf="htmlOptions.appliedCode">
                            <div class="promo-box-div">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                            </div>
                            <div class="promo-divs-main">
                                <div class="promocode-name">{{htmlOptions.appliedCodeText}}</div> Code applied successfully
                            </div>
                            <div class="remove-btn">
                                <a class="promoCode remove-btn" (click)="removePromoCode()" href="javascript:void(0)">Remove</a>
                            </div>
                        </div>
                        <div class="submit-btns mar-top">
                            <button id="buttonDisabled" type="submit" class="btn btn-primary closePopupButton">
								<span>Pay &pound; {{planAmount}}</span> </button>
                            <a href="javascript:void(0)" data-dismiss="modal" class="btn btn-primary closePopupButton closePopup closePopupWhiltr">Close </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>