.edit-bnts-user .btn-cancel {
    margin: 0 10px !important;
}

.edit-bnts-user .btn-submit {
    margin: 0 10px !important;
}

.promoCodeButton {
    text-decoration: none;
    color: #28a745;
    margin-bottom: 15px;
}

a.promoCodeButton {
    background-color: #199000;
    padding: 5px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 10px;
}

a.promoCodeButton:hover {
    background-color: #199000;
    padding: 5px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}


/* popup stripe */

#noPinBoard {
    top: 10%;
}

.no-heights.edit-box-div .form-control {
    height: auto;
}

.no-pinBoardPopup h3 {
    margin: 20px 0;
}

.no-pinBoardPopup .btn {
    color: #fff;
    background: #177703;
    text-decoration: navajowhite;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 5px;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

.show-dialog {
    display: block !important;
}

.hide-dialog {
    display: none !important;
}

.closePopup {
    margin-left: 5px;
}

.closePopupButton {
    width: 159px !important;
}

.stripePayBoxOuter {
    width: 550px;
    max-width: 100%;
}

.form-line-group iframe {
    height: 100px !important;
}

.mt--23px {
    margin-top: -23px;
    margin-bottom: 15px;
    border-top-color: rgb(114, 114, 114);
}

input::-webkit-input-placeholder {
    /* Edge */
    color: rgb(114, 114, 114);
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(114, 114, 114);
}

input::placeholder {
    color: rgb(114, 114, 114);
}

.form-line-group input {
    border-bottom: 1px solid rgb(114, 114, 114);
}

.form-line-group .submit-btns button {
    font-size: 16px !important;
    height: 36px !important;
    font-weight: normal !important;
    display: inline !important;
}

.promoCode {
    text-decoration: none;
    color: #28a745;
    margin-bottom: 15px;
}

.mar-top {
    margin-top: 15px !important;
}

.box-gary {
    background-color: #f5f5f5;
    padding: 10px;
    margin: 15px 0;
}

.code-box a.promoCode {
    background: #177703;
    padding: 3px 10px;
    color: #fff;
    border-radius: 5px;
    display: inline-block !important;
    width: auto;
    font-size: 14px;
    margin: 5px 0 0 10px !important;
}

.code-box a.promoCode.cancelProCodeBtn {
    background: #f10;
}

.code-box,
.no-maring-box {
    margin: 0px;
}

.promo-cose-applay .remove-btn {
    float: right;
}

.promo-cose-applay .promo-divs-main {
    float: left;
    font-size: 12px;
    margin: 0 10px;
}

.promo-cose-applay .promo-box-div {
    float: left;
}

.promo-cose-applay {
    display: inline-block;
    clear: both;
    width: 100%;
}

.promo-box-div>i {
    color: #177703;
}

.promo-cose-applay .promocode-name {
    font-size: 14px;
    font-weight: 600;
    color: #177703;
    text-align: left;
    display: inline-block;
    margin-right: 5px;
}

.form-line-group .submit-btns button:disabled {
    cursor: not-allowed;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.closePopup.closePopupWhiltr {
    background-color: #fff !important;
    padding: 2px;
    color: #707070 !important;
    cursor: pointer;
    border: solid #707070 2px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    width: 71px;
    height: 36px;
    text-align: center;
    width: 159px !important;
}

.invalid-feedback.requied-message {
    display: block;
    font-size: 11px;
    background: #ffe9eb;
    margin-top: 0;
    padding: 5px 10px;
}

.reqAttan {
    padding: 10px 15px;
    background: #c11003;
    color: #fff;
}

.invalidBorder {
    border: 1px solid #c11003;
}

.cropImgBtnRight a {
    font-size: 14px;
}

.cropImgBtnRight a+a {
    padding-left: 10px;
}

.source-crop-image {
    width: 400px;
}

.pull-right.cropImgBtnRight>a.cropCancel {
    background-color: #fff;
    border-radius: 5px;
    border: solid #707070 2px;
    margin: 0 5px;
    padding: 6px 10px 5px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #707070;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    min-width: 60px;
    text-align: center
}

.pull-right.cropImgBtnRight>a.cropiimg {
    background-color: #177703;
    border-radius: 5px;
    border: solid #177703 2px;
    width: 100%;
    padding: 6px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    min-width: 90px;
    text-decoration: none;
    min-width: 60px;
    text-align: center
}

@media (max-width: 767px) {
    .h-bg-pinborad.sapce-pinborad-screen {
        padding-top: 10px !important;
    }
}