<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<app-header></app-header>
<div id="error_box">

</div>
<app-local-history></app-local-history>
<div class="h-bg-pinborad sapce-pinborad-screen">
    <div class="profile-bg-dashbord">
        <div class="leftmenu-pinboard">
            <app-profile-sidebar (changeModule)="changeModule($event)"></app-profile-sidebar>
        </div>
        <div class="righ-main-box-bg">
            <section *ngIf="!htmlOptions.editMode && !htmlOptions.viewMode">
                <div class="row">
                    <div class="col-md-12">
                        <div class="subscton-table-div">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="page-title-tag">My Offers
                                        <div class="profile-rights">
                                            <a href="javascript:void(0)" (click)="addOffer()"><i class="material-icons">
													add </i> Add
												Offer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">

                                <table class="table table-bordered" style="min-width: 500px;">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Offer name</th>
                                            <th scope="col">Offer title</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Expiry date</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="offerData">
                                        <tr *ngFor="let offer of offerData | paginate: { itemsPerPage: 10, currentPage: po }; index as i">
                                            <td scope="row">{{ (po - 1) * 10 + i + 1 }}</td>
                                            <td>{{offer.offerName}}</td>
                                            <td>{{offer.title}}</td>
                                            <td>{{offer.category}}</td>
                                            <td>{{offer.expiryDate}}</td>
                                            <td class="whiteSpaceNowrap">
                                                <a class="view-more-btn" title="Click here to activate" *ngIf="!offer.isActive" href="javascript:void(0)" (click)="offerAction(offer.id, 'active')">
                                                    <i class="fa fa-ban" aria-hidden="true"></i></a>
                                                <a class="view-more-btn" title="Click here to deactivate" *ngIf="offer.isActive" href="javascript:void(0)" (click)="offerAction(offer.id, 'inactive')">
                                                    <i class="fa fa-check-square" aria-hidden="true"></i></a>
                                                <a class="view-more-btn" title="Click here to edit" (click)="editOffer(offer.id)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                <a class="view-more-btn" title="Click here to delete" href="javascript:void(0)" (click)="offerAction(offer.id, 'delete')"><i
														class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                <!-- <a class="view-more-btn" title="Click here to view Offer" (click)="viewPinboard(offer.id)"><i class="fa fa-eye"
														aria-hidden="true"></i></a> -->
                                                <a class="view-more-btn" title="Click here to clone Offer" (click)="cloneOffer(offer.id)"><i class="fa fa-clone "
														aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="!offerData">
                                        <tr>
                                            <td colspan="6" class="text-center">No Records Found</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-right" *ngIf="offerData">
                                    <pagination-controls (pageChange)="po = $event"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section *ngIf="htmlOptions.editMode">
                <div class="row">
                    <div class="user-tag-nagme">
                        <div class="subscton-table-div">
                            <div class="table-responsive-sm">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="page-title-tag">My Offers
                                            <div class="profile-rights">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 m-b-2" *ngIf="isValid">
                                    <div class="reqAttan"> <i class="fa fa-exclamation-triangle"></i> There are items that require your attention</div>
                                </div>

                                <!-- <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="onSubmit(f.form)" novalidate> -->
                                <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="compressAndUploadFile(f.form)" novalidate>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Offer Name (Not displayed - just for your reference)<span class="req">*</span></label>
                                                <div class="user-tag-nagme">
                                                    <input type="text" trim="blur" maxlength="50" class="form-control form-control-line" placeholder="Enter Offer Name" name="offerName" [(ngModel)]="Offers.offerName" #offerName="ngModel" required>
                                                    <div *ngIf="f.submitted && !offerName.valid" class="invalid-feedback requied-message"> <i class="fa fa-exclamation-triangle"></i> Offer Name field is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Offer Title<span class="req">*</span></label>
                                                <div class="user-tag-nagme">
                                                    <input type="text" trim="blur" maxlength="50" class="form-control form-control-line" placeholder="Enter Offer Title" name="title" [(ngModel)]="Offers.title" #title="ngModel" required>
                                                    <div *ngIf="f.submitted && !title.valid" class="invalid-feedback requied-message"><i class="fa fa-exclamation-triangle"></i> Offer Title field is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Location<span class="small-messge"> ( Enter the address i.e. 123
														High Street, MyTown... )
													</span></label>
                                                <div class="user-tag-nagme">
                                                    <input id="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" type="text" trim="blur" onPaste="return false" maxlength="200" class="form-control form-control-line" placeholder="Enter location"
                                                        name="location" [(ngModel)]="Offers.location" #location="ngModel">
                                                    <div *ngIf="f.submitted && !location.valid" class="invalid-feedback requied-message"><i class="fa fa-exclamation-triangle"></i> Location field is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Category<span class="req">*</span></label>
                                                <div class="user-tag-nagme">
                                                    <select (change)="onCategoryChange($event)" class="form-control slect-border" name="categoryId" [(ngModel)]="Offers.categoryId" #categoryId="ngModel" required>
														<option [ngValue]="null">Please Select</option>
														<option *ngFor="let category of categorydata" [ngValue]=category.categoryId>{{category.categoryName}}
														</option>
													</select>
                                                    <div *ngIf="f.submitted && !categoryId.valid" class="invalid-feedback requied-message"><i class="fa fa-exclamation-triangle"></i> Category field is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Description<span class="req">*</span></label>
                                                <div class="user-tag-nagme">
                                                    <textarea trim="blur" maxlength="500" class="form-control form-control-line" placeholder="Enter Description" name="offerDescription" [(ngModel)]="Offers.offerDescription" #offerDescription="ngModel" required>{{Offers.offerDescription}}</textarea>
                                                    <div *ngIf="f.submitted && !offerDescription.valid" class="invalid-feedback requied-message"><i class="fa fa-exclamation-triangle"></i> Description field is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Offer logo<span class="small-messge"> ( Ensure you have the
														rights to use this )
													</span></label>
                                                <div class="user-tag-nagme">
                                                    <input type="file" (change)="fileEvent($event, 'offerIcon')" id="offerIcon" name="offerIcon" #offerIcon="ngModel" [(ngModel)]="Offers.offerIcon" accept="image/*">
                                                    <div *ngIf="f.submitted && !offerIcon.valid" class="invalid-feedback requied-message">Offer logo field is required
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12" *ngIf="htmlOptions.offerIcon && htmlOptions.editMode">
                                                <div class="innner-img-outer-box">
                                                    <img src="{{htmlOptions.offerIcon}}" class="img-fluid img-border edit-image">
                                                </div>
                                            </div>
                                        </div>
                                        -->
                                        <!-- <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Offer Image</label>
                                                <div class="user-tag-nagme">
                                                    <input type="file" (change)="fileEvent($event, 'offerMedia')" id="offerMedia" name="offerMedia" #offerMedia="ngModel" [(ngModel)]="Offers.offerMedia" accept="image/*">
                                                    <div *ngIf="f.submitted && !offerMedia.valid" class="invalid-feedback requied-message"><i class="fa fa-exclamation-triangle"></i> Offer Image field is required</div>
                                                </div>
                                            </div>
                                            <div class="col-md-12" *ngIf="htmlOptions.offerMedia && htmlOptions.editMode">
                                                <div class="innner-img-outer-box">
                                                    <img src="{{htmlOptions.offerMedia}}" class="img-fluid img-border edit-image">
                                                </div>
                                            </div>
                                        </div> -->


                                        <!-- image crop -->
                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Offer Image </label>
                                                <div class="pull-right cropImgBtnRight" *ngIf="isUploaded">
                                                    <!-- <a href="javascript:void(0)" (click)="fitToScreen()">Fit to screen</a> -->
                                                    <a class="cropiimg" (click)="cropImage()" href="javascript:void(0)">Crop</a>
                                                    <a class="cropCancel" href="javascript:void(0)" (click)="Cancel()" *ngIf='IsCropedImage'>Cancel</a></div>
                                                <div class="user-tag-nagme">
                                                    <input type="file" (change)="fileChangeEvent($event)" />
                                                    <!-- *ngIf="isUploaded" -->
                                                    <image-cropper class="source-crop-image" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false" [aspectRatio]="16 / 12" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"
                                                        [style.display]="showCropper ? null : 'none'">
                                                    </image-cropper>
                                                    <img *ngIf="show" [src]="croppedImage" width="300" />
                                                </div>
                                                <div class="col-md-12" *ngIf="htmlOptions.offerMedia && htmlOptions.editMode">
                                                    <div class="innner-img-outer-box">
                                                        <img src="{{htmlOptions.offerMedia}}" class="img-fluid img-border edit-image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- image crop -->

                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Colour</label>
                                                <div class="user-tag-nagme">
                                                    <div class="colorBtnsOffer">
                                                        <label class="btn colorSelect" style="background:rgb(250, 191, 149)">
															<input type="radio" name="backgroundColor"
																(change)="backgroundColor('1');"
																[checked]="Offers.backgroundColor==1" [value]="1">
															<i class="fa fa-check"></i>
														</label>
                                                        <label class="btn colorSelect" style="background:rgb(163, 231, 137)">
															<input type="radio" name="backgroundColor"
																(change)="backgroundColor('2');"
																[checked]="Offers.backgroundColor==2" [value]="2">
															<i class="fa fa-check"></i>
														</label>
                                                        <!--  <label class="btn colorSelect" style="background:rgb(231, 222, 137)">
															<input type="radio" name="backgroundColor"
																(change)="backgroundColor('3');"
																[checked]="Offers.backgroundColor==3" [value]="3">
															<i class="fa fa-check"></i>
														</label> -->
                                                        <label class="btn colorSelect" style="background:rgb(137, 175, 231)">
															<input type="radio" name="backgroundColor"
																(change)="backgroundColor('4');"
																[checked]="Offers.backgroundColor==4" [value]="4">
															<i class="fa fa-check"></i>
														</label>
                                                        <label class="btn colorSelect" style="background:rgb(231, 137, 226)">
															<input type="radio" name="backgroundColor"
																(change)="backgroundColor('5');"
																[checked]="Offers.backgroundColor==5" [value]="5">
															<i class="fa fa-check"></i>
														</label>
                                                        <!-- <label class="btn colorSelect" style="background:rgb(175, 255, 235)">
															<input type="radio" name="backgroundColor"
																(change)="backgroundColor('6');"
																[checked]="Offers.backgroundColor==6" [value]="6">
															<i class="fa fa-check"></i>
														</label> -->
                                                        <label class="btn colorSelect" style="background:rgb(210, 193, 238)">
															<input type="radio" name="backgroundColor"
																(change)="backgroundColor('7');"
																[checked]="Offers.backgroundColor==7" [value]="7">
															<i class="fa fa-check"></i>
														</label>
                                                        <label class="btn colorSelect" style="background:rgb(196, 212, 198)">
															<input type="radio" name="backgroundColor"
																(change)="backgroundColor('8');"
																[checked]="Offers.backgroundColor==8" [value]="8">
															<i class="fa fa-check"></i>
														</label>
                                                        <label class="btn colorSelect" style="background:rgb(226, 187, 187)">
															<input type="radio" name="backgroundColor"
																(change)="backgroundColor('9');"
																[checked]="Offers.backgroundColor==9" [value]="9">
															<i class="fa fa-check"></i>
														</label>
                                                        <!-- <label class="btn colorSelect" style="background:rgb(250, 219, 172)">
															<input type="radio" name="backgroundColor"
																(change)="backgroundColor('10');"
																[checked]="Offers.backgroundColor==10" [value]="10">
															<i class="fa fa-check"></i>
														</label> -->
                                                        <label class="btn colorSelect" style="background:rgb(255, 255, 255)">
															<input type="radio" name="backgroundColor"
																(change)="backgroundColor('11');"
																[checked]="Offers.backgroundColor==11" [value]="11"
																checked>Default blue
															<i class="fa fa-check"></i>
														</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Services<span class="req">*</span><span class="small-messge"> (
														Add # to each service i.e.
														#breakfast to help users find you ) </span></label>
                                                <div class="user-tag-nagme">
                                                    <input type="text" trim="blur" maxlength="80" class="form-control form-control-line" placeholder="Enter Services(Hashtags)" name="servicesHashtags" [(ngModel)]="Offers.servicesHashtags" #servicesHashtags="ngModel" required>
                                                    <div *ngIf="f.submitted && !servicesHashtags.valid" class="invalid-feedback requied-message"><i class="fa fa-exclamation-triangle"></i> Services field is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Place your offer on these Pinboards within 50km of your offer</label>
                                                <div class="user-tag-nagme">
                                                    <ng-multiselect-dropdown [placeholder]="'Select Pinboard'" name='pinboardList' [data]="dropdownList" [(ngModel)]="Offers.pinboardObjList" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                                                        (onDeSelectAll)="onSelectAll($event)">
                                                    </ng-multiselect-dropdown>
                                                    <div *ngIf="htmlOptions.onPinboardselect" class="invalid-feedback requied-message"><i class="fa fa-exclamation-triangle"></i> Pinboard is required
                                                    </div>
                                                    <div *ngIf="noPinboard" class="noPinboard">
                                                        <p></p>
                                                        <p>No Pinboard found on selected location, Please <a routerLink="/mypinboard">click here</a> to create own pinboard</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Email</label>
                                                <div class="user-tag-nagme">
                                                    <input type="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" maxlength="100" class="form-control form-control-line" placeholder="Enter Email" name="emailId" [(ngModel)]="Offers.emailId" #emailId="ngModel">
                                                    <div *ngIf="f.submitted && !emailId.valid && !emailId.errors.pattern" class="invalid-feedback requied-message"><i class="fa fa-exclamation-triangle"></i> Email field is required
                                                    </div>
                                                    <div *ngIf="emailId.errors && emailId.errors.pattern" class="invalid-feedback requied-message"><i class="fa fa-exclamation-triangle"></i> Please enter a valid Email</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Contact number</label>
                                                <div class="user-tag-nagme">
                                                    <input type="text" trim="blur" pattern="^[0-9 _]*$" minlength=5 maxlength=30 class="form-control form-control-line" placeholder="Enter Contact number" name="contactNumber" [(ngModel)]="Offers.contactNumber" #contactNumber="ngModel">
                                                    <div *ngIf="f.submitted && !contactNumber.valid && !contactNumber.errors.pattern && (!f.controls['contactNumber'].hasError('minlength') || f.controls['contactNumber'].hasError('maxlength'))" class="invalid-feedback requied-message"><i class="fa fa-exclamation-triangle"></i> Contact number field is required
                                                    </div>
                                                    <div *ngIf="f.submitted && !contactNumber.valid && f.controls['contactNumber'].hasError('minlength') && !contactNumber.errors.pattern" class="invalid-feedback requied-message"><i class="fa fa-exclamation-triangle"></i> Please Enter a valid Contact number
                                                    </div>
                                                    <div *ngIf="f.submitted && !contactNumber.valid && f.controls['contactNumber'].hasError('maxlength') && !contactNumber.errors.pattern" class="invalid-feedback requied-message"><i class="fa fa-exclamation-triangle"></i> Please Enter a valid Contact number
                                                    </div>
                                                    <div *ngIf="contactNumber.errors && contactNumber.errors.pattern" class="invalid-feedback requied-message"><i class="fa fa-exclamation-triangle"></i> Please enter a valid Contact number</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Web link</label>
                                                <div class="user-tag-nagme">
                                                    <input type="text" trim="blur" maxlength="200" class="form-control form-control-line" placeholder="Enter Web link" name="webUrl" [(ngModel)]="Offers.webUrl" #webUrl="ngModel">
                                                    <div *ngIf="f.submitted && !webUrl.valid" class="invalid-feedback requied-message"><i class="fa fa-exclamation-triangle"></i> Web link field is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label> Offer starting from<span class="req">*</span></label>
                                                <div class="user-tag-nagme">
                                                    <p-calendar name="startDate" [minDate]="minDate" [readonlyInput]="true" [(ngModel)]="Offers.startDate" #startDate="ngModel" required (onSelect)="onFromDateSelect($event)" [showIcon]="true" dateFormat="dd-mm-yy">
                                                    </p-calendar>
                                                    <div *ngIf="f.submitted && !startDate.valid" class="invalid-feedback requied-message"><i class="fa fa-exclamation-triangle"></i> Offer starting from field is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pravate-boxs-tagh">
                                                <label>Offer ends<span class="req">*</span></label>
                                                <div class="user-tag-nagme">
                                                    <p-calendar name="expiryDate" [minDate]="maxDate" [readonlyInput]="true" [(ngModel)]="Offers.expiryDate" #expiryDate="ngModel" required (onSelect)="onEndsDateSelect($event)" [showIcon]="true" dateFormat="dd-mm-yy"></p-calendar>
                                                    <div *ngIf="f.submitted && !expiryDate.valid" class="invalid-feedback requied-message"><i class="fa fa-exclamation-triangle"></i> Offer ends field is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="pravate-boxs-tagh">
                                                <div class="user-tag-nagme text-center">
                                                    <h5><b>Total credit needed:{{totalChargedCredit}}</b></h5>
                                                    <p>You have {{totalCredits}} Credits available <a href="javascript:void(0)" (click)="buyCredit()"><b>Buy now</b></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="edit-bnts-user">
                                                <button type="submit" class="btn-submit">
													<span *ngIf="!this.htmlOptions.button">Publish</span>
													<span *ngIf="this.htmlOptions.button">Update</span>
												</button>
                                                <a (click)="cancelButton()" class="btn-cancel">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- View Offer -->
            <section class="h-bg-pinborad" *ngIf="htmlOptions.viewMode">

                <div class="h-post-details collapse show" id="collapseMainbox">
                    <div class="container">
                        <div class="all-post-boxs">
                            <div class="card-columns">
                                <div class="card">
                                    <div class="offer-box">
                                        <div class="offer-box-div offerBoxColor{{Offers.backgroundColor}}">
                                            <div class="offer-header-box">
                                                <div class="offer-pics"><img *ngIf="Offers.offerIcon" height="55" width="55" src="{{Offers.offerIcon}}">
                                                </div>
                                                <div class="offer-haeding-texts">
                                                    <h4> {{Offers.offerName}}</h4>
                                                    <div class="offer-sub-headign">In: <span>{{Offers.category}}</span></div>
                                                </div>
                                                <div class="Expires-offer-div">
                                                    <span>Expires</span>
                                                    <div class="offer-dates-div">
                                                        <!-- {{dateFormate(Offers.expiryDate)}} as -->
                                                        <countdown-timer [end]="dateFormate(Offers.expiryDate)">
                                                        </countdown-timer>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="offer-banner">
                                                <img src="{{Offers.offerMedia}}">
                                            </div>
                                            <div class="offer-headng-tagline">{{Offers.title}}
                                            </div>
                                            <div class="offer-more-tag">
                                                <a href="javaScript:void(0);">
                                                    <span (click)="Offers.visible=!Offers.visible" *ngIf="!Offers.visible">More</span>
                                                    <span *ngIf="Offers.visible" (click)="Offers.visible = !Offers.visible">Less</span>
                                                </a>
                                            </div>
                                            <div class="collapse offer-contnets-heights" [ngClass]="{'show' : Offers.visible}" id="collapseOffers3">
                                                <div class="card card-body">
                                                    <div class="offer-contnets-div mCustomScrollbar offerBoxColor{{Offers.backgroundColor}}" data-mcs-theme="dark">
                                                        <div class="scroll-div-conts">
                                                            <p>{{Offers.offerDescription}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="tag-boxs">
                                                        <div class="tag-haeing-line">Tags</div>
                                                        <div class="tag-all-posted">
                                                            <span>{{Offers.servicesHashtags}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="offer-botom-icons">
                                                        <ul>
                                                            <li><a href="tel:{{Offers.contactNumber}}"><i
																		class="material-icons">call</i></a>
                                                            </li>
                                                            <li><a href="mailto:{{Offers.emailId}}"><i
																		class="material-icons">mail</i></a></li>
                                                            <!-- <li><a href="javascript:void(0)" (click)="underDevelopment()"><i class="material-icons">place</i></a></li> -->
                                                            <li><a href="{{Offers.webUrl}}" target="_blank"><i
																		class="material-icons"> web</i></a></li>
                                                            <!-- <li class="right-align-icons"><a href="javascript:void(0)" (click)="underDevelopment()"><i
			                                                        class="material-icons">share</i></a></li> -->
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>