.colorBtnsOffer label input {
    position: absolute;
    opacity: 0;
}

.colorBtnsOffer label {
    margin-right: 5px;
}

.colorBtnsOffer label i {
    opacity: 0;
    font-size: 16px;
}

.colorBtnsOffer label input:checked+i {
    opacity: 1;
}

.noPinboard {
    color: #177703;
}

.offerBoxColor1 {
    background: rgb(250, 191, 149) !important;
}

.offerBoxColor2 {
    background: rgb(163, 231, 137) !important;
}

.offerBoxColor3 {
    background: rgb(231, 222, 137) !important;
}

.offerBoxColor4 {
    background: rgb(137, 175, 231) !important;
}

.offerBoxColor5 {
    background: rgb(231, 137, 226) !important;
}

.offerBoxColor6 {
    background: rgb(175, 255, 235) !important;
}

.offerBoxColor7 {
    background: rgb(210, 193, 238) !important;
}

.offerBoxColor8 {
    background: rgb(196, 212, 198) !important;
}

.offerBoxColor9 {
    background: rgb(226, 187, 187) !important;
}

.offerBoxColor10 {
    background: rgb(250, 219, 172) !important;
}

.invalid-feedback.requied-message {
    display: block;
    font-size: 11px;
    background: #ffe9eb;
    margin-top: 0;
    padding: 5px 10px;
}

.reqAttan {
    padding: 10px 15px;
    background: #c11003;
    color: #fff;
}

.invalidBorder {
    border: 1px solid #c11003;
}

.cropImgBtnRight a {
    font-size: 14px;
}

.cropImgBtnRight a+a {
    padding-left: 10px;
}

.source-crop-image {
    width: 400px;
}

.pull-right.cropImgBtnRight>a.cropCancel {
    background-color: #fff;
    border-radius: 5px;
    border: solid #707070 2px;
    margin: 0 5px;
    padding: 6px 10px 5px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #707070;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    min-width: 60px;
    text-align: center
}

.pull-right.cropImgBtnRight>a.cropiimg {
    background-color: #177703;
    border-radius: 5px;
    border: solid #177703 2px;
    width: 100%;
    padding: 6px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    min-width: 90px;
    text-decoration: none;
    min-width: 60px;
    text-align: center
}