<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p class="spinnerLodingText" style="font-size: 20px; color: white; margin-top: 25px">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<header class="binboard-hd">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-4 mobile-space-ds">
                <div class="logo">
                    <a href="/"><img src="assets/images/logo.png"></a>
                </div>
            </div>
            <div class="col-md-9 col-8">
                <div class="right-header">
                    <!-- menu start -->

                    <ul>
                        <li class="responsiveShowHide" (click)="searchActive=!searchActive">
                            <a href="javascript:void(0)">
                                <i class="fa fa-search menuIcon"></i>
                            </a>
                        </li>

                        <li *ngIf="webLoggedIn == 'true'">
                            <a routerLink="/profile">
                                <div class="user-img-head">
                                    <img *ngIf="WebUserProfileImage" src="{{WebUserProfileImage}}">
                                    <img class="no-border" *ngIf="!WebUserProfileImage" src="assets/images/user1.png">
                                </div>
                                <!-- <i class="material-icons md-24">face</i> -->
                            </a>
                        </li>

                        <li *ngIf="webLoggedIn == 'false'">
                            <a routerLink="/login">
                                <div class="user-img-head">
                                    <img class="no-border" src="assets/images/user1.png">
                                </div>
                            </a>
                        </li>

                        <li *ngIf="webLoggedIn == 'true'">
                            <app-notification-count></app-notification-count>
                        </li>
                        <li>
                            <div id="page">
                                <div class="header-toogle-btn">
                                    <a href="javascript:void(0);" (click)="navActive=!navActive"><span></span></a>
                                </div>
                                <nav id="menu" [ngClass]="{'active' : navActive}">
                                    <span class="close-btn" (click)="navActive=!navActive"><a href="#"><i
                            class="material-icons">clear</i></a></span>
                                    <div class="mm-navbar"><a class="mm-navbar__title">Menu</a></div>
                                    <ul>
                                        <app-static-menu (parentButtonClick)='findMeClick($event)'></app-static-menu>

                                    </ul>
                                    <span class="close-btn" hidden=[]><a href="#"><i class="material-icons">clear</i></a></span>
                                </nav>
                            </div>
                        </li>
                    </ul>
                    <div class="serch-bar fordasktop" [ngClass]="{'searchBoxShow' : !searchActive}">
                        <form>
                            <input type="search" trim="blur" onPaste="return false" class="form-control" placeholder="Search Location" ngx-google-places-autocomplete #placesRef="ngx-places" maxlength="100" class="form-control form-control-line" placeholder="Enter location" name="location"
                                (onAddressChange)="handleAddressChange($event)" />
                            <a href="#" class="serach-icons"><i class="material-icons">search</i></a>
                        </form>
                    </div>

                </div>
            </div>

            <div class="col-md-12 forMobile">
                <div class="serch-bar" [ngClass]="{'searchBoxShow' : !searchActive}">
                    <form>
                        <input type="text" trim="blur" onPaste="return false" class="form-control" placeholder="Search Location" ngx-google-places-autocomplete #placesRef="ngx-places" maxlength="100" class="form-control form-control-line" placeholder="Enter location" name="location"
                            (onAddressChange)="handleAddressChange($event)" />
                        <a href="#" class="serach-icons"><i class="material-icons">search</i></a>
                    </form>
                </div>
            </div>


        </div>
    </div>

</header>
<section class="map-bg-view" [ngClass]="{'max50height' : mapnavActive}">

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="true" [streetViewControl]=false [disableDefaultUI]="false" (idle)="idle()" (centerChange)="centerChange($event)" (mapReady)="mapLoad($event)" [zoomControl]="true">

        <!-- <agm-circle
    [latitude]="latC"
    [longitude]="lngC"
    [circleDraggable]="false"
    [editable]="false"
    [fillColor]=""
    [radius]="250">
</agm-circle> -->
        <agm-marker-cluster (markerclick)="clusterEvent($event)" imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">

            <agm-marker *ngFor="let m of markerss; let i = index" [latitude]="m.lat" [longitude]="m.lng" [markerDraggable]="m.draggable" [iconUrl]='{"url": m.iconUrl,"scaledSize": {"width": m.width, "height" : m.height  }}' (dragEnd)="markerDragEnd(m, $event)">
                <!-- (markerClick)="clickedMarker(m.id, i)" -->
                <!--  [iconUrl]="m.iconUrl" -->
                <agm-info-window>
                    <div class="mapPinContent">
                        <div class="mapBImg" *ngIf=""><img src="{{m.logo}}"> </div>

                        <div class="mapContentRightBox">
                            <div class="pinTitle">{{m.label}}</div>
                            <!-- <p>{{m.label}}</p> -->
                            <p>{{splitString(m.category)}}</p>
                            <span class="map-arrowpbtn">
            <a routerLink="{{m.pinboardUrl}}"><i class="material-icons">keyboard_arrow_right</i></a></span>
                            <!-- <a routerLink="/pinboard/{{m.type}}/{{m.id}}"><i class="material-icons">keyboard_arrow_right</i></a> -->
                        </div>
                    </div>
                </agm-info-window>

            </agm-marker>
        </agm-marker-cluster>
    </agm-map>

</section>
<section class="h-bg-pinborad">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="acction-allbox forMobileToggleBox">
                    <a class="togglebtn_hide" href="javascript:void(0);" (click)="mapnavActive=!mapnavActive">

                        <i class="material-icons" *ngIf="mapnavActive">keyboard_arrow_up</i>
                        <i class="material-icons" *ngIf="!mapnavActive">keyboard_arrow_down</i>
                    </a>
                    <a class="togglebtn_hide searchFilterOpenBtn" id="findMeBox" [ngClass]="{'inMobOpenBox' : filterBoxOpen}" href="javascript:void(0);" (click)="filterBoxOpen=!filterBoxOpen">
                        <i class="fa fa-search"></i>
                    </a>
                </div>

                <div class="filder-box inMobDisNone " [ngClass]="{'inMobOpenBox' : filterBoxOpen}">
                    <div class="acction-allbox">
                        <a class="togglebtn_hide" href="javascript:void(0);" (click)="filterBoxOpen=!filterBoxOpen">
                            <i class="fa fa-times" *ngIf="filterBoxOpen"></i>
                        </a>
                    </div>
                    <div class="acction-allbox inMobDisNone">
                        <a class="togglebtn_hide" href="javascript:void(0);" (click)="mapnavActive=!mapnavActive">
                            <i class="material-icons" *ngIf="mapnavActive">keyboard_arrow_up</i>
                            <i class="material-icons" *ngIf="!mapnavActive">keyboard_arrow_down</i>
                        </a>
                    </div>
                    <div class="row-custom">
                        <div class="first-box-filfers">
                            <div class="col-find">
                                <div class="filder-text-h">Find me:</div>
                            </div>
                            <div class="col-cat">
                                <div class="catgery-box-h">
                                    <!-- <select class="form-control" name="CatId" (change)="onChangeCate($event)">
                                        <option selected>Select Category</option>
                                        <option *ngFor="let category of categorydata" [ngValue]=category.categoryId>{{category.categoryName}}
                                        </option>

                                    </select> -->
                                    <div class="category-selcets">
                                        <input (keyup)="onKey($event)" type="search" class="form-control" placeholder="e.g. Umbrella">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-Within">
                            <div class="Within-box-h">
                                <div class="left-within-tag">Within:</div>
                                <div class="slider-h">
                                    <div class="slider-range">
                                        <div id="slider-range-min"></div>
                                        <input type="range" min="100" max="10000" (change)="saveRadiusInMeter($event)">
                                    </div>
                                    <ul>
                                        <li>100m</li>
                                        <li>500m</li>
                                        <li>2km</li>
                                        <li>5km</li>
                                        <li>10km+</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="filter-btn">
                            <button class="btn btn-green" id="searchButton" type="button" name="Search" (click)="seachBycatAndRadius()" value="Search">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   <div class="h-post-details collapse show search-results" id="collapseMainbox" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="2000" (scrolled)="onScroll()" [fromRoot]="true"> -->
    <div class="h-post-details collapse show search-results" id="collapseMainbox">
        <div class="container">
            <div class="slect-post-div">
                <div class="row">
                    <div class="col-md-7 col-5  col-lg-9">
                        <div class="serch-post">
                            Local activity:
                        </div>
                    </div>
                    <div class="col-md-5 col-7 col-lg-3">
                        <div class="form-group row">
                            <label class="col-sm-5 col-3 col-md-5 col-lg-4 text-form-label">Show :</label>
                            <div class="col-sm-7 col-md-7 col-9 col-lg-8">
                                <select class="form-control" name="displayType" [(ngModel)]="user.displayType" (ngModelChange)="showType($event)" #displayType="ngModel">
                                    <option [ngValue]="0">All</option>
                                    <option [ngValue]="1">Just Posts</option>
                                    <option [ngValue]="2">Just Offers</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="all-post-boxs">
                <div class="card-columns">

                    <!--  <div class="card" *ngIf="postArr.length == 0 && offerArr.length == 0">
                    <div class="serch-post">
                    No Records found
                    </div>
                </div> -->
                    <div class="card" *ngFor="let postOffer of finalOfferPostArr;let idx=index;">

                        <div class="offer-box" *ngIf="postOffer.offerName && htmlOptions.offerBox">
                            <div class="offer-box-div offerBoxColor{{postOffer.backgroundColor}}">

                                <div class="offer-banner">
                                    <div class="Expires-offer-div">
                                        <div class="offer-dates-div">
                                            Expires
                                            <countdown-timer [end]="dateFormate(postOffer.expiryDate)">
                                            </countdown-timer>
                                        </div>
                                    </div>
                                    <img class="rotate" src="{{postOffer.offerMedia}}">
                                </div>
                                <div class="offerBoxContainer">
                                    <div class="offer-sub-headign">
                                        <span>{{splitString(postOffer.category)}}</span>
                                    </div>
                                    <div class="offer-headng-tagline">{{postOffer.title}}
                                    </div>
                                    <div class="offerContDescription" [ngClass]="{'hide-dialog' : postOffer.visible}">
                                        <p>{{substr(postOffer.offerDescription)}}</p>
                                    </div>
                                    <!-- <div class="offer-more-tag" [ngClass]="{'hide-dialog' : postOffer.visible}">
                                        <a href="javaScript:void(0);">
                                            <span (click)="postOffer.visible=!postOffer.visible" *ngIf="!postOffer.visible">More</span>
                                            <span *ngIf="postOffer.visible" (click)="postOffer.visible = !postOffer.visible">Less</span>
                                        </a>
                                    </div> -->
                                    <div class="collapse offer-contnets-heights" [ngClass]="{'show' : postOffer.visible}" id="collapseOffers3">
                                        <div class="card card-body">
                                            <div class="offer-contnets-div mCustomScrollba offerBoxColor{{postOffer.backgroundColor}}" data-mcs-theme="dark">
                                                <div class="scroll-div-conts">
                                                    <p>{{postOffer.offerDescription}}</p>
                                                </div>
                                            </div>
                                            <!-- <div class="offer-more-tag">
                                                <a href="javaScript:void(0);">
                                                    <span (click)="postOffer.visible=!postOffer.visible" *ngIf="!postOffer.visible">More</span>
                                                    <span *ngIf="postOffer.visible" (click)="postOffer.visible = !postOffer.visible">Less</span>
                                                </a>
                                            </div> -->

                                        </div>
                                    </div>

                                    <div class="tag-boxs">
                                        <!-- <span class="tag-haeing-line">Tags</span> -->
                                        <div class="tag-all-posted">
                                            <span>{{postOffer.servicesHashtags}}</span>
                                        </div>
                                    </div>
                                    <div class="offer-botom-icons" [ngClass]="{'hide-dialog' : !postOffer.visible}">
                                        <ul>
                                            <li *ngIf="postOffer.contactNumber"><a title="Phone Number" href="tel:{{postOffer.contactNumber}}"><i class="material-icons">call</i></a>
                                            </li>
                                            <li *ngIf="postOffer.emailId"><a title="Email" href="mailto:{{postOffer.emailId}}"><i class="material-icons">mail</i></a></li>
                                            <li *ngIf="postOffer.location"><a href="javascript:void(0)" (click)="offerLatLong(postOffer)"><i class="material-icons">place</i></a></li>

                                            <li *ngIf="postOffer.webUrl">
                                                <a title="Website" href="{{addhttp(postOffer.webUrl)}}" target="_blank"><i class="material-icons">web</i></a>
                                            </li>

                                            <!--  <li class="right-align-icons" (click)="openSharePopup(pinboardDetailsArr.pinboardName,pinboardDetailsArr.categoryName, postOffer)">
                                                <a href="javascript:void(0)"><i class="material-icons">share</i></a></li> -->
                                        </ul>
                                    </div>

                                    <div class="offer-header-box">
                                        <div class="offer-pics">
                                            <!-- <img *ngIf="postOffer.offerIcon" height="55" width="55" src="{{postOffer.offerIcon}}"> -->
                                            <a routerLink="/user/{{postOffer.userName}}"> <img *ngIf="postOffer.src" src="{{imagePath}}/{{postOffer.userId}}" width="55" height="55">
                                                <img *ngIf="postOffer.src==''" src="assets/images/user.png" width="55" height="55">
                                            </a>
                                        </div>
                                        <div>
                                            <a class="offer-haeding-texts" routerLink="/user/{{postOffer.userName}}">
                                                <h4> {{postOffer.userName}}</h4>
                                            </a>
                                        </div>
                                        <div class="offer-more-tag">
                                            <a href="javaScript:void(0);">
                                                <span (click)="postOffer.visible=!postOffer.visible" *ngIf="!postOffer.visible">More</span>
                                                <span *ngIf="postOffer.visible" (click)="postOffer.visible = !postOffer.visible">Less</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--  <div class="offer-header-box">
                                    <div class="offer-pics">
                                        <a routerLink="/user/{{postOffer.userName}}"> <img *ngIf="postOffer.src" src="{{imagePath}}/{{postOffer.userId}}" width="55" (error)="updateUrl($event)" height="55">
                                            <img *ngIf="postOffer.src==''" src="assets/images/user.png" width="55" (error)="updateUrl($event)" height="55">
                                        </a>
                                    </div>
                                    <div class="offer-haeding-texts">
                                        <h4> {{postOffer.title}}</h4>
                                        <div class="offer-sub-headign">In: <span>{{postOffer.category}}</span></div>
                                    </div>
                                    <div class="Expires-offer-div">
                                        <span>Expires</span>
                                        <div class="offer-dates-div">

                                            <countdown-timer [end]="dateFormate(postOffer.expiryDate)"></countdown-timer>

                                        </div>
                                    </div>
                                </div>
                                <div class="offer-banner">
                                    <img src="{{postOffer.offerMedia}}">
                                </div>
                                <div class="offer-headng-tagline" [ngClass]="{'hide-dialog' : postOffer.visible}">{{postOffer.offerDescription}}
                                </div>
                                <div class="offer-more-tag" [ngClass]="{'hide-dialog' : postOffer.visible}">
                                    <a href="javaScript:void(0);">
                                        <span (click)="postOffer.visible=!postOffer.visible" *ngIf="!postOffer.visible">More</span>
                                        <span *ngIf="postOffer.visible" (click)="postOffer.visible = !postOffer.visible">Less</span>
                                    </a>
                                </div>
                                <div class="collapse offer-contnets-heights" [ngClass]="{'show' : postOffer.visible}" id="collapseOffers3">
                                    <div class="card card-body">
                                        <div class="offer-contnets-div mCustomScrollbar offerBoxColor{{postOffer.backgroundColor}}" data-mcs-theme="dark">
                                            <div class="scroll-div-conts">
                                                <p>{{postOffer.offerDescription}}</p>
                                            </div>
                                        </div>

                                        <div class="offer-more-tag">
                                            <a href="javaScript:void(0);">
                                                <span (click)="postOffer.visible=!postOffer.visible" *ngIf="!postOffer.visible">More</span>
                                                <span *ngIf="postOffer.visible" (click)="postOffer.visible = !postOffer.visible">Less</span>
                                            </a>
                                        </div>

                                        <div class="tag-boxs">
                                            <div class="tag-haeing-line">Tags</div>
                                            <div class="tag-all-posted">
                                                <span>{{postOffer.servicesHashtags}}</span>
                                            </div>
                                        </div>
                                        <div class="offer-botom-icons">
                                            <ul>
                                                <li><a title="Phone Number" href="tel:{{postOffer.contactNumber}}"><i class="material-icons">call</i></a>
                                                </li>
                                                <li><a title="Email" href="mailto:{{postOffer.emailId}}"><i class="material-icons">mail</i></a></li>
                                                <li><a href="javascript:void(0)" (click)="offerLatLong(postOffer)"><i class="material-icons">place</i></a></li>
                                                <li><a title="Website" href="{{postOffer.webUrl}}" target="_blank"><i class="material-icons"> web</i></a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="post-box" *ngIf="!postOffer.offerName && htmlOptions.postBox">
                            <span class="imgBrTop"></span>
                            <div class="post-box-white">
                                <div class="post-header">
                                    <div class="post-profile-pic">
                                        <!-- <img *ngIf="postOffer.userId"
                                    src="https://adminstreetpin.s3.amazonaws.com/_cmsImages/{{postOffer.userId}}" width="55" height="55"> -->
                                        <!-- <img *ngIf="postOffer.src" src="https://adminstreetpin.s3.amazonaws.com/_cmsImages/{{postOffer.userId}}" width="65" (error)="updateUrl($event)" height="65">
                                        <img *ngIf="postOffer.src==''" src="assets/images/user.png" width="65" (error)="updateUrl($event)" height="65"> -->
                                        <a routerLink="/user/{{postOffer.userName}}">
                                            <img *ngIf="postOffer.src" src="{{imagePath}}/{{postOffer.userId}}" width="65" height="65">
                                            <img *ngIf="postOffer.src==''" src="assets/images/user.png" width="65" height="65">
                                        </a>
                                    </div>
                                    <div class="pot-name-texts">
                                        <h4>
                                            <a class="userNameTag" routerLink="/user/{{postOffer.userName}}">
                                                {{postOffer.userName}}
                                            </a>

                                            <div class="dropdown post-drapdown" (click)="postOffer.visible=!postOffer.visible">
                                                <i class="material-icons">
                                                keyboard_arrow_down
                                            </i>
                                            </div>
                                            <div class="dropdown post-drapdown">
                                                <div class="dropdown-menu" [ngClass]="{'show' : postOffer.visible}" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" (click)="postReport(postOffer.id)" href="javascript:void(0)">Report</a>
                                                    <a *ngIf="postOffer.userId == userId" (click)="pinboardAction(postOffer.id, 'delete')" class="dropdown-item" href="javascript:void(0)">Delete</a>
                                                </div>
                                            </div>
                                        </h4>
                                        <span class="text-gray"> {{dateTimeCalculation(postOffer.createdDate)}} </span> in

                                        <span class="text-gray-color font-meeetngs"> {{postOffer.category}}</span>
                                    </div>
                                    <div class="offer-banner" *ngIf="postOffer.image">
                                        <img src="{{postOffer.image}}">
                                    </div>
                                    <div class="post-contents">{{postOffer.description}}</div>

                                    <div class="text-gray-color tagsMarTop" (click)="postOffer.visible=!postOffer.visible"> <b>Tags:</b> {{postOffer.tags}}
                                    </div>
                                    <div class="conmmet-tags">
                                        <a data-toggle="collapse" (click)="postOffer.comments=!postOffer.comments; getComments(postOffer.id, idx)" href="javascript:void(0)" role="button" aria-expanded="false" aria-controls="collapseExample5"><i
                                            class="material-icons">
                                            comment </i>
                                            <span> {{postOffer.commentCount}}</span>
                                            <span *ngIf="postOffer.commentCount==1 || postOffer.commentCount==0"> Comment </span>
                                            <span *ngIf="postOffer.commentCount>1"> Comments </span>
                                        </a>
                                    </div>
                                    <div class="collapse" id="collapseExample5" [ngClass]="{'show' : postOffer.comments}">
                                        <div class="card card-body">
                                            <div class="comment-posts">

                                                <textarea class="form-control" name="commentPost[idx]" [(ngModel)]="commentPost[idx]" rows="1" placeholder="Add a Comment"></textarea>
                                                <div class="post-commet-btn">
                                                    <button type="button" class="Post-btn" (click)="addComment(postOffer.id, idx)">Add Comment</button>
                                                    <button type="button" (click)="postOffer.comments=!postOffer.comments" class="Cancel-btn">Cancel</button>
                                                </div>
                                            </div>
                                            <div class="commet-scroll-box mCustomScrollbar" data-mcs-theme="dark">
                                                <div class="commt-header-scrll" *ngFor="let comments of postComments[postOffer.id]">
                                                    <div class="post-profile-pic">
                                                        <!-- <img src="https://adminstreetpin.s3.amazonaws.com/_cmsImages/{{comments.userId}}"
                                                        width="65" height="65"> -->
                                                        <img *ngIf="comments.src" src="{{imagePath}}/{{comments.userId}}" width="65" height="65">
                                                        <img *ngIf="comments.src==''" src="assets/images/user.png" width="65" height="65">
                                                    </div>
                                                    <div class="pot-name-texts">
                                                        <h4>{{comments.userName}}</h4>
                                                        <div class="commit-sub-text">
                                                            {{comments.commentText}}
                                                        </div>
                                                        <span class="text-gray"> {{dateTimeCalculation(comments.createdDate)}} </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="noPinBoard" *ngIf="noPostNOffer">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body text-center no-pinBoardPopup">
                            <img src="assets/images/60s.gif" class="img-fluid">
                            <h3>No posts or offers here? Zoom out map or create your own Pinboard</h3>
                            <a href="/mypinboard" class="btn btn-primary closePopupButton">Create Pinboard </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
</section>
<a href="javascript:void(0)" id="openExtraSetailsPopup" [hidden]="true" data-toggle="modal" data-target="#extraFields"></a>

<div class="modal fade" id="extraFields" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center no-pinBoardPopup">
                <div class="form-line-group">
                    <a href="javascript:void(0)" data-dismiss="modal" class="btn btn-primary closeBtn"> <i class="fa fa-times"></i> </a>

                    <div class="solcil-links">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" class="fb" (click)="share(postForShare)">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tw" (click)="twitterShare(postForShare, ShareOfferData)">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- popup Guide -->

<a href="javascript:void(0)" id="onBoardingClick" [hidden]="true" data-toggle="modal" data-target="#userOnbording"></a>

<div class="modal fade popboxst-guide" id="userOnbording" tabindex="-1" role="dialog" aria-labelledby="boardingTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" id="guide-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="boardingTitle">StreetPin Guide</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="onboarding-box">
                    <div class="row slidedade" *ngIf="selectedIndex == 1">
                        <div class="col-md-12">
                            <div class="onboarding-screens-img text-center">
                                <img src="assets/images/useronboarding/undraw_Destination_mcr.svg" alt="" title="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-12  align-items-center">
                            <div class="onboarding-screens-conts text-center">
                                <h1>Welcome…</h1>
                                <p>…to StreetPin, your local community marketplace</p>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="selectedIndex == 2">
                        <div class="col-md-12">
                            <div class="onboarding-screens-img text-center discover-img">
                                <img src="assets/images/useronboarding/undraw_directions.svg" alt="" title="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-12 align-items-center">
                            <div class="onboarding-screens-conts text-center">
                                <h1>Discover</h1>
                                <p>Scroll around using the map to discover local communities</p>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="selectedIndex == 3">
                        <div class="col-md-12">
                            <div class="onboarding-screens-img text-center create-img">
                                <img src="assets/images/useronboarding/undraw_mobile_marketing_iqbr.svg" alt="" title="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-12 align-items-center">
                            <div class="onboarding-screens-conts text-center">
                                <h1>Create!</h1>
                                <p>Create FREE Pinboards and posts, or why not create an offer they can’t refuse…?</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <ul class="slide-arow-div">
                                <li><a [ngClass]="{'activeslide' : selectedIndex==1}" href="javascript:void(0)"
                                        (click)=showDiv(1)></a></li>
                                <li><a [ngClass]="{'activeslide' : selectedIndex==2}" class="activeslide"
                                        href="javascript:void(0)" (click)=showDiv(2)></a></li>
                                <li><a [ngClass]="{'activeslide' : selectedIndex==3}" href="javascript:void(0)"
                                        (click)=showDiv(3)></a></li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="modal-footer btn-slide-box divShowDesktop">
                <div class="checkbox-show">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="customControlAutosizing" [(ngModel)]="onBoarding.isChecked" (change)="onFilterChange(onBoarding.isChecked?'A':'B')">
                        <label class="custom-control-label" for="customControlAutosizing">Don't show again</label>
                    </div>
                </div>

                <button *ngIf="selectedIndex!=1" (click)="showDiv(selectedIndex-1)" class="btn btn-green">Previous
                </button>
                <!-- <button data-dismiss="modal" class="btn btn-skip">Skip</button> -->
                <button *ngIf="selectedIndex!=3" (click)="showDiv(selectedIndex+1)" class="btn btn-green">Next </button>
                <button *ngIf="selectedIndex==3" data-dismiss="modal" class="btn btn-green">Start</button>
            </div>


            <div class="modal-footer btn-slide-box divShowMobile">

                <button *ngIf="selectedIndex!=1" (click)="showDiv(selectedIndex-1)" class="btn btn-green">Previous
                </button>
                <!-- <button data-dismiss="modal" class="btn btn-skip">Skip</button> -->
                <button *ngIf="selectedIndex!=3" (click)="showDiv(selectedIndex+1)" class="btn btn-green">Next </button>
                <button *ngIf="selectedIndex==3" data-dismiss="modal" class="btn btn-green">Start</button>

                <div class="checkbox-show">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="customControlAutosizing" [(ngModel)]="onBoarding.isChecked" (change)="onFilterChange(onBoarding.isChecked?'A':'B')">
                        <label class="custom-control-label" for="customControlAutosizing">Don't show again</label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>