agm-map {
    height: 300px;
}

.offerBoxColor1 {
    background: rgb(250, 191, 149) !important;
}

.offerBoxColor2 {
    background: rgb(163, 231, 137) !important;
}

.offerBoxColor3 {
    background: rgb(231, 222, 137) !important;
}

.offerBoxColor4 {
    background: rgb(137, 175, 231) !important;
}

.offerBoxColor5 {
    background: rgb(231, 137, 226) !important;
}

.offerBoxColor6 {
    background: rgb(175, 255, 235) !important;
}

.offerBoxColor7 {
    background: rgb(210, 193, 238) !important;
}

.offerBoxColor8 {
    background: rgb(196, 212, 198) !important;
}

.offerBoxColor9 {
    background: rgb(226, 187, 187) !important;
}

.offerBoxColor10 {
    background: rgb(250, 219, 172) !important;
}

.searchBoxHide {
    display: none !important;
}

.searchBoxShow {
    display: block !important;
}

.menuIcon {
    font-size: 25px;
    margin-top: 8px;
}

#noPinBoard {
    top: 10%;
}

.no-heights.edit-box-div .form-control {
    height: auto;
}

.no-pinBoardPopup h3 {
    margin: 20px 0;
}

.no-pinBoardPopup .btn {
    color: #fff;
    background: #177703;
    text-decoration: navajowhite;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 5px;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

.show-dialog {
    display: block !important;
}

.hide-dialog {
    display: none !important;
}

.closePopup {
    margin-left: 5px;
}

.closePopupButton {
    width: 159px !important;
}

.mapPinContent {
    width: 300px;
}

.mapPinContent h3 {
    font-size: 20px;
    color: #207702;
    margin-bottom: 5px;
}

.mapPinContent p {
    font-size: 16px;
    color: #666;
    margin-bottom: 2px;
}

.mapPinContent a {
    width: 20px;
    height: 30px;
    position: absolute;
    display: inline-block;
    right: 15px;
    top: 50%;
    margin-top: -15px;
}

.mapPinContent a i {
    color: #177703;
    position: absolute;
    display: inline-block;
    font-size: 40px;
}

.mapBImg {
    float: left;
}

.mapBImg img {
    max-width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 10px;
}

.mapContentRightBox {
    max-width: 230px;
    float: left;
}

.showPostPopup {
    display: block !important;
}

.creat-postds {
    display: none;
}

.post-pic-brow {
    margin: 0 0;
}

.post-crart-divs .form-control {
    font-size: 12px;
}

.post-commet-btn .Cancel-btn {
    margin-left: 10px;
}

.closeBtn {
    position: absolute;
    right: -8px;
    top: -8px;
    border-radius: 50%;
    border: none;
    background: #1daa00;
    color: #fff;
}

.post-box .offer-banner>img {
    max-width: 100%;
}

.offer-box-div .offer-banner>img {
    max-width: 100% !important;
    min-width: 100% !important;
}

.post-box .offer-banner {
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin: 15px 0 5px;
    display: inline-block;
}

.pinTitle {
    font-size: 17px;
    font-weight: bold;
    color: #646161;
}

.modal-footer.btn-slide-box.divShowMobile {
    display: none;
}

@media (max-width: 767px) {
    .mapPinContent a i {
        color: #177703;
        position: absolute;
        display: inline-block;
        font-size: 40px;
        background-color: #f3f3f3;
        height: 100vh;
        padding: 21px 0 0 0;
        top: -18px;
    }
    .modal-footer.btn-slide-box.divShowMobile {
        display: block !important;
    }
    #guide-dialog .divShowMobile .btn {
        margin-top: 10px;
    }
    #guide-dialog .divShowMobile .checkbox-show {
        position: relative;
        left: 0;
    }
    .modal-footer.btn-slide-box.divShowDesktop {
        display: none !important;
    }
}

@media (min-width: 1200px) and (max-width: 1920px) {
    .mapContentRightBox {
        max-width: 280px;
    }
}

.mapPinContent a i {
    background-color: #f3f3f3;
    height: 100vh;
    padding: 21px 0 0 0;
    top: -18px;
}


/* User Onboarding */

.onboarding-box {
    background-color: #fff;
    padding: 0;
}

.onboarding-box .onboarding-screens-img>img {
    padding: 5px;
}

.onboarding-screens-conts {
    border: dashed #efefef 2px;
    height: 100%;
    padding: 0 20px 0 20px;
    min-height: 350px;
}

.onboarding-screens-conts>h5 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: solid #f5f5f5 2px;
    padding-bottom: 10px;
}

.onboarding-screens-conts>h1 {
    color: #177703;
    margin: 10px auto 30px;
    padding: 0;
    font-size: 34px;
    font-weight: 600;
}

.onboarding-screens-conts>p {
    color: #000;
    margin: 30px auto;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
}

.btn-skip {
    background-color: #fff;
    padding: 10px;
    color: #707070;
    cursor: pointer;
    border: solid #707070 2px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
}

.modal-footer.btn-slide-box .btn {
    min-width: 80px;
    display: block;
    max-width: 100px;
    font-size: 14px;
    padding: 3px !important;
}

ul.slide-arow-div {
    margin: 10px 0;
    padding: 0px;
    list-style: none;
    text-align: center;
}

ul.slide-arow-div li {
    display: inline-block;
    margin: 0 3px;
}

ul.slide-arow-div li a {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    border: solid #707070 2px;
    display: block;
}

ul.slide-arow-div li a:hover {
    background-color: #177703;
    border: solid #177703 2px;
}

ul.slide-arow-div li a.activeslide {
    background-color: #177703;
    border: solid #177703 2px;
}

.checkbox-show {
    float: left !important;
    display: inline-block !important;
    width: calc(100% - 210px);
}

.checkbox-show .custom-control-input:checked~.custom-control-label::before {
    background-color: #199000;
    margin-right: 10px;
}

.popboxst-guide .modal-body {
    min-height: 430px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .onboarding-screens-conts {
        min-height: auto;
    }
    .onboarding-screens-conts>h1 {
        margin: 5px auto 10px;
        font-size: 26px;
    }
    .onboarding-screens-conts>p {
        margin: 15px auto;
        font-size: 20px;
    }
    ul.slide-arow-div {
        margin: 10px 0 0;
    }
    .modal-footer.btn-slide-box .btn {
        min-width: 70px;
        max-width: 70px;
        padding: 5px;
        font-size: 14px;
    }
    .checkbox-show {
        width: calc(100% - 150px);
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .onboarding-screens-conts {
        min-height: 110px !important;
        text-align: center
    }
    .onboarding-screens-conts>h1 {
        margin: 5px auto 0 !important;
        font-size: 22px !important;
    }
    .onboarding-screens-conts>p {
        margin: 10px auto;
        font-size: 16px !important;
    }
    ul.slide-arow-div {
        margin: 10px 0 0;
    }
    .modal-footer.btn-slide-box .btn {
        min-width: 70px;
        max-width: 70px;
        padding: 5px;
        font-size: 14px;
        display: inline;
        margin: 10px 2px;
    }
    .checkbox-show {
        width: 100%;
        display: block !important;
    }
    .modal-footer.btn-slide-box {
        display: block;
        justify-content: flex-start;
        text-align: center;
    }
    .popboxst-guide .modal-body {
        min-height: auto;
        padding-bottom: 0 !important;
    }
    #guide-dialog .close {
        top: 20px !important;
        right: 20px !important;
    }
    .mapContentRightBox {
        max-width: 200px;
        float: left;
        min-width: 170px !important;
    }
    .user-tag-names {
        position: relative;
        bottom: -5px;
    }
}


/*-----------------------------------24-04-2019----------------------------------*/

#guide-dialog .modal-header {
    border-bottom: none;
    padding: 0;
}

#guide-dialog {
    max-width: 510px;
}

#guide-dialog .onboarding-box .onboarding-screens-img>img {
    border: none;
}

#guide-dialog .img-fluid {
    width: 60%;
}

#guide-dialog .onboarding-screens-conts {
    border: none;
    min-height: 145px;
    padding-bottom: 0px;
}

#guide-dialog .modal-footer {
    border-top: none;
    padding-top: 0px;
}

#guide-dialog .onboarding-screens-conts>p {
    padding: 0 5%;
    font-size: 18px;
    margin: 5px auto !important;
}

#guide-dialog .onboarding-screens-conts h1 {
    margin-bottom: 15px;
    font-size: 30px;
    color: #595959;
}

#guide-dialog .btn-skip {
    border: none;
    color: #177703;
}

#guide-dialog .onboarding-screens-img {
    min-height: 275px;
}

#guide-dialog .discover-img,
.create-img {
    padding-top: 30px;
}

#guide-dialog .close {
    background: #177703;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50px;
    padding: 8px;
    opacity: 1;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 999;
}

#guide-dialog .close span {
    font-size: 36px;
    line-height: 0;
}

#guide-dialog .checkbox-show {
    position: absolute;
    left: 20px;
}

#guide-dialog .custom-control-label::before {
    border: 2px solid #177703;
}

#guide-dialog .btn-green {
    padding: 5px 7px;
    max-width: 80px;
}

@media (max-width: 767px) {
    #guide-dialog .img-fluid {
        width: 80%;
    }
    #guide-dialog .btn {
        margin-top: 30px;
    }
}

.userNameTag {
    text-decoration: none !important;
}

@media screen and (max-width:991px) {
    .spinnerLodingText {
        font-size: 14px !important;
        color: white !important;
        margin-top: 125px !important;
        text-align: center !important;
    }
}