html, body
{
	padding: 0;
	margin: 0;
}



p
{
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
	color: inherit;
	text-decoration: underline;
}

nav:not(.mm-menu)
{
	display: none;
}



.header-toogle-btn > a
{
	display: block;
	width: 60px;
	height: 40px;
	padding: 10px;
	position: absolute;
	top: 10px;
	right: 0;
}
.header-toogle-btn > a:before,
.header-toogle-btn > a:after
{
	content: '';
	display: block;
	background: #fff;
	height: 2px;
}
.header-toogle-btn > a span
{
	background: #fff;
	display: block;
	height: 2px;
	margin: 6px 0;
}

