@charset "utf-8";

/* CSS Document */

@media (max-width: 1599px) {
    .mm-wrapper_blocking {
        padding-right: 0;
    }
    .pop-white-bg {
        margin: 140px auto 3% !important;
    }
}


/* iPads (landscape) and (portrait) both ----------- */

@media (min-width: 1200px) and (max-width: 2000px) {
    .pinnbord-left-bg.collapse {
        display: block !important;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .Expires-offer-div {
        width: 25%;
    }
    .offer-box-div .offer-header-box .offer-haeding-texts {
        width: 50%;
    }
}


/* md */

@media (min-width: 992px) and (max-width: 1199px) {
    .profileDetailOuter .pfrofile-username {
        padding-left: 15px;
    }
    .pinnbord-left-bg.collapse {
        display: block;
    }
    header .serch-bar {
        width: 35%;
    }
    .slider-h ul li {
        font-size: 15px;
    }
    .post-header .post-profile-pic {
        margin-right: 7px;
    }
    .offer-box-div .offer-header-box .offer-haeding-texts {
        width: 48%;
    }
    .Expires-offer-div .offer-dates-div {
        font-size: 16px;
        letter-spacing: 0px;
    }
    .Expires-offer-div .offer-dates-div>span {
        font-size: 11px;
        letter-spacing: -1px;
    }
    .user-img-pind>img {
        height: 120px;
        width: 120px;
    }
    .proi-pic-box .pro-box-img {
        font-size: 20px !important;
        line-height: 26px;
        width: 100%;
        padding: 5px;
    }
    .pinboard-boxs-sectios .card-columns {
        -webkit-column-count: 2 !important;
        -moz-column-count: 2 !important;
        column-count: 2 !important;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
    }
    .folllers-pinborad-tag>a,
    .edit-pinborad-tag>a {
        height: 40px;
        width: 40px;
    }
    .folllers-pinborad-tag>a>i {
        font-size: 35px;
        line-height: 41px;
    }
    .folllers-pinborad-tag {
        left: 10px;
        bottom: 5px;
        font-size: 16px;
        line-height: 50px;
    }
    .user-tag-names>span {
        font-size: 18px !important;
    }
    .edit-pinborad-tag>a>i {
        font-size: 24px;
        line-height: 39px;
    }
}


/* sm */

@media (min-width: 768px) and (max-width: 991px) {
    .faceIconClass.loogedInUser a>i {
        margin-right: 5px;
    }
    .box-show {
        display: block;
    }
    .box-hide {
        display: none;
    }
    .mobile-closemo.d-lg-none {
        position: absolute;
        background-color: #fff;
        width: 35px;
        height: 35px;
        text-align: center;
        border-radius: 50%;
        right: -10px;
        top: -10px;
        font-size: 22px;
        text-decoration: none;
        font-weight: 600;
        line-height: 35px;
    }
    .main-pin-board-bg {
        margin-top: 0;
        margin-right: -0;
        right: 0;
        width: 100%;
        left: 0;
    }
    .card-columns {
        -webkit-column-count: 2 !important;
        -moz-column-count: 2 !important;
        column-count: 2 !important;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
    }
    header .serch-bar {
        width: 45% !important;
    }
    .row-custom .filder-text-h {
        font-size: 15px;
    }
    .filder-box {
        padding: 40px 10px 10px;
    }
    .left-within-tag {
        font-size: 15px;
        float: none;
        width: 100% !important;
        margin: 0 0 10px 0;
    }
    .row-custom .filter-btn {
        width: 14% !important;
        float: right;
        margin: 10px 0;
    }
    .first-box-filfers {
        float: left;
        width: 40% !important;
    }
    .row-custom .col-find {
        width: 100% !important;
        float: none;
    }
    .row-custom .col-cat {
        width: 100% !important;
        float: left;
        padding: 10px 0;
    }
    .row-custom .col-Within {
        width: 45% !important;
        float: left;
        padding: 0 10px;
    }
    .slider-h {
        float: left;
        width: 100% !important;
    }
    .post-header .post-profile-pic {
        margin-right: 10px;
    }
    .slect-post-div {
        margin: 30px 0 10px;
    }
    .user-img-pind>img {
        height: 120px;
        width: 120px;
    }
    .pravate-boxs-tagh>label {
        font-size: 16px;
    }
    .pravate-boxs-tagh .user-tag-nagme {
        font-size: 14px;
        line-height: 20px;
    }
    .proi-pic-box .pro-box-img {
        font-size: 20px !important;
        line-height: 26px;
        width: 100% !important;
        padding: 5px;
    }
    .folllers-pinborad-tag>a,
    .edit-pinborad-tag>a {
        height: 40px;
        width: 40px;
    }
    .folllers-pinborad-tag>a>i {
        font-size: 35px;
        line-height: 41px;
    }
    .folllers-pinborad-tag {
        left: 10px;
        bottom: 5px;
        font-size: 16px;
        line-height: 50px;
    }
    .user-tag-names>span {
        font-size: 18px !important;
    }
    .edit-pinborad-tag>a>i {
        font-size: 24px;
        line-height: 39px;
    }
    .pravate-boxs-tagh>label {
        font-size: 14px !important;
    }
}

@media (min-width: 320px) and (max-width: 560px) {
    header.binboard-hd.pinboardHeader {
        min-height: 100px;
        /* position: relative; */
    }
    .edit-bnts-user .btn-cancel,
    .edit-bnts-user .btn-submit {
        font-size: 14px;
    }
    .serch-post,
    .text-form-label {
        font-size: 13px !important;
    }
    /* header .right-header ul li.faceIconClass { margin: 0px 0 0 0 !important; } */
}


/* Mobile versions ----------- */

@media (max-width: 480px) {
    .logo>a>img {
        width: 108px !important;
    }
    a.promoCodeButton {
        padding: 5px 16px !important;
    }
}

@media (max-width: 767px) {
    .faceIconClass.loogedInUser a>i {
        margin-right: 5px;
    }
    #menu li a {
        padding: 7px 15px !important;
        font-size: 14px !important;
    }
    .mm-navbar {
        height: 34px !important;
        line-height: 24px;
    }
    .menuIcon {
        font-size: 36px !important;
        margin-top: 0px !important;
    }
    .h-bg-pinborad.sapce-pinborad-screen {
        padding-top: 60px !important;
    }
    .user-img-pind.userDetailPImg {
        margin: auto;
    }
    .profileDetailOuter .pfrofile-username {
        width: 100%;
        word-break: break-all;
    }
    .pinbotrd-mobile-show {
        display: block !important;
        margin: 25px 0 10px !important;
        text-align: center;
        clear: both;
    }
    section.h-bg-pinborad.padd-LR0.no-adding-space {
        padding: 0 !important;
    }
    header .right-header ul li.pin-title-heading.pinboard-face {
        display: none;
    }
    .subscton-table-div .table-responsive .table td {
        white-space: nowrap;
    }
    .top-greeen-header.m-b20.padd-B20.top-space-notioncs {
        padding: 80px 0 20px !important;
    }
    .col-cat {
        padding: 0px !important;
    }
    .catgery-box-h .category-selcets input.form-control,
    .catgery-box-h select.form-control {
        width: 100% !important;
        margin-bottom: 5px !important;
    }
    .mobile-closemo.d-lg-none {
        position: absolute;
        background-color: #fff;
        width: 35px;
        height: 35px;
        text-align: center;
        border-radius: 50%;
        right: -10px;
        top: -10px;
        font-size: 22px;
        text-decoration: none;
        font-weight: 600;
        line-height: 35px;
    }
    .hide-mobile {
        display: none;
    }
    .edit-pinborad-tag {
        position: absolute;
        right: 0px !important;
        bottom: -58px !important;
        z-index: 1;
        color: #4e960c;
        font-size: 20px !important;
        line-height: 50px !important;
    }
    .edit-pinborad-tag>a {
        height: 45px !important;
        width: 45px !important;
    }
    .edit-pinborad-tag>a>i {
        font-size: 24px !important;
        line-height: 46px !important;
    }
    .card-columns {
        -webkit-column-count: 1 !important;
        -moz-column-count: 1 !important;
        column-count: 1 !important;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
    }
    .box-show {
        display: block;
    }
    .box-hide {
        display: none;
    }
    .h-bg-pinborad {
        padding: 5px 5px;
    }
    .post-header .post-profile-pic {
        margin-right: 7px;
    }
    .logo>a>img {
        width: 130px;
    }
    .header-toogle-btn>a {
        width: 50px !important;
    }
    header .right-header ul li a>i {
        font-size: 35px;
    }
    header .right-header ul li {
        margin: 0 0 0 5px;
        text-align: left;
    }
    header .right-header ul li.pin-title-heading {
        margin: 0 0 0 0px;
        text-align: center;
    }
    header .right-header ul {
        padding: 0px 30px 0 0;
    }
    .offer-box-div .offer-header-box .offer-haeding-texts {
        font-size: 13px !important;
        width: 47% !important;
    }
    .Expires-offer-div .offer-dates-div {
        font-size: 15px !important;
        letter-spacing: 0.1px;
    }
    .Expires-offer-div .offer-dates-div>span {
        font-size: 11px;
        letter-spacing: -0.8px;
    }
    .slider-h ul li {
        font-size: 12px;
    }
    .first-box-filfers {
        width: 100% !important;
        float: none;
    }
    .row-custom .col-find {
        width: 100% !important;
        float: none;
    }
    .row-custom .col-cat {
        width: 100% !important;
        float: none;
        padding: 10px 0;
    }
    .row-custom .col-Within {
        width: 100% !important;
        float: none;
        padding: 0 10px;
        margin: 15px 0;
        clear: both;
        display: inline-block;
    }
    .left-within-tag {
        float: none;
        font-size: 18px;
        width: 100% !important;
        margin: 0 0 10px 0;
    }
    .slider-h {
        float: none;
        width: 100% !important;
    }
    .row-custom .filter-btn {
        width: 100% !important;
        float: none;
    }
    .filder-box {
        padding: 20px 10px 10px;
        clear: both;
        display: table;
        width: 100% !important;
    }
    header .logo>a {
        position: relative;
        bottom: -13px;
    }
    header .serch-bar {
        display: none;
        width: 225px !important;
    }
    .responsiveShowHide {
        display: inline-block !important;
    }
    .text-form-label {
        font-size: 13px;
    }
    .serch-post {
        font-size: 13px;
    }
    .slect-post-div .form-control {
        padding: 5px 2px;
        font-size: 12px;
    }
    .slect-post-div {
        margin: 25px 0 10px;
    }
    .pot-name-texts>h4 {
        font-size: 16px;
    }
    .pot-name-texts .font-meeetngs {
        font-size: 15px;
    }
    .post-box-white .post-contents {
        font-size: 14px;
        line-height: 22px;
    }
    .commet-scroll-box .commt-header-scrll .pot-name-texts {
        width: 68% !important;
    }
    .offer-box-div .offer-header-box .offer-haeding-texts>h4 {
        font-size: 15px !important;
    }
    .offer-box-div .offer-header-box .offer-sub-headign>span {
        font-size: 13px !important;
    }
    .offer-headng-tagline {
        font-size: 18px;
        line-height: 24px;
    }
    .offer-box-div {
        margin: 0 0 10px 0;
    }
    .post-box-white {
        margin: 0 0 10px 0;
    }
    .close-btn {
        width: 34px !important;
        height: 34px !important;
        line-height: 48px !important;
        left: -34px !important;
    }
    .user-img-pind {
        text-align: center;
        margin: 0 auto 15px auto;
        display: table;
    }
    .pfrofile-username {
        font-size: 18px;
        text-align: center;
        float: none;
    }
    .profile-rights {
        float: none;
        margin: 0px auto 0 auto;
        display: table;
    }
    .profile-rights>a {
        font-size: 13px;
    }
    .profile-rights>a>i {
        top: 4px;
        font-size: 16px;
    }
    .pravate-boxs-tagh>label {
        font-size: 16px;
    }
    .pravate-boxs-tagh .user-tag-nagme {
        font-size: 14px;
        line-height: 20px;
    }
    .white-bg-divs {
        padding: 10px;
    }
    .profile-bg-box {
        margin: 15px 0;
    }
    .main-pin-board-bg {
        margin-top: 0;
        margin-right: 0;
        right: 0;
        width: 100% !important;
        left: 0;
    }
    .folllers-pinborad-tag {
        position: relative;
        left: 0;
        bottom: 0;
        font-size: 18px;
        line-height: 28px;
    }
    /* .edit-pinborad-tag {position: absolute; right: 0px; top: 20px; z-index: 1; color: #4e960c; font-size: 18px !important; line-height: 50px; } */
    .folllers-pinborad-tag {
        bottom: 7px !important;
        z-index: 1;
        font-size: 16px !important;
        line-height: 20px !important;
    }
    .folllers-pinborad-tag>a>i {
        font-size: 20px !important;
        color: #fff;
        line-height: 25px !important;
    }
    .folllers-pinborad-tag>a {
        background-color: #4e960c;
        border-radius: 50%;
        height: 25px !important;
        width: 25px !important;
        text-align: center;
        float: left;
        margin: 0 10px 0 0;
    }
    .h-bg-pinborad {
        padding: 10px !important;
        padding-top: 10px !important;
    }
    .pinnbord-left-bg {
        margin: -30px 0 55px;
    }
    .pfrofile-username>span {
        font-size: 14px;
    }
    .leftmenu-pinboard {
        border-radius: 5px !important;
        width: 100% !important;
        position: relative !important;
        top: 70px !important;
        padding-top: 20px !important;
    }
    .leftmenu-pinboard .leftmenu-pinboard {
        top: 0px !important;
    }
    .righ-main-box-bg {
        margin: 80px 0px 0 0px !important;
    }
    .pop-white-bg {
        margin: 140px auto 3% !important;
    }
    .user-tag-names>span {
        font-size: 18px !important;
    }
    .main-pin-board-bg {
        margin-top: 88px !important;
        right: -54px !important;
        width: calc(100% + 50px) !important;
        left: -25px !important;
    }
    div.leftmenu-pinboard {
        display: none;
    }
    /* ul.pinbord-left-menu { display: none; } */
    .pravite-box-divs {
        margin-top: 0px !important;
    }
    .hide-mobile-only {
        display: none;
    }
    .sapce-pinborad-screen .pinnbord-left-bg.box-show {
        margin-top: 105px !important;
        margin-bottom: 0px !important;
    }
}

@media (min-width: 560px) and (max-width: 767px) {
    .main-pin-board-bg {
        margin-top: 45px !important;
    }
    .code-box a.promoCode {
        max-width: 140px;
        display: table !important;
        margin: 0 auto !IMPORTANT;
    }
    .pinnbord-left-bg {
        margin: 30px 0 55px !important;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .logo a img {
        max-width: 100%;
    }
    .main-pin-board-bg {
        margin-top: -27px !important;
        width: calc(100% + 0px) !important;
    }
}

@media screen and (max-width:991px) {
    .pinboardHeader li.pin-title-heading {
        padding-right: 114px !important;
    }
}

.col-md-12.forMobile {
    display: none;
}

@media screen and (max-width:668px) {
    .col-md-12.forMobile {
        display: block;
    }
    .col-md-12.forMobile .serch-bar {
        width: 100% !important;
        margin: 5px 0;
    }
    .serch-bar.fordasktop.searchBoxShow {
        display: none !important;
    }
}

@media (min-width: 320px) and (max-width: 560px) {
    .pinboardHeader li.pin-title-heading {
        padding-right: 0px !important;
    }
    header .serch-bar {
        margin: 5px 0 5px 0;
    }
    .code-box {
        margin: 15px 0 0 !important;
    }
    .code-box a.promoCode {
        max-width: 140px;
        display: table !important;
        margin: 0 auto !IMPORTANT;
    }
    .promo-cose-applay .promo-box-div {
        float: left;
        width: 20px;
    }
    .promo-cose-applay .promo-divs-main {
        float: left;
        font-size: 12px;
        margin: 0 10px;
        width: 80%;
    }
    .promo-cose-applay .remove-btn {
        float: none !important;
        margin: 10px auto 0;
        clear: both;
        display: inline-block;
    }
    button.btn.btn-primary.closePopupButton {
        margin: 10px 0;
    }
}