body{font-family: 'Open Sans', sans-serif;}
footer{background-color: #fff; text-align: center; color: #000000; padding: 20px 0; font-size: 16px;}
.h-bg-pinborad{	background:#fdf8f2 url("../images/h-bg.jpg");  background-repeat:repeat-y;background-position: center center; padding: 35px; background-attachment: fixed;}
.filder-box {

    background-color: #fff;
    border-radius: 10px;
    padding: 40px 20px 20px;
    clear: both;
    display: table;
    width: 100%;
    margin-top: -110px !important;
    position: relative;

}
.catgery-box-h select.form-control{width: 48%; float: left; background-color: #edf0f2; border: solid #cad2d6 1px;}
.catgery-box-h .category-selcets input.form-control{width: 48%; float: right;  background-color: #edf0f2; border: solid #cad2d6 1px;}
.row-custom .col-find{width: 10%; float: left;}
.row-custom .col-cat{width: 40%; float: left; padding: 0 10px;}
.row-custom .col-Within{width: 40%; float: left; padding: 0 10px;}
.row-custom .filter-btn{width: 10%; float: right; }
.row-custom .filder-text-h {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.slider-h ul{margin: 0px; padding: 0px;}
.slider-h ul li {

    display: inline-block;
    list-style: none;
    width: 18%;

}
.left-within-tag{float: left;  font-size: 18px; width: 20%;
    font-weight: 600;
    color: #333;}
.slider-h{float: left; width: 75%;}
.slider-h ul li:last-child{text-align: right; width: 20%;}
.btn-green{background-color: #177703;

    color: #fff;

    width: 100%;

    padding: 10px 10px;}
    header{background-color: #177703; min-height: 60px;}
    header .logo > a {position: relative;bottom: -20px;}
    .serch-bar .form-control{background-color: #4e960c; border: solid #1daa00 1px; min-height: 35px; border-radius: 0px; padding: 10px 40px 10px 10px; color: #fff !important; font-size: 15px; font-weight: 300; }


      @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
        src: local('Material Icons'),
          local('MaterialIcons-Regular'),
          url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
          url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
          url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
      }


      .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: 'liga';
      }
      header .right-header ul{margin: 0px; padding: 0px 40px 0 0; float: right;}
      header .right-header ul li{float: left; list-style: none; margin: 0 0 0 10px;}
      header .right-header ul li a{display: inline-block;}
      header .right-header ul li a > i{color: #fff; font-size: 40px;}
      header .serch-bar {
        float: right;
        width: 25%; position: relative;
    }

    header .right-header {margin: 10px 0; }
    header a.serach-icons{position: absolute; top: 5px; right: 5px;}
    header a.serach-icons > i{color: #fff; font-size: 32px;}

    .serch-post{
        font-size: 20px;
        color: #fff; line-height: 40px;
        font-weight: 700;
    }
     .text-form-label{ font-size: 20px; line-height: 40px;
        color: #fff; margin: 0px; padding: 0px; text-align: right;
        font-weight: 700;}
        .slect-post-div{margin: 50px 0 30px;}
        .imgBrTop { background: url(../images/post-top-bg.png) repeat-x; height: 15px; width: 100%; float: left; }
        .post-box-white{background:#fff ; padding: 10px; -webkit-box-shadow:0px 15px 15px -10px #515151;
            box-shadow: 0px 15px 15px -10px #515151; border-radius: 0 0 5px 5px; margin: 0 0 20px 0; }

            .offer-box-div{background-color: #0541cc;  position: relative;  padding: 10px; -webkit-box-shadow:0px 15px 15px -10px #515151; width: 100%;
                box-shadow: 0px 15px 15px -10px #515151; border-radius:5px; display: inline-block; margin: 0 0 20px 0;}
                .offer-box-div .offer-header-box .offer-pics {
                    height: 55px;
                    width: 55px;
                    border-radius: 50%;
                    overflow: hidden;
                    background-color: #ccc;
                    float: left;
                    margin-right: 5px;
                }

                .offer-box-div .offer-header-box .offer-haeding-texts {
                    float: left;
                    color: #fff;
                    font-size: 15px;
                    line-height: 21px;
                    width: 52%;
                }

                .offer-box-div .offer-header-box .offer-haeding-texts > h4 {
                    font-size: 20px;
                    color: #fff;
                    font-weight: 600;
                    margin: 0px 0 0 0;
                    padding: 0px;
                }
                .offer-box-div .offer-header-box .Expires-offer-div{float: right;}

                .offer-box-div .offer-header-box .offer-sub-headign {
                    font-size: 14px;
                }
                .offer-box-div .offer-header-box .offer-sub-headign > span {
                   font-weight: 600; font-size: 15px;
                }
                .Expires-offer-div{float: right; width: 28%;}
                .Expires-offer-div > span{font-size: 12px; color: #fff;}
                .Expires-offer-div .offer-dates-div{background-color: #edf0f2; border-radius: 3px; text-align: center; color: #0541cc; font-size: 16px; font-weight: 700; letter-spacing: 2px; line-height: 14px; padding: 4px 0;}
                .Expires-offer-div .offer-dates-div > span{display: block; color: #0541cc; font-size: 12px; font-weight: 400; letter-spacing: -0.5px;}

                .offer-box-div .offer-banner {
                    border-radius: 5px;
                    overflow: hidden;
                    width: 100%;
                    margin: 15px 0 5px;
                    display: inline-block;
                }
                .offer-headng-tagline{font-size: 22px; color: #fff;}
                .offer-headng-tagline > span{font-weight: 600}
                .offer-more-tag{text-align: right;}
                .offer-more-tag > a{color: #fff !important; font-weight: 600; font-size: 14px; text-decoration: none;}



        .offer-contnets-div{background-color: #1750d4; border-radius: 10px;padding: 10px 2px 10px 10px;max-height: 150px;overflow: hidden;}
        .offer-contnets-div .scroll-div-conts > p{font-size: 14px;}
        .offer-contnets-heights{margin: 10px 0 0;}
        .post-header .post-profile-pic{height: 60px; width: 60px; border-radius: 50%; overflow: hidden; background-color: #ccc; float: left; margin-right: 20px;}
        .pot-name-texts{float: left; color: #646161; font-size: 15px; line-height: 21px; width: 74%;}
        .pot-name-texts > h4{font-size: 20px; color: #000; font-weight: 600; margin: 0px 0 5px 0; padding: 0px;}
        .pot-name-texts .text-gray {display: block;}
        .text-green{color: #177703;}
        .pot-name-texts .font-meeetngs{font-size:18px; font-weight: 600; }
        .dropdown.post-drapdown {float: right;cursor: pointer;}
        .dropdown.post-drapdown > i{color: #177703; font-size: 26px;}
        .post-box-white .post-contents {
            font-size: 15px;
            color: #000000;
            line-height: 24px;
            clear: both;
            margin: 15px 0 0;
            display: inline-block;
        }

        .offer-contnets-heights .card.card-body{padding: 0px; background-color: transparent; border: none; color: #fff;;}
        .post-box-white  .conmmet-tags { margin: 25px 0 0;  }
        .post-box-white  .conmmet-tags > a{color: #1daa00; font-size: 13px;}
        .post-box-white  .conmmet-tags > a > i{font-size: 15px; color: #1daa00;}
        .post-box-white .conmmet-tags > a > span {
            text-decoration: underline;
            position: relative;
            bottom: 3px;
        }
.post-box-white .card-body{padding: 0px; border:none; margin: 20px 0 0;}
.comment-posts .form-control {
	border-bottom: solid #bfbfbf 3px !important;
	border-radius: 0;
	border: none;
}

.post-commet-btn {
	margin: 15px 0;
	text-align: right;
}
.post-commet-btn .Post-btn{background-color: #177703; cursor: pointer; color: #fff; border: solid #177703 2px; font-weight: 600; font-size: 14px; border-radius: 5px; width: 71px; height: 30px; text-align: center;}
.post-commet-btn .Cancel-btn{background-color: #fff; color: #707070; cursor: pointer; border: solid #707070 2px; font-weight: 600; font-size: 14px; border-radius: 5px; width: 71px; height: 30px; text-align: center;}
.commet-scroll-box{background-color:#f7f7f7; border-radius: 10px; padding: 10px 2px 10px 10px;max-height: 250px;

    overflow: hidden; }
.commt-header-scrll .pot-name-texts > h4{font-size: 16px;}
.commt-header-scrll .commit-sub-text { font-size: 14px; line-height: 22px;}

.commt-header-scrll .pot-name-texts .text-gray{color:#646161; font-size:13px; margin: 5px 0 0;}

.commt-header-scrll {margin:10px 0;display: inline-block;}
.commet-scroll-box .commt-header-scrll .pot-name-texts {
	float: right;
	width: 72%;
}
.tag-boxs {margin: 10px 0;}
.tag-boxs .tag-haeing-line{font-size: 15px; font-weight: 700; color: #fff; display: block; margin: 0 0 5px 0;}
.tag-boxs .tag-all-posted span{font-size: 15px; font-weight: 600; color: #fff; margin: 0 5px 0 0;}
.offer-botom-icons ul{margin: 0px; padding: 0px;}
.offer-botom-icons ul li{list-style: none; display: inline; margin: 0 5px;}

.offer-botom-icons ul li a {color: #fff; font-size: 26px;}
.offer-botom-icons ul li.right-align-icons {float: right;}
.offer-botom-icons {

    border-top: solid #0148eb 1px;
    padding: 7px 0 0 0;
    margin: 5px 0 0 0;

}
.offer-botom-icons ul li a:hover{color: #1daa00;}
.acction-allbox > a {
	width: 52px;
	height: 52px;
	text-align: center;
	background-color: #177703;
	border-radius: 50%;
	display: block;
    line-height: 86px;
    margin: 0 auto;
    position: absolute;
top: -30px;
}
.acction-allbox {

    display: table;
    margin: 0 auto;
    height: 0;
    line-height: 0;
    padding: 0;

}
.acction-allbox > a > i{color: #fff; font-size: 40px;}

.acction-allbox > a > i {

    color: #fff;
    font-size: 46px;

}

.slider-range input {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    min-height: 30px;
    overflow: hidden;
    width: 100%;
  }
  .slider-range input:focus {
    box-shadow: none;
    outline: none;
  }
  .slider-range input::-webkit-slider-runnable-track {
    background: #177703;
    content: '';
    height: 3px;
    pointer-events: none;
    border: 1px solid #177703;
  }
  .slider-range input::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
            appearance: none;
    background: #177703;
    border-radius: 50%;
    margin-top: -8px;
    border: 1px solid #177703;
  }

  .slider-range input::-webkit-range-progress {
    height: 3px;
    background: #ccced0;
    border: 0;
    margin-top: 0;
    border: 1px solid #ccced0;

  }
  .slider-range input::-moz-range-track {
    width: 100%;
    height: 3px;
    background: #ccced0;

  }
  .slider-range input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: #177703;
    border-radius: 100%;
    border: 1px solid #177703;
    position: relative;
  }
  .slider-range input::-moz-range-progress {
    height: 3px;
    background: #177703;
    border: 0;
    margin-top: 0;

  }
  .slider-range input::-ms-track {
    background: transparent;
    border: 0;
    border-color: transparent;
    border-radius: 0;
    border-width: 0;
    color: transparent;
    height: 2px;
    margin-top: 10px;
    width: 100%;
  }
  .slider-range input::-ms-thumb {
    height: 15px;
    width: 15px;
    background: #177703;
    border-radius: 8px;
    border: 1px solid #177703;
  }
  .slider-range input::-ms-fill-lower {
    background: #177703;
    border-radius: 0;
  }
  .slider-range input::-ms-fill-upper {
    background: #177703;
    border-radius: 0;
  }
  .slider-range input::-ms-tooltip {
    display: none;
  }

  .map-bg-view{min-height: 30vh;
    margin: 0;  transition: .5s ease;
    padding: 0;
    line-height: 0;}
.map-bg-view > iframe{height: 30vh;  transition: .5s ease;}

  .map-bg-view.max50height{
    min-height: 100vh !important;
    transition: .5s ease;
}
.map-bg-view.max50height > iframe {
    height: 100vh;
    transition: .5s ease;
}
.close-btn{
position: absolute;
background-color: #fff;
width: 60px;
height: 60px;
text-align: center;
line-height: 80px;
left: -60px;
cursor: pointer;}
.close-btn > a > i{font-size: 36px;}


.pop-white-bg{background-color: #fff; border-radius: 10px; padding: 10px; max-width: 550px; margin: 0 auto; -webkit-box-shadow: 0px 15px 15px -10px #515151;
    box-shadow: 0px 15px 15px -10px #515151;}

.all-post-boxs .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:transparent;
    background-clip: border-box;
    border: none;
    border-radius:0;
    break-inside: avoid;

}

.pop-white-bg{margin:5% auto;}
.pop-white-bg .logo-topbar {
	background-color: #fff;
	border-radius: 50%;
	margin: -90px auto 0;
	width: 160px;
	height: 160px;
	display: block;
	border: solid #1daa00 3px;
	text-align: center;
	line-height: 170px;
}

.rwo-forget-adn {
	margin: 0 0 30px;
	display: inline-block;
	width: 100%;
}



  .form-line-group label {
    display: block;
    position: relative;
    margin:30px 0px;
  }
  .form-line-group input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
  }

  .form-line-group .line-box {
    position: relative;
    width: 100%;
    height: 1px;
    background: #bfbfbf;
  }

  .form-line-group  .line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #1daa00;
    transition: ease .6s;
  }

  .form-line-group  input:focus + .line-box .line {
    width: 100%;
  }

  .form-line-group{padding: 20px;}
  .form-line-group .label-txt {
    position: absolute;
    top: -20px;
    padding: 10px;
    font-size: 16px;
    color:#999999;
    transition: ease .3s;
  }

  .form-line-group .label-active {
    top: -40px;
  }

  .form-line-group .submit-btns button {
    display: block;
    background:#1daa00;
    font-weight: bold;
    color:#fff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    height: 44px;;
    transition: ease .3s; width: 100%;
  }

  .form-line-group  button:hover {
    background: #199000;
    color: #ffffff;
  }
  .heding-forms{text-align: center; color:#333333; font-size: 24px; margin: 30px 0 0;}
  .for-get-link > a{text-decoration: underline !important; color:#177703 !important; font-size: 16px; text-align: right;}
  .rwo-forget-adn .term{float: left;}
  .rwo-forget-adn .for-get-link{float: right;}
  .login-with{width: 200px; margin:20px auto 0; text-align: center; position: relative;}
  .login-with > span {
	background-color: #fff;
	padding: 0 5px;
	font-size: 13px;
	color: 333333;
	text-transform: uppercase;
	z-index: 111;
	position: relative;
}

.line-hr {
	background-color: #e7e7e7;
	height: 1px;
	position: absolute;
	top: 15px;
	width: 200px;
}
.solcil-links {
	text-align: center;
	clear: both;
	display: table;
	margin: 20px auto 0;
}
.solcil-links ul{margin: 0px; padding: 0px; list-style: none; text-align: centerl}
.solcil-links ul li{float: left; margin: 0 10px;}
.solcil-links ul li a.tw {
	background-color: #4baaef;
	border-radius: 5px;
	padding: 7px 35px;
	color: #fff;
    font-size: 22px;
    display: inline-block;
}

.solcil-links ul li a.fb {
	background-color: #35589b;
	border-radius: 5px;
	padding: 7px 35px;
	color: #fff;
    font-size: 22px;
    display: inline-block;
}

.solcil-links ul li a.ld {
	background-color: #0080be;
	border-radius: 5px;
	padding: 7px 35px;
	color: #fff;
    font-size: 22px;
    display: inline-block;
}
.singup-lins{color: #333333; font-size: 16px; text-align: center; margin: 30px 0 0;}
.singup-lins > span > a {color:#177703; text-decoration: underline; font-weight: 600;}

.traam-conts {
	font-size: 14px;
	color: #333333;
}

.traam-conts > span a {color:#177703; text-decoration: underline; font-weight: 600;}
.check-boxs-div{width: 30px !important;

    float: left;

    position: relative;

    top: 5px;}
    .remember-spans {
        display: inline-block !important;
        float: left;
        margin: 0 !important;
    }