body {
    font-family: 'Open Sans', sans-serif;
}

footer {
    background-color: #fff;
    text-align: center;
    color: #000000;
    padding: 20px 0;
    font-size: 16px;
}

.h-bg-pinborad {
    background: #fdf8f2 url("../images/h-bg.jpg");
    background-repeat: repeat-y;
    background-position: center center;
    padding: 35px;
    background-attachment: fixed;
}

.filder-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 20px 20px;
    clear: both;
    display: table;
    width: 100%;
    margin-top: -110px !important;
    position: relative;
}

.catgery-box-h select.form-control {
    width: 48%;
    float: left;
    background-color: #edf0f2;
    border: solid #cad2d6 1px;
}

.catgery-box-h .category-selcets input.form-control {
    width: 48%;
    float: right;
    background-color: #edf0f2;
    border: solid #cad2d6 1px;
}

.row-custom .col-find {
    width: 10%;
    float: left;
}

.row-custom .col-cat {
    width: 40%;
    float: left;
    padding: 0 10px;
}

.row-custom .col-Within {
    width: 40%;
    float: left;
    padding: 0 10px;
}

.row-custom .filter-btn {
    width: 10%;
    float: right;
}

.row-custom .filder-text-h {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.slider-h ul {
    margin: 0px;
    padding: 0px;
}

.slider-h ul li {
    display: inline-block;
    list-style: none;
    width: 18%;
}

.left-within-tag {
    float: left;
    font-size: 18px;
    width: 20%;
    font-weight: 600;
    color: #333;
}

.slider-h {
    float: left;
    width: 75%;
}

.slider-h ul li:last-child {
    text-align: right;
    width: 20%;
}

.btn-green {
    background-color: #177703;
    color: #fff;
    width: 100%;
    padding: 10px 10px;
}

header {
    background-color: #177703;
    min-height: 60px;
}

header .logo>a {
    position: relative;
    bottom: -20px;
}

.serch-bar .form-control {
    background-color: #4e960c;
    border: solid #1daa00 1px;
    min-height: 35px;
    border-radius: 0px;
    padding: 10px 40px 10px 10px;
    color: #fff !important;
    font-size: 15px;
    font-weight: 300;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

header .right-header ul {
    margin: 0px;
    padding: 0px 40px 0 0;
    float: right;
}

header .right-header ul li {
    float: left;
    list-style: none;
    margin: 0 0 0 10px;
}

header .right-header ul li a {
    display: inline-block;
}

header .right-header ul li a>i {
    color: #fff;
    font-size: 40px;
}

header .serch-bar {
    float: right;
    width: 25%;
    position: relative;
}

header .right-header {
    margin: 10px 0;
}

header a.serach-icons {
    position: absolute;
    top: 5px;
    right: 5px;
}

header a.serach-icons>i {
    color: #fff;
    font-size: 32px;
}

.serch-post {
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    font-weight: 700;
}

.text-form-label {
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    margin: 0px;
    padding: 0px;
    text-align: right;
    font-weight: 700;
}

.slect-post-div {
    margin: 20px 0 5px;
}

.imgBrTop {
    background: url(../images/post-top-bg.png) repeat-x;
    height: 15px;
    width: 100%;
    float: left;
}

.post-box-white {
    background: #fff;
    clear: both;
    padding: 10px;
    -webkit-box-shadow: 0px 15px 15px -10px #515151;
    box-shadow: 0px 15px 15px -10px #515151;
    border-radius: 0 0 5px 5px;
    margin: 0 0 20px 0;
}

.offer-box-div {
    background-color: #0541cc;
    position: relative;
    padding: 10px;
    -webkit-box-shadow: 0px 15px 15px -10px #515151;
    width: 100%;
    box-shadow: 0px 15px 15px -10px #515151;
    border-radius: 5px;
    display: inline-block;
    margin: 0 0 20px 0;
}

.offer-box-div .offer-header-box .offer-pics {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ccc;
    float: left;
    margin-right: 5px;
}

.offer-box-div .offer-header-box .offer-haeding-texts {
    float: left;
    color: #fff;
    font-size: 15px;
    line-height: 21px;
    width: 52%;
}

.offer-box-div .offer-header-box .offer-haeding-texts>h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin: 0px 0 0 0;
    padding: 0px;
}

.offer-box-div .offer-header-box .Expires-offer-div {
    float: right;
}

.offer-box-div .offer-header-box .offer-sub-headign {
    font-size: 14px;
}

.offer-box-div .offer-header-box .offer-sub-headign>span {
    font-weight: 600;
    font-size: 15px;
}

.Expires-offer-div {
    float: right;
    width: 28%;
}

.Expires-offer-div>span {
    font-size: 12px;
    color: #fff;
}

.Expires-offer-div .offer-dates-div {
    background-color: #edf0f2;
    border-radius: 3px;
    text-align: center;
    color: #0541cc;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 14px;
    padding: 4px 0;
}

.Expires-offer-div .offer-dates-div>span {
    display: block;
    color: #0541cc;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.5px;
}

.offer-box-div .offer-banner {
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin: 15px 0 5px;
    display: inline-block;
}

.offer-headng-tagline {
    font-size: 22px;
    color: #fff;
}

.offer-headng-tagline>span {
    font-weight: 600
}

.offer-more-tag {
    text-align: right;
}

.offer-more-tag>a {
    color: #fff !important;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.offer-contnets-div {
    background-color: #1750d4;
    border-radius: 10px;
    padding: 10px 2px 10px 10px;
    max-height: 150px;
    overflow: hidden;
}

.offer-contnets-div .scroll-div-conts>p {
    font-size: 14px;
}

.offer-contnets-heights {
    margin: 10px 0 0;
}

.post-header .post-profile-pic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ccc;
    float: left;
    margin-right: 20px;
}

.pot-name-texts {
    float: left;
    color: #646161;
    font-size: 13px;
    line-height: 21px;
    width: calc(100% - 80px);
}

.pot-name-texts>h4 {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin: 0px 0 5px 0;
    padding: 0px;
}

.pot-name-texts .text-gray {
    display: block;
}

.text-green {
    color: #177703;
}

.pot-name-texts .font-meeetngs {
    font-size: 18px;
    font-weight: 600;
}

.dropdown.post-drapdown {
    float: right;
    cursor: pointer;
}

.dropdown.post-drapdown>i {
    color: #177703;
    font-size: 26px;
}

.post-box-white .post-contents {
    font-size: 15px;
    color: #000000;
    line-height: 24px;
    clear: both;
    margin: 15px 0 0;
    display: inline-block;
}

.offer-contnets-heights .card.card-body {
    padding: 0px;
    background-color: transparent;
    border: none;
    color: #fff;
    ;
}

.post-box-white .conmmet-tags {
    margin: 25px 0 0;
}

.post-box-white .conmmet-tags>a {
    color: #1daa00;
    font-size: 13px;
}

.post-box-white .conmmet-tags>a>i {
    font-size: 15px;
    color: #1daa00;
}

.post-box-white .conmmet-tags>a>span {
    text-decoration: underline;
    position: relative;
    bottom: 3px;
}

.post-box-white .card-body {
    padding: 0px;
    border: none;
    margin: 20px 0 0;
}

.comment-posts .form-control {
    border-bottom: solid #bfbfbf 3px !important;
    border-radius: 0;
    border: none;
    min-height: 80px;
}

.post-drapdown .dropdown-menu.show {
    background-color: #4e960c;
    color: #fff;
    text-decoration: none;
    right: 0 !important;
    left: 0 !important;
    transform: translate3d(-131px, 26px, 0px);
}

.post-drapdown .dropdown-menu a.dropdown-item {
    text-decoration: none;
}

.post-drapdown .dropdown-item:focus,
.post-drapdown .dropdown-item:hover {
    color: #f5f5f5;
    text-decoration: none;
    background-color: #4e960c;
}

.post-commet-btn {
    margin: 15px 0;
    text-align: right;
}

.post-commet-btn .Post-btn {
    background-color: #177703;
    cursor: pointer;
    color: #fff;
    border: solid #177703 2px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    width: 71px;
    height: 30px;
    text-align: center;
}

.post-commet-btn .Cancel-btn {
    background-color: #fff;
    color: #707070;
    cursor: pointer;
    border: solid #707070 2px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    width: 71px;
    height: 30px;
    text-align: center;
}

.commet-scroll-box {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 10px 2px 10px 10px;
    max-height: 250px;
    overflow: hidden;
}

.commt-header-scrll .pot-name-texts>h4 {
    font-size: 16px;
}

.commt-header-scrll .commit-sub-text {
    font-size: 14px;
    line-height: 22px;
}

.commt-header-scrll .pot-name-texts .text-gray {
    color: #646161;
    font-size: 13px;
    margin: 5px 0 0;
}

.commt-header-scrll {
    margin: 10px 0;
    display: inline-block;
}

.commet-scroll-box .commt-header-scrll .pot-name-texts {
    float: right;
    width: 72%;
}

.tag-boxs {
    margin: 10px 0;
}

.tag-boxs .tag-haeing-line {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    display: block;
    margin: 0 0 5px 0;
}

.tag-boxs .tag-all-posted span {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    margin: 0 5px 0 0;
}

.offer-botom-icons ul {
    margin: 0px;
    padding: 0px;
}

.offer-botom-icons ul li {
    list-style: none;
    display: inline;
    margin: 0 5px;
}

.offer-botom-icons ul li a {
    color: #fff;
    font-size: 26px;
}

.offer-botom-icons ul li.right-align-icons {
    float: right;
}

.offer-botom-icons {
    border-top: solid #0148eb 1px;
    padding: 7px 0 0 0;
    margin: 5px 0 0 0;
}

.offer-botom-icons ul li a:hover {
    color: #1daa00;
}

.acction-allbox>a {
    width: 52px;
    height: 52px;
    text-align: center;
    background-color: #177703;
    border-radius: 50%;
    display: block;
    line-height: 86px;
    margin: 0 auto;
    position: absolute;
    top: -30px;
}

.acction-allbox {
    display: table;
    margin: 0 auto;
    height: 0;
    line-height: 0;
    padding: 0;
    width: 50px;
}

.acction-allbox>a>i {
    color: #fff;
    font-size: 40px;
}

.acction-allbox>a>i {
    color: #fff;
    font-size: 46px;
}

.map-bg-view {
    min-height: 30vh;
    margin: 0;
    transition: .5s ease;
    padding: 0;
    line-height: 0;
}

.map-bg-view>iframe {
    height: 30vh;
    transition: .5s ease;
}

.map-bg-view.max50height {
    min-height: 100vh !important;
    transition: .5s ease;
}

.map-bg-view.max50height>iframe {
    height: 100vh;
    transition: .5s ease;
}

.close-btn {
    position: absolute;
    background-color: #fff;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 80px;
    left: -60px;
    cursor: pointer;
}

.close-btn>a>i {
    font-size: 36px;
}

.pop-white-bg {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 15px 15px -10px #515151;
    box-shadow: 0px 15px 15px -10px #515151;
}

.all-post-boxs .card {
    position: relative;
    /* display: -ms-flexbox; */
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: none;
    border-radius: 0;
    break-inside: avoid;
}

.pop-white-bg {
    margin: 5% auto;
}

.pop-white-bg .logo-topbar {
    background-color: #fff;
    border-radius: 50%;
    margin: -90px auto 0;
    width: 160px;
    height: 160px;
    display: block;
    border: solid #1daa00 3px;
    text-align: center;
    line-height: 170px;
}

.rwo-forget-adn {
    margin: 0 0 30px;
    display: inline-block;
    width: 100%;
}

.form-line-group label {
    display: block;
    position: relative;
    margin: 30px 0px;
}

.form-line-group input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
}

.form-line-group .line-box {
    position: relative;
    width: 100%;
    height: 1px;
    background: #bfbfbf;
}

.form-line-group .line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #1daa00;
    transition: ease .6s;
}

.form-line-group input:focus+.line-box .line {
    width: 100%;
}

.form-line-group {
    padding: 20px;
}

.form-line-group .label-txt {
    position: absolute;
    top: -20px;
    padding: 10px;
    font-size: 16px;
    color: #999999;
    transition: ease .3s;
}

.form-line-group .label-active {
    top: -40px;
}

.form-line-group .submit-btns button {
    display: block;
    background: #1daa00;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    height: 44px;
    ;
    transition: ease .3s;
    width: 100%;
}

.form-line-group button:hover {
    background: #199000;
    color: #ffffff;
}

.heding-forms {
    text-align: center;
    color: #333333;
    font-size: 24px;
    margin: 30px 0 0;
}

.for-get-link>a {
    text-decoration: underline !important;
    color: #177703 !important;
    font-size: 16px;
    text-align: right;
}

.rwo-forget-adn .term {
    float: left;
}

.rwo-forget-adn .for-get-link {
    float: right;
}

.login-with {
    width: 200px;
    margin: 20px auto 0;
    text-align: center;
    position: relative;
}

.login-with>span {
    background-color: #fff;
    padding: 0 5px;
    font-size: 13px;
    color: 333333;
    text-transform: uppercase;
    z-index: 111;
    position: relative;
}

.line-hr {
    background-color: #e7e7e7;
    height: 1px;
    position: absolute;
    top: 15px;
    width: 200px;
}

.solcil-links {
    text-align: center;
    clear: both;
    display: table;
    margin: 20px auto 0;
}

.solcil-links ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: centerl
}

.solcil-links ul li {
    float: left;
    margin: 0 10px;
}

.solcil-links ul li a.tw {
    background-color: #4baaef;
    border-radius: 5px;
    padding: 7px 35px;
    color: #fff;
    font-size: 22px;
    display: inline-block;
}

.solcil-links ul li a.fb {
    background-color: #35589b;
    border-radius: 5px;
    padding: 7px 35px;
    color: #fff;
    font-size: 22px;
    display: inline-block;
}

.solcil-links ul li a.ld {
    background-color: #0080be;
    border-radius: 5px;
    padding: 7px 35px;
    color: #fff;
    font-size: 22px;
    display: inline-block;
}

.singup-lins {
    color: #333333;
    font-size: 16px;
    text-align: center;
    margin: 30px 0 0;
}

.singup-lins>span>a {
    color: #177703;
    text-decoration: underline;
    font-weight: 600;
}

.traam-conts {
    font-size: 14px;
    color: #333333;
}

.traam-conts>span a {
    color: #177703;
    text-decoration: underline;
    font-weight: 600;
}

.check-boxs-div {
    width: 30px !important;
    float: left;
    position: relative;
    top: 5px;
}

.remember-spans {
    display: inline-block !important;
    float: left;
    margin: 0 !important;
}

.serch-bar input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff !important;
}

.serch-bar input::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff!important;
}

.serch-bar input:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff!important;
}

.serch-bar input:-moz-placeholder {
    /* Firefox 18- */
    color: #fff!important;
}

.mm-wrapper_blocking {
    transition: ease .3s;
}


/* 30-11-18 privacy-policy-  about-us-  how-to css  start*/

.top-greeen-header {
    background-color: #4e960c;
    padding: 60px 0;
    text-align: center;
}

.top-greeen-header h1 {
    font-size: 36px;
    color: #fff;
    font-weight: 600;
}

.gray-bg {
    background-color: #eceef1;
}

.inner-text-conts h2 {
    font-size: 30px;
    color: #3e4348;
    line-height: 46px;
    margin: 0 0 40px 0;
}

.inner-text-conts {
    padding: 60px 0;
}

.inner-text-conts p {
    font-size: 16px;
    color: #3e4348;
    line-height: 32px;
    margin: 0 0 40px 0;
}

.inner-text-conts h3 {
    font-size: 24px;
    color: #3e4348;
    line-height: 32px;
    margin: 0 0 40px 0;
}

.inner-text-conts h4 {
    font-size: 22px;
    color: #3e4348;
    line-height: 32px;
    margin: 0 0 40px 0;
}

.white-bg {
    background-color: #fff;
    padding: 50px 0;
}

.about-texts h2 {
    font-size: 30px;
    font-weight: 600;
    color: #3e4348;
    margin: 0 0 30px 0;
}

.about-texts p {
    font-size: 16px;
    color: #3e4348;
    line-height: 32px;
    margin: 0 0 30px 0;
}

.div-abouts>img {
    max-width: 100%;
    height: 100%;
    border: solid #eceef1 1px;
    padding: 3px;
}

.ptb-50 {
    padding: 60px 0;
}


/* 30-11-18 privacy-policy-  about-us-  how-to css end */


/* 4-12-18 pinboard pages css  */

.pinnbord-left-bg {
    background-color: rgba(67, 43, 30, 0.8);
    border-radius: 10px;
    padding: 20px;
}

.pinnbord-left-bg .pinnborad-boxs-color {
    background-color: #2b160e;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    line-height: 28px;
    border-radius: 10px;
    position: relative;
    margin: 55px 0 20px 0;
    clear: both;
    display: inline-block;
    width: 100%;
}

.pinnbord-left-bg .pinnborad-boxs-color .pinbord-heading {
    margin: 0;
    padding: 15px 20px;
    position: absolute;
    background-color: #2b160e;
    display: inline-block;
    font-size: 22px;
    color: #4e960c;
    top: -40px;
    font-weight: 700;
    left: 0;
    border-radius: 10px 10px 0 0;
}

.pinnbord-left-bg .pinnborad-boxs-color>p {
    display: block;
    clear: both;
    padding: 10px;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

ul.pin-ul-lists {
    margin: 10px 0 0 10px;
    padding: 0px;
    list-style: none;
}

ul.pin-ul-lists li a {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    position: relative;
    top: -6px;
}

ul.pin-ul-lists li>i {
    color: #1daa00;
    font-size: 28px;
    margin-right: 7px;
}

ul.pin-ul-lists li {
    margin: 5px 0;
}

.follers-pind-borad {
    font-size: 18px;
    color: #fff;
    padding: 10px;
}

.follers-pind-borad>span {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
}

.pinborad-missin-box {
    background-color: #ff6347;
    border-radius: 15px;
    padding: 20px;
    position: relative;
}

.pinborad-missin-box .missintg-hading-div {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border-bottom: solid #e84b2e 1px;
    padding: 0 0 10px 0;
    margin: 10px 0;
    position: relative;
}

.missing-img-box>img {
    border-radius: 15px;
    max-width: 100%;
    border: solid #dd553d 1px;
}

.left-top-pin {
    background: url("../images/pin-missing-box.png") no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.right-top-pin {
    background: url("../images/pin-missing-box.png") no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.left-bottom-pin {
    background: url("../images/pin-missing-box.png") no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.right-bottom-pin {
    background: url("../images/pin-missing-box.png") no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.main-pin-board-bg {
    background: url("../images/pinbord-bg.jpg") no-repeat;
    padding: 30px 15px;
    min-height: 200px;
    max-height: 100%;
    position: relative;
    margin-top: -35px;
    margin-right: -65px;
    right: -24px;
    width: calc(100% + 24px);
    left: 0;
}

.main-pin-board-bg::after {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;
}

.sapce-pinborad-screen {
    padding: 35px 10px;
}

.pinbord-user-box {
    text-align: center;
    position: relative;
    z-index: 1;
}

.pind-user-head {
    font-size: 48px;
    color: #fff;
    font-weight: 700;
}

.pinbord-user-box>span {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin: 10px 0;
}

.logo-user-pin>img {
    border-radius: 50%;
    height: 90px;
    width: 90px;
}

.logo-user-pin {
    margin: 0;
}

.user-tag-names {
    font-size: 18px;
    color: #fff;
}

.user-tag-names>span {
    font-size: 32px;
    color: #4e960c;
    font-weight: 700;
}

.folllers-pinborad-tag {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1;
    color: #4e960c;
    font-size: 20px;
    line-height: 50px;
}

.folllers-pinborad-tag>a>i {
    font-size: 40px;
    color: #fff;
    line-height: 56px;
}

.folllers-pinborad-tag>a {
    background-color: #4e960c;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    float: left;
    margin: 0 10px 0 0;
}

.edit-pinborad-tag {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1;
    color: #4e960c;
    font-size: 20px;
    line-height: 50px;
}

.edit-pinborad-tag>a>i {
    font-size: 34px;
    color: #fff;
    line-height: 56px;
}

.edit-pinborad-tag>a {
    background-color: #4e960c;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    margin: 0 10px 0 0;
    display: block;
}

.offer-box-div .offer-banner>img {
    min-width: 100%;
}

.top-pro-img {
    background: url(../images/post-top-bg.png) repeat-x;
    height: 15px;
    width: 100%;
    float: left;
}

.white-bg-divs {
    background-color: #fff;
    padding: 20px;
    display: inline-block;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.user-img-pind>img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: block;
    border: solid #3d3d3d 2px;
}

.pfrofile-username {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    float: left;
}

.pfrofile-username>span {
    font-size: 16px;
    font-weight: 400;
    color: #646161;
    display: block;
}

.profile-rights {
    float: right;
}

.profile-rights>a {
    background-color: #177703;
    font-size: 16px;
    color: #fff !important;
    padding: 8px 10px;
    text-decoration: none !important;
    border-radius: 5px;
}

.profile-rights>a>i {
    position: relative;
    top: 6px;
}

.bio-user-box>h3 {
    margin: 20px 0px;
    padding: 0px;
    font-size: 24px;
    color: #000;
    font-weight: 700;
}

.bio-user-box>p {
    margin: 20px 0px;
    padding: 0px;
    font-size: 15px;
    color: #000;
    font-weight: 400;
    line-height: 24px;
}

.activity-box {
    background-color: #f7f7f7;
    border-radius: 5px;
}

.activity-box .avctive-tabs {
    background-color: #ececec;
    padding: 10px;
    color: #333;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px 5px 0 0;
}

.post-box-div>h4 {
    font-size: 17px;
    font-weight: 600;
    color: #000;
}

.post-box-div ul {
    margin: 0px;
    padding: 0px;
    list-style: none
}

.post-box-div ul li {
    padding: 20px 0px 20px 35px;
    font-size: 15px;
    position: relative;
    margin: 0;
    border-bottom: solid #ececec 1px;
}

.post-box-div ul li:last-child {
    border-bottom: none;
}

.post-box-div {
    padding: 20px 10px;
}

.post-box-div ul li>i {
    color: #1daa00;
    font-size: 25px;
    position: absolute;
    left: 0;
}

.post-box-div ul li span>a {
    color: #000;
    font-weight: 700;
}

.post-box-div ul li span>a:hover {
    color: #1daa00;
}

.pravate-boxs-tagh {
    font-size: 18px;
    background-color: #fbfbfb;
    padding: 7px 15px;
    border: dashed #f0f0f0 1px;
    margin: 0 0 20px;
}

.pravate-boxs-tagh>label {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
}

.pravate-boxs-tagh .user-tag-nagme {
    font-size: 15px;
    line-height: 28px;
    color: #333;
}

.pravite-box-divs {
    margin: 40px 0 0 0;
}

.heaing-partabiet-divs {
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 20px;
}

.edit-bnts-user .btn-submit {
    background-color: #199000;
    padding: 10px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 20px;
}

.edit-bnts-user .btn-cancel {
    background-color: #383838;
    padding: 10px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.edit-bnts-user {
    text-align: right;
    margin: 20px 0;
}

.edit-box-div .pravate-boxs-tagh {
    background-color: transparent;
    border: none;
    padding: 7px 2px;
    margin: 0px;
}

.edit-box-div .pravate-boxs-tagh>label {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.edit-box-div .form-control {
    border-radius: 0px;
    height: 34px;
}

.pravite-box-divs.top-space-less {
    margin: 20px 0 0 0;
}

.user-name-esits {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    font-weight: 400;
    color: #333;
}

.edit-photo-user-btn>a {
    background-color: #177703;
    font-size: 13px;
    color: #fff !important;
    padding: 8px 5px;
    text-decoration: none !important;
    border-radius: 5px;
    margin: 20px auto;
    display: table;
    text-align: center;
}

.checkbox-btn {
    padding: 15px 15px 10px 10px;
}

.checkbox-btn .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #199000;
    margin-right: 10px;
}

.checkbox-btn .custom-control-label {
    font-size: 15px;
}

.checkbox-btn .custom-control-label::before {
    background-color: #999;
}

.proi-pic-box {
    position: absolute;
    overflow: hidden;
    width: 40px;
    margin: 0 auto;
    height: 40px;
    border-radius: 20px;
    background-color: #199000;
    border: dotted #199000 1px;
    bottom: -3px;
    right: -80px;
    left: 0;
}

.user-img-pind {
    position: relative;
}

.proi-pic-box .pro-box-img {
    font-size: 21px !important;
    text-align: center;
    line-height: 35px;
    z-index: 1111111111111;
    margin: 0;
    color: #ffffff !important;
    width: 100%;
    cursor: pointer;
}

.proi-pic-box .btn-profils {
    opacity: 0;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    color: #ffff;
    padding: 0px;
    cursor: pointer;
}

.pin-title-heading {
    font-size: 20px;
    color: #fff;
}

header .right-header ul li span.sub-texts-name {
    font-size: 14px;
}

.border-left-spacing {
    position: relative;
}

.border-left-spacing::after {
    background-color: #d8d8d8;
    height: 100%;
    width: 1px;
    content: "";
    position: absolute;
    left: -40px;
    top: 0;
}

.pravite-box-divs.top-space-less textarea.form-control {
    height: auto;
}

.box-slects-file .js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.box-slects-file button,
.box-slects-file input {
    line-height: normal;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

.box-slects-file inputfile-1+label {
    color: #f1e5e6;
    background-color: #383838;
}

.box-slects-file .inputfile+label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.box-slects-file svg:not(:root) {
    overflow: hidden;
}

.box-slects-file .inputfile-1+label {
    color: #f1e5e6;
    background-color: #383838;
    border-radius: 2px;
}

.box-slects-file .inputfile+label {
    max-width: 80%;
    font-size: 15px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 5px 10px;
}