<app-header>
</app-header>

<section id="wrapper" class="new-login-register">
    <div class="row padleft0">
        <div class="col-sm-6">
            <div class="lg-info-panel">
                <div class="inner-panel">
                    <div class="login-pin">
                        <a href="javascript:void(0)" class="p-20 di"><img class="logo-pin" src="assets/images/logo-pin.png"></a>
                    </div>
                    <div class="logo-pin-headings">StreetPin</div>
                </div>
            </div>


        </div>

        <div class="col-sm-6">
            <div class="new-login-box">
                <div class="white-box">

                    <div class="addressBoxOuter">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="contactAddressBox">
                                    <h2>Address</h2>
                                    <div class="leftIcons">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="rightAddressArea">
                                        Eton Road, Orpington, Kent BR6 9HF
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="addressBoxOuter">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="contactAddressBox">
                                    <h2>Phone Number</h2>
                                    <div class="leftIcons">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="rightAddressArea">
                                        07899 965974
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="addressBoxOuter">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="contactAddressBox">
                                    <h2>Email</h2>
                                    <div class="leftIcons">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="rightAddressArea">
                                        hello@streetpin.com
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>