.new-login-register {

    height: 100%;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.new-login-register .lg-info-panel {
	background: url(/assets/images/login-register.jpg) center center/cover no-repeat!important;
	width: 100%;
	height: 100%;

}
.new-login-register .lg-info-panel .inner-panel {
	position: absolute;
	height: 100%;
	width: 96%;
	background: rgba(0,0,0,.6)
}
.new-login-register .lg-info-panel .lg-content {
	margin-top: 0%;
	text-align: center;
	padding: 0 50px
}
.new-login-register .lg-info-panel .lg-content h2 {
	color: #fff
}
.new-login-register .lg-info-panel .lg-content p {
	padding: 20px 0;
	color: rgba(255,255,255,.7);
	font-style: italic
}

.new-login-register .new-login-box .new-lg-form {
	padding-top: 0
}
.new-login-register .new-login-box .new-lg-form label {
	text-transform: uppercase;
	font-size: 12px
}
.new-login-register .new-login-box .social {
	display: block;
	margin-bottom: 30px
}

.login-pin {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    display: table;
    margin: 140px auto 0;
    border-radius: 50%;
    height: 190px;
    width: 190px;
    line-height: 150px;
}
.logo-pin-headings {
    text-align: center;
    font-size: 60px;
    color: #fff;
    font-weight: 500;
    margin: 20px auto;
}
.di {
    display: inline-block;
}
.p-20 {
    padding: 20px!important;
}
.new-login-register .new-login-box {
    padding: 15px;
    padding-top:90px;
    margin-top: 0;
    width: 100%;
    background: #fff;
     min-height: 81vh;
}

.addressBoxOuter { width: 100%; border: 1px solid #207702; margin-bottom: 40px;border-radius: 5px;}

.contactAddressBox{ padding:30px 15px; width: 100%; float: left; position: relative;}

.contactAddressBox h2{    position: absolute; font-weight: 600; font-size: 20px;
    top: -13px;
    left: 24px;
    background: #fff;}

.leftIcons{ float: left; width: 20px; margin-right: 15px; font-size: 16px;
    font-weight: bold; color:#199000;}
.rightAddressArea{ float: left; width: auto; font-size: 16px; font-weight: 600; color: #212529;}


.padleft0{margin-right: 0px !important}