ul.tram-ullist{margin: 0 0 30px 20px; padding: 0px;}
ul.tram-ullist li{font-size: 16px;color: #3e4348;line-height: 32px;  }
p.maring-left-ulist { margin: 0 0 20px 20px;}
.inner-text-conts.trams-conts-box h3{margin: 0 0 20px 0;}

.inner-text-conts h2{
    margin-bottom: 10px !important;
}
.inner-text-conts p{
    margin-bottom: 10px !important;
}