<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<app-header></app-header>
<section class="gray-bg">
    <div class="top-greeen-header top-space-outer">
        <h1>StreetPin terms and conditions</h1>
    </div>
    <div *ngIf="PageData">
        <div *ngFor="let page of PageData; index as i">
            <div class="white-bg" *ngIf="i % 2 == 0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-texts">
                                <h2>{{page.title}}</h2>
                                <div [innerHTML]="page.content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gray-bg ptb-50" *ngIf="i % 2 != 0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-texts">
                                <h2>{{page.title}}</h2>
                                <div [innerHTML]="page.content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!PageData">
        <div class="col-md-12">
            <div class="text-center no-recod-box">
                <p>No record found </p>
            </div>
        </div>
    </div>
</section>
<!-- <app-header>
</app-header>
<section class="gray-bg">
    <div class="top-greeen-header top-space-outer">
        <h1>terms and conditions</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-text-conts trams-conts-box">
                    <p> Our terms of service that governs our relationship with users and others who interact with StreetPin. By using or accessing the StreetPin Services, you agree to this Statement, as updated from time to time. </p>
                    <p>Because StreetPin provides an increasing range of services, we may ask you to review and accept supplemental terms that apply to your interaction with a specific app, product, or service. </p>
                    <h3>a. Intellectual Property Rights (IPRs), Confidentiality and Data Protection: </h3>
                    <ul class="tram-ullist" type="i">
                        <li>The StreetPin logo and Pin areregistered trademarks: Proximate Ltd retains ownership; the logo and brand can’t be reused without permission. </li>
                        <li>Copying of any contents (including the images and chats) from the website is strictly prohibited. </li>
                        <li>For further information, please see our Privacy Policy </li>
                        <li>StreetPin is compliant with the data protection legislation. </li>
                    </ul>
                    <h3>b. Users’ contents: </h3>
                    <p class="maring-left-ulist"> It is a condition of use of StreetPin that you will not upload content which may be illegal, unlawful, which may infringe any person’s legal rights or be capable of giving rise to legal action against any person; </p>
                    <p class="maring-left-ulist"> Please view our code of conductfor further information as to what can be uploaded or posted on StreetPin. Non-compliance with this provision may result in your content being removed and your user/email blocked from our platform.</p>
                    <p class="maring-left-ulist">Proximate Ltd reserve the right to remove any content which violates this provision and will liaise with the relevant legal bodies in the case of illegal or unlawful content being uploaded or distributed</p>
                    <p class="maring-left-ulist">Pinboard owners will be empowered to moderate the content appearing on their Pinboards, including add, edit and delete functionality.</p>
                    <h3>c. Price and Payment Terms: </h3>
                    <p class="maring-left-ulist">Payment terms will be clearly stated on a subscription or credit basis and will include VAT. Refunds can be requested via hello@streetpin.com</p>
                    <h3>d. Third party links and resources on the website: </h3>
                    <p class="maring-left-ulist">Proximate Ltd is not responsible for nor endorses third party websites or their contents which can be accessed through links posted on StreetPin</p>
                    <h3>e. Variation: </h3>
                    <p class="maring-left-ulist">Proximate Ltd may revise the terms and conditions from time to time and will provide notification of the revised terms and conditions. The revision will apply from the date notice is given. </p>
                    <h3>f. Registration and accounts: </h3>
                    <p class="maring-left-ulist">To be eligible for an account, an individual must be 12 years and over. </p>
                    <h3>g. License to Use Uploaded Contents: </h3>
                    <p class="maring-left-ulist">Proximate Ltd may use the information and imagery uploaded by users, exclusively for promoting StreetPin activities and services </p>
                    <h3>h. Liability and limitation of liability: </h3>
                    <p class="maring-left-ulist">Proximate Ltd offers the use of the StreetPin platform in good faith and will accept no liability that may be incurred in the event of a breach or any loss or damage arising in connection with use of the site or use of or reliance
                        on any content on the site. </p>
                    <p class="maring-left-ulist">Proximate Ltd shall not be liable for loss of profits, sales, business or revenue; business interruption; loss of anticipated savings; loss of business opportunity; goodwill or reputation or indirect or consequential loss/damage. </p>
                    <h3>i. Duration and Termination: </h3>
                    <p class="maring-left-ulist">The contract commences when users sign up or subscription payment is made and continues until it is terminated by the user when either he or the website cancels the subscription. </p>
                    <p class="maring-left-ulist">Free Pinboards may expire due to a period of inactivity or inappropriate usage
                    </p>
                    <h3>j. Applicable Law: </h3>
                    <p class="maring-left-ulist">Proximate Ltd is registered in the UK. The terms and conditions are governed by English law and English courts will have jurisdiction over any disputes. </p>
                    <h3>k. Consumer Declarations: </h3>
                    <p class="maring-left-ulist">Proximate Ltd requires registered users to agree a “read and understood” clause before using the services provided by StreetPin </p>
                    <h3>l. Third party bolt-ons: </h3>
                    <p class="maring-left-ulist">StreetPin is a modular platform and may offer bolt-ons created by third parties. Although every effort will be made to ensure these are fit for purpose, Proximate Ltd accepts no responsibility for the running, upkeep, data storage,
                        transactions and privacy within these offerings </p>
                    <h3>m. Mobile and Other Devices </h3>
                    <p class="maring-left-ulist">We currently provide our mobile services for free, but please be aware that your carrier's normal rates and fees, such as text messaging and data charges, will still apply. </p>
                    <p class="maring-left-ulist">In the event you change or deactivate your mobile telephone number, you will update your account information on StreetPin within 48 hours to ensure that your messages are not sent to the person who acquires your old number.</p>
                    <h3>n. Special Provisions Applicable to Advertisers </h3>
                    <p class="maring-left-ulist">If you use our self-service advertising creation interfaces for creation, submission and/or delivery of any advertising or other commercial or sponsored activity or content, you agree that you are fully empowered to make the offer
                        on behalf of your company or organisation and that you are able to fulfil the offer. </p>
                    <h3>o. Imitation of a person or company </h3>
                    <p class="maring-left-ulist">Any misleading or false advertising on behalf of another organisation or individual may lead to advertising, posts and/or Pinboards being removed and your account may be closed and blocked. </p>


                    <h2>Privacy Policy: </h2>
                    <p>StreetPin will store user data including personal information and chats. StreetPin is registered in the UK, and will ensure compliance with the Data Protection Act 1998. Therefore, the personal data obtained by StreetPin will be: </p>
                    <ul class="tram-ullist" type="i">
                        <li>Lawfully and fairly processed; </li>
                        <li>Obtained for and used only for specified and lawful purposes; </li>
                        <li>Sufficient to the business conducted by StreetPin and not excessive; </li>
                        <li>Kept up to date and accurate; </li>
                        <li>Kept only as long as required by the company for the user’s benefit; </li>
                        <li>Protected from unauthorised or unlawful processing; </li>
                        <li>Processed in accordance with the rights of data subjects under the Data Protection Act; and </li>
                        <li>Not transferred outside of the EEA unless the destination country has adequate levels of protection in place. </li>

                    </ul>

                    <h3> At StreetPin, we believe in transparency and openness, hence please see further information regarding your privacy below
                    </h3>

                    <ul type="1" class="tram-ullist">
                        <li>The kind of personal information we require from you: name and email are mandatory so that we can validate you as a real person, and try to reduce lots of robots or false accounts. We ask for more information, such as your profile,
                            photo etc so that others can see who they are talking to and hopefully build a mutual trust and beneficial relationship
                        </li>
                        <li> Proximate Ltd’s intention and purpose for storage of the information; this is to facilitate your interaction with others and won’t be sold on to 3rd parties </li>
                        <li> Whether the information will be disclosed to third parties, such as agents or sub-contractors and the purpose of such disclosure; Proximate Ltd will work with a variety of partners who may have access to some of our data. Any of
                            these 3rd parties will be asked to sign a non-disclosure agreement before commencing work </li>
                        <li>Proximate Ltd’s intention is to secure the information to the best of our ability </li>
                        <li>If you should have any queries, please contact us at hello@streetpin.com </li>
                    </ul>


                    <h2>Code of conduct: </h2>
                    <p>People use StreetPin to interact and collaborate with those with a common location and/or interest. We ask for a certain degree of respect for the views and expressions of others, which includes content on posts, adverts and Pinboards.
                    </p>
                    <p>Content such as nudity, hate speech or violence will not be tolerated </p>
                    <p>Non-compliance with this provision may result in your content being removed and your user/email blocked from our platform. </p>
                </div>
            </div>
        </div>
    </div>
</section> -->