<li> <a href="/">My Location</a></li>
<li class="findmeOnMobile"><a (click)="handleParentClick()" href="javascript:void(0)">Find me...?</a></li>
<li *ngIf="webLoggedIn == 'true'"><a (click)="changeModule($event)" routerLink="/mypinboard" routerLinkActive="active">My Pinboards</a></li>
<li *ngIf="webLoggedIn == 'true'"><a (click)="changeModule($event)" routerLink="/profile" routerLinkActive="active">My Profile</a></li>
<li *ngIf="webLoggedIn == 'true'"><a (click)="changeModule($event)" routerLink="/offers" routerLinkActive="active">My Offers</a></li>
<li><a routerLink="/my-offer-credits">My Offer Credits</a> </li>
<li *ngIf="webLoggedIn == 'true'"><a (click)="changeModule($event)" routerLink="/posts" routerLinkActive="active">My Posts</a></li>
<li><a routerLink="/pricing">Pricing</a> </li>
<!-- <li><a href="https://streetpindotcom.wordpress.com" target="_blank">Blog</a> </li> -->
<li><a routerLink="/blog" routerLinkActive="active">Blog</a> </li>
<!-- <li *ngIf="webLoggedIn == 'true'"><a (click)="changeModule($event)" routerLink="/credits" routerLinkActive="active">My Credits</a></li> -->
<li><a routerLink="/howto">How to</a></li>
<li><a routerLink="/about">About</a></li>
<li><a routerLink="/contact">Contact</a> </li>
<li *ngIf="webLoggedIn == 'true'"><a href="javascript:void(0);" (click)="logout()">Logout</a></li>
<li *ngIf="webLoggedIn == 'false'"><a routerLink="/login">Login</a></li>