.publicProOuter li i { position: absolute; left: 0; top: 15px; color: #207702; }

.post-box-div ul.publicProOuter li { padding: 10px 0px 10px 35px !important;}
.post-box-div ul.publicProOuter li span.text-gray { font-size: 13px; color: #207702;}
