<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<app-header></app-header>
<div class="h-bg-pinborad sapce-pinborad-screen">
    <div class="profile-bg-dashbord profileDetailOuter">
        <div class="righ-main-box-bg2">
            <section *ngIf="publicProfileData">
                <div class="profile-bg-box">
                    <div class="white-bg-divs borderradus-5">
                        <div class="row">
                            <div class="col-md-2 col-lg-1">
                                <div class="user-img-pind userDetailPImg ">
                                    <img *ngIf="publicProfileData.user.profileImage" src="{{publicProfileData.user.profileImage}}">
                                    <img *ngIf="!publicProfileData.user.profileImage" src="assets/images/user.png">
                                </div>
                            </div>
                            <div class="col-md-10 col-lg-11">
                                <div class="pfrofile-username">{{publicProfileData.user.firstName}} {{publicProfileData.user.lastName}}
                                    <span>Member since: {{membershipDate}}</span>
                                    <span>Email: {{publicProfileData.user.email}}</span>
                                    <span *ngIf="publicProfileData.user.phoneNumber && publicProfileData.user.phoneNumber !='null'">Phone number: {{publicProfileData.user.phoneNumber}}</span>
                                    <span *ngIf="publicProfileData.user.websiteUrl">Website:
                                        <a title="Website" href="{{addhttp(publicProfileData.user.websiteUrl)}}" target="_blank">{{publicProfileData.user.websiteUrl}}</a>
                                       <!--  {{publicProfileData.user.websiteUrl}}  --></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="bio-user-box">
                                    <h3>Intro:</h3>
                                    <p>{{publicProfileData.user.bio}}</p>
                                </div>
                                <div class="bio-user-box" *ngIf="publicProfileData.user.tags">
                                    <h3>Interests/tags:</h3>
                                    <p>{{publicProfileData.user.tags}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="activity-box" *ngIf="publicProfileData">
                                    <div class="avctive-tabs">Recent activity</div>
                                    <!-- Activity -->
                                    <div class="post-box-div pt-0 pb-0">
                                        <ul class="publicProOuter">
                                            <li *ngFor="let profileActivity of profileActivityData | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                                                <span *ngIf="profileActivity.activityType == 'offer'"> <i class="material-icons"> edit</i>
													<span>{{publicProfileData.user.userName}} Added new offer <a routerLink="{{profileActivity.redirectUrl}}">on this pinboard</a><span class="text-gray"> {{dateTimeCalculation(profileActivity.createdDate)}} ago</span></span>
                                                </span>
                                                <span *ngIf="profileActivity.activityType == 'post'"> <i class="material-icons"> edit</i>
													<span>{{publicProfileData.user.userName}} Added new post <a routerLink="{{profileActivity.redirectUrl}}">on this pinboard</a><span class="text-gray"> {{dateTimeCalculation(profileActivity.createdDate)}} ago</span></span>
                                                </span>
                                                <span *ngIf="profileActivity.activityType == 'pinboard'"> <i class="material-icons"> edit</i>
													<span>{{publicProfileData.user.userName}} Added new pinboard <a routerLink="{{profileActivity.redirectUrl}}"> click here to view pinboard</a><span class="text-gray"> {{dateTimeCalculation(profileActivity.createdDate)}} ago</span></span>
                                                </span>
                                                <span *ngIf="profileActivity.activityType == 'comment'"> <i class="material-icons"> chat</i>
													<span>{{publicProfileData.user.userName}} Added new comment <a routerLink="{{profileActivity.redirectUrl}}">on this pinboard</a><span class="text-gray"> {{dateTimeCalculation(profileActivity.createdDate)}} ago</span></span>
                                                </span>
                                            </li>
                                        </ul>
                                        <div class="text-right pagingBottomPadd " *ngIf="profileActivityData">
                                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                        </div>
                                    </div>
                                    <!-- Activity -->
                                </div>
                                <div class="activity-box" *ngIf="!profileActivityData && message">
                                    {{publicProfileData.user.userName}} has no public activity in the last 3 months.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>