.card {
    position: relative;
    display: inline-block;
    width: 100%;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f4fcf8;
    background-clip: border-box;
    border: 1px solid #dff3e9;
    border-radius: 0.5rem;
    margin-bottom: 10px;
}
.card {
    box-shadow: 0 0.1875rem 0.375rem rgba(40, 58, 77, 0.17);
}
.notificationBox span, .notificationBox a { font-size: 14px; }
.notificationBox span.text-small, .notificationBox span.text-small span {
    font-size: 11px;
    color: #666;
}
.readNote .card-body a { text-decoration: none; color: #28a745; }
.br-rad5 { border-radius: 5px !important; }