<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color"
  [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<app-header></app-header>
<app-local-history></app-local-history>
<section class="h-bg-pinborad padd-LR0 no-adding-space">
  <div class="top-greeen-header m-b20 padd-B20 top-space-notioncs">
    <h1>Notifications</h1>
  </div>
  <div class="container">
    <div class="row" *ngIf="notificationData">
      <div class="col-md-12">
        <div class="white-bg-divs br-rad5">
          <div class="row" *ngIf="notificationData">
            <div class="col-md-12" *ngFor="let notification of notificationData; index as i">
              <div class="card card-task readNote" *ngIf="notification.activityType == 'pinboard'">
                <div class="card-body">
                  <span [innerHtml]="notification.notification"></span> Please <a href="{{notification.redirectUrl}}">click here</a> to review Pinboard.<br />
                  <span class="text-small"> <i class="fa fa-calendar" aria-hidden="true"></i> <span> {{dateToUK(notification.createdDate)}}</span>
                  </span>
                </div>
              </div>
              <div class="card card-task readNote" *ngIf="notification.activityType == 'offer'">
                <div class="card-body">
                  <span [innerHtml]="notification.notification"></span> Please <a href="{{notification.redirectUrl}}">click here</a> to review offer on Pinboard.
                 <br />
                  <span class="text-small"> <i class="fa fa-calendar" aria-hidden="true"></i> <span> {{dateToUK(notification.createdDate)}}</span>
                  </span>
                </div>
              </div>
              <div class="card card-task readNote" *ngIf="notification.activityType == 'post'">
                <div class="card-body">
                  New Post added, Please <a href="{{notification.redirectUrl}}">click here</a> to review post on Pinboard.<br />
                  <span class="text-small"> <i class="fa fa-calendar" aria-hidden="true"></i> <span> {{dateToUK(notification.createdDate)}}</span>
                  </span>
                </div>
              </div>
              <div class="card card-task readNote" *ngIf="notification.activityType == 'comment'">
                <div class="card-body">
                  New comment added, Please <a href="{{notification.redirectUrl}}">click here</a> to review comment on Pinboard.<br />
                  <span class="text-small"> <i class="fa fa-calendar" aria-hidden="true"></i> <span> {{dateToUK(notification.createdDate)}}</span>
                  </span>
                </div>
              </div>
             <!--  <div class="card card-task readNote" *ngIf="notification.activityType == 'report'">
                <div class="card-body">
                <span [innerHtml]="notification.notification"></span> Please <a href="{{notification.redirectUrl}}">click here</a> to review post on your pinboard.<br />
                  <span class="text-small"> <i class="fa fa-calendar" aria-hidden="true"></i> <span> {{dateToUK(notification.createdDate)}}</span>
                  </span>
                </div>
              </div> -->
              <div class="card card-task readNote" *ngIf="notification.activityType == 'expire'">
                <div class="card-body">
                  <span [innerHtml]="notification.notification"></span> Please <a href="{{notification.redirectUrl}}">click here</a> to review Pinboard.<br />
                  <span class="text-small"> <i class="fa fa-calendar" aria-hidden="true"></i> <span> {{dateToUK(notification.createdDate)}}</span>
                  </span>
                </div>
              </div>
              </div>
          </div>
          </div>
      </div>
    </div>
    <div class="row" *ngIf="!notificationData">
      <div class="col-md-12">
        <div class="col-md-12">
        <div class="white-bg-divs text-center">
          <p>No record found </p>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>