<div class="leftmenu-pinboard">
  <div class="user-img-pind">
      <img *ngIf="WebUserProfileImage"src="{{WebUserProfileImage}}">
      <img *ngIf="!WebUserProfileImage" src="assets/images/user.png">
    <div class="edit-photo-user-btn">
     <!--  <div class="proi-pic-box">
        <label id="Profile-pic" class="pro-box-img"><i class="fa fa-pencil" aria-hidden="true"></i>
        </label>
        <input accept=".png,.jpg,.jpeg,.gif,.bmp" class="form-control btn-profils" id="Photo" name="Photo" type="file"
          value="" autocomplete="off">
      </div> -->
    </div>
  </div>
  <ul class="pinbord-left-menu">
    <li><a routerLink="/">My location</a></li>
    <li><a (click)="changeModule($event)" routerLink="/profile" routerLinkActive="active">My Profile</a></li>
    <li><a (click)="changeModule($event)" routerLink="/credits" routerLinkActive="active">My Credits</a></li>
    <li><a (click)="changeModule($event)" routerLink="/mypinboard" routerLinkActive="active">My Pinboards</a></li>
    <li><a (click)="changeModule($event)" routerLink="/offers" routerLinkActive="active">My Offers</a></li>
    <li><a (click)="changeModule($event)" routerLink="/posts" routerLinkActive="active">My Posts</a></li>

    <!-- <li><a href="javascript:void(0);">My Pinboard</a></li>
    <li><a href="javascript:void(0);">My Offers</a></li>
    <li><a href="javascript:void(0);">My Posts</a></li> -->
    <li><a href="javascript:void(0);" (click)="logout()">Logout</a></li>
  </ul>
</div>