#noPinBoard {
    top: 10%;
}

.no-heights.edit-box-div .form-control {
    height: auto;
}

.no-pinBoardPopup h3 {
    margin: 20px 0;
}

.no-pinBoardPopup .btn {
    color: #fff;
    background: #177703;
    text-decoration: navajowhite;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 5px;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

.show-dialog {
    display: block !important;
}

.hide-dialog {
    display: none !important;
}

.closePopup {
    margin-left: 5px;
}

.closePopupButton {
    width: 159px !important;
}

.stripePayBoxOuter {
    width: 550px;
    max-width: 100%;
}

.form-line-group iframe {
    height: 100px !important;
}

.mt--23px {
    margin-top: -23px;
    margin-bottom: 15px;
    border-top-color: rgb(114, 114, 114);
}

input::-webkit-input-placeholder {
    /* Edge */
    color: rgb(114, 114, 114);
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(114, 114, 114);
}

input::placeholder {
    color: rgb(114, 114, 114);
}

.form-line-group input {
    border-bottom: 1px solid rgb(114, 114, 114);
}

.form-line-group .submit-btns button {
    font-size: 16px !important;
    height: 36px !important;
    font-weight: normal !important;
    display: inline !important;
}

.promoCode {
    text-decoration: none;
    color: #28a745;
    margin-bottom: 15px;
}

.mar-top {
    margin-top: 15px !important;
}

.box-gary {
    background-color: #f5f5f5;
    padding: 10px;
    margin: 15px 0;
}


/* .form-line-group label {
    margin: 0;
}
 */

.code-box a.promoCode {
    background: #177703;
    padding: 3px 10px;
    color: #fff;
    border-radius: 5px;
    display: inline-block !important;
    width: auto;
    font-size: 14px;
    margin: 5px 0 0 10px !important;
}

.code-box a.promoCode.cancelProCodeBtn {
    background: #f10;
}

.code-box,
.no-maring-box {
    margin: 0px;
}

.promo-cose-applay .remove-btn {
    float: right;
}

.promo-cose-applay .promo-divs-main {
    float: left;
    font-size: 12px;
    margin: 0 10px;
}

.promo-cose-applay .promo-box-div {
    float: left;
}

.promo-cose-applay {
    display: inline-block;
    clear: both;
    width: 100%;
}

.promo-box-div>i {
    color: #177703;
}

.promo-cose-applay .promocode-name {
    font-size: 14px;
    font-weight: 600;
    color: #177703;
    text-align: left;
    display: inline-block;
    margin-right: 5px;
}

.form-line-group .submit-btns button:disabled {
    cursor: not-allowed;
}

.m-b-2 {
    margin-bottom: 30px !important;
}

.white-bg-divs.plns-boxs h3 {
    margin-bottom: 0px;
    font-size: 22px;
}

.plns-sub-text-div {
    text-align: center;
    font-size: 16px;
    color: #333;
    line-height: 26px;
    margin: 0;
    display: inline-block;
    clear: both;
    width: 100%;
    padding: 15px;
    min-height: 80px;
}