<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<app-header></app-header>
<section class="h-bg-pinborad padd-LR0">
    <div class="top-greeen-header m-b20 padd-B20">
        <h1>My Offer credits</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="white-bg-divs plns-boxs m-b-2">
                    <h3 class="text-center" *ngIf="webLoggedIn != 'true' ">
                        Please log in to add credits
                    </h3>
                    <h3 class="text-center" *ngIf="webLoggedIn == 'true' ">
                        <span>Your Credits : </span>
                        <span *ngIf="!totalCredits"> <strong>0</strong> </span>
                        <span *ngIf="totalCredits"> <strong>{{totalCredits}}</strong> </span>
                    </h3>

                </div>
            </div>
        </div>
        <div class="row" *ngIf="subscriptionArr">
            <div *ngFor="let subscription of subscriptionArr; index as i" class="col-md-4 col-sm-6 col-lg-4">
                <div class="plns-boxs">
                    <div class="plns-name-heading">{{subscription.planName}}</div>
                    <div class="credios-prics-box">
                        <div class="plns-credits-text"><span>Credits</span>: {{subscription.credits}}</div>
                        <div class="plns-price-text"><span>&pound;</span>{{subscription.planAmount}}</div>
                    </div>
                    <div class="plns-sub-text-div">{{subscription.description}}.</div>
                    <div class="subs-btn-box"><a href="javascript:void(0)" (click)="buyPlan(subscription.planId,subscription.planAmount,subscription.credits)">Buy
							Now</a></div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!subscriptionArr">
            <div class="col-md-12">
                <div class="white-bg-divs text-center">
                    <p>No record found </p>
                </div>
            </div>
        </div>
    </div>
</section>

<a href="javascript:void(0)" id="openPaymentPopup" [hidden]="true" data-toggle="modal" data-target="#noPinBoard">click
	here</a>

<div class="modal fade" id="noPinBoard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center no-pinBoardPopup">
                <div class="form-line-group">
                    <H4>Card Info </H4>
                    <form class="form-horizontal form-material" name="stripeTest" #f="ngForm" (ngSubmit)="f.form.valid && buy()" novalidate>
                        <label>
							<ngx-stripe-card [options]="cardOptions" autocomplete="off" [elementsOptions]="elementsOptions">
							</ngx-stripe-card>
						</label>
                        <hr class="mt--23px">
                        <a *ngIf="htmlOptions.haveApplyCode" class="promoCode" (click)="haveApplyCode()" href="javascript:void(0)">Have Promo code?</a>
                        <div *ngIf="htmlOptions.applyCode">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box-gary">
                                        <div class="row">
                                            <label class="col-md-12 no-maring-box">
												<input type="text" maxlength="80" name="promoCodeText" trim="blur"
													[(ngModel)]="promoCode.promoCodeText" placeholder="Promo code"
													#promoCodeText="ngModel" required>
												<div *ngIf="f.submitted && !promoCodeText.valid" class="invalid-feedback-signup text-left">Promo code field is required</div>
											</label>
                                            <label class="col-md-12 code-box text-right">
												<a class="promoCode" id="applyButtonDisabled" (click)="applyPromoCode()"
													href="javascript:void(0)">Apply</a>
												<a class="promoCode cancelProCodeBtn" (click)="cancelPromoCode()"
													href="javascript:void(0)">cancel</a>
											</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="promo-cose-applay" *ngIf="htmlOptions.appliedCode">
                            <div class="promo-box-div">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                            </div>
                            <div class="promo-divs-main">
                                <div class="promocode-name">{{htmlOptions.appliedCodeText}}</div> Code applied successfully
                            </div>
                            <div class="remove-btn">
                                <a class="promoCode remove-btn" (click)="removePromoCode()" href="javascript:void(0)">Remove</a>
                            </div>
                        </div>
                        <div class="submit-btns mar-top">
                            <button *ngIf="subscription.planAmount" id="buttonDisabled" type="submit" class="btn btn-primary closePopupButton">
								<span>Pay &pound; {{subscription.planAmount}}</span> </button>
                            <a *ngIf="!subscription.planAmount" href="javascript:void(0)" id="buttonDisabled" (click)="payWithoutAmount()" class="btn btn-primary closePopupButton">
                                <span>Pay &pound; {{subscription.planAmount}}</span> </a>
                            <a href="javascript:void(0)" id="closePaymentPopup" data-dismiss="modal" class="btn btn-primary closePopupButton closePopup">Close </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>