    .plns-heading-tag {
        text-align: center;
        margin: 30px 0;
        font-size: 24px;
        font-weight: 600;
    }
    
    .plns-price-tag {
        font-size: 16px;
        margin: 30PX auto;
        text-align: center;
        font-weight: 700;
        background-color: rgba(78, 150, 12, 0.2);
        border-radius: 0;
        padding: 10px 0px;
        display: block;
        color: #207702;
    }
    
    .plns-sub-text-box {
        font-size: 14px;
        text-align: center;
        padding: 10px 30px;
        line-height: 30px;
    }
    
    .subs-btn>a {
        background-color: #177703;
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        padding: 8px 20px;
        border-radius: 25px;
        margin: 20px auto 20px;
        display: table;
        width: 100%;
        text-align: center;
        max-width: 50%;
        z-index: 1;
        position: relative;
    }
    
    .subs-btn>a:hover {
        color: #fff
    }
    
    .multi-color {
        position: relative;
        margin-bottom: 20px;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,efefef+100 */
        background: #ffffff;
        /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #efffe6 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffffff 0%, #efffe6 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffffff 0%, #efffe6 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efffe6 ', GradientType=0);
        /* IE6-9 */
    }
    
    .planFont {
        font-size: 16px
    }
    
    .last-plasn .plns-price-tag {
        font-size: 16px;
        padding: 10px 0;
    }
    
    .rwo-table ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .rwo-table ul li {
        display: inline-block;
        width: 33%;
        text-align: center;
        font-size: 13px;
        color: #165400;
        padding: 5px 3px;
        margin: 0;
        font-weight: 600;
    }
    
    .last-plasn .rwo-table:nth-child(odd) {
        background: rgba(78, 150, 12, 0.1);
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 5px 0;
    }