<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<app-header></app-header>
<section class="h-bg-pinborad padd-LR0">
    <div class="top-greeen-header m-b20 padd-B20">
        <h1>Pricing</h1>
    </div>
    <div class="container">
        <div class="row mt-5" *ngIf="subscriptionArr">
            <div class="col-md-3  col-sm-6 col-lg-3 ">
                <div class="plns-boxs multi-color">
                    <div class="plns-heading-tag">{{subscriptionArr[2].planName}}</div>

                    <div class="plns-price-tag">
                        {{subscriptionArr[2].amountDescription}}
                    </div>

                    <div class="plns-sub-text-box" [innerHtml]="subscriptionArr[2].description"></div>
                    <div class="subs-btn">
                        <!-- <a routerLink="/mypinboard">Create</a> -->
                        <a (click)="pinboardPlanIDs(subscriptionArr[2].planId)" href="javascript:void(0)">Create</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3  col-sm-6 col-lg-3 ">
                <div class="plns-boxs multi-color">

                    <div class="plns-heading-tag">{{subscriptionArr[0].planName}}</div>

                    <div class="plns-price-tag">
                        {{subscriptionArr[0].amountDescription}}
                        <!-- <span>&pound;</span>{{subscriptionArr[0].planAmount}}<span class="planFont" *ngIf="subscriptionArr[0].planId==1">/year</span><span class="planFont" *ngIf="subscriptionArr[0].planId==2">/month</span> -->
                    </div>

                    <div class="plns-sub-text-box" [innerHtml]="subscriptionArr[0].description"></div>
                    <div class="subs-btn">
                        <!-- <a routerLink="/mypinboard">Create</a> -->
                        <a (click)="pinboardPlanIDs(subscriptionArr[0].planId)" href="javascript:void(0)">Create</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3  col-sm-6 col-lg-3 ">
                <div class="plns-boxs multi-color">

                    <div class="plns-heading-tag">{{subscriptionArr[1].planName}}</div>

                    <div class="plns-price-tag">
                        {{subscriptionArr[1].amountDescription}}
                        <!-- <span>&pound;</span>{{subscriptionArr[1].planAmount}}<span class="planFont" *ngIf="subscriptionArr[1].planId==1">/year</span><span class="planFont" *ngIf="subscriptionArr[1].planId==2">/month</span> -->
                    </div>

                    <div class="plns-sub-text-box" [innerHtml]="subscriptionArr[1].description"></div>
                    <div class="subs-btn">
                        <!-- <a routerLink="/mypinboard">Create</a> -->
                        <a (click)="pinboardPlanIDs(subscriptionArr[1].planId)" href="javascript:void(0)">Create</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3  col-sm-6 col-lg-3 ">
                <div class="plns-boxs multi-color last-plasn">
                    <div class="plns-heading-tag">My Offer credits</div>

                    <div class="plns-price-tag"><span>&pound;1 Per pinboad per page</span>
                    </div>

                    <div class="rwo-table">
                        <ul>
                            <li><strong> Title</strong></li>
                            <li><strong>Credit(s)</strong></li>
                            <li><strong>Price</strong></li>
                        </ul>
                    </div>
                    <div class="rwo-table" *ngFor="let plans of subscriptionPlanList">
                        <ul>
                            <li>{{plans.planName}}</li>
                            <li>{{plans.credits}}</li>
                            <li>&pound;{{plans.planAmount}}</li>

                        </ul>
                    </div>
                    <div class="subs-btn">
                        <!-- <a routerLink="/mypinboard">Create</a> -->
                        <a routerLink="/my-offer-credits">Buy</a>
                    </div>
                </div>
            </div>

            <!-- <div *ngFor="let subscription of subscriptionArr; index as i" class="col-md-4  col-sm-6 col-lg-4 ">
                <div class="plns-boxs multi-color">

                    <div class="plns-heading-tag">{{subscription.planName}}</div>

                    <div class="plns-price-tag"><span>&pound;</span>{{subscription.planAmount}}<span class="planFont" *ngIf="subscription.planId==1">/year</span><span class="planFont" *ngIf="subscription.planId==2">/month</span>
                    </div>

                    <div class="plns-sub-text-box" [innerHtml]="subscription.description"></div>
                    <div class="subs-btn">

            <a (click)="pinboardPlanIDs(subscription.planId)" href="javascript:void(0)">Create</a>
        </div>
    </div>
    </div> -->
        </div>
        <div class="row" *ngIf="!subscriptionArr">
            <div class="col-md-12">
                <div class="white-bg-divs text-center">
                    <p>No record found </p>
                </div>
            </div>
        </div>
    </div>
</section>