<ul>
	<!-- <li class="responsiveShowHide" (click)="searchActive=!searchActive">
		<a href="javascript:void(0)">
			<i class="fa fa-search" style="font-size:18px;margin-top: 10px;" ></i>
		</a>
	</li> -->

	<li *ngIf="webLoggedIn == 'true'">
		<a routerLink="/profile">
			<div class="user-img-head">
				<img *ngIf="WebUserProfileImage" src="{{WebUserProfileImage}}">
				<img class="no-border" *ngIf="!WebUserProfileImage" src="assets/images/user1.png">
			</div>
			<!-- <i class="material-icons md-24">face</i> -->
		</a>
	</li>

	<!-- <li *ngIf="webLoggedIn == 'false'"><a routerLink="/login">
			<i class="fa fa-sign-in green-icons" aria-hidden="true"></i>
		</a>
	</li> -->
	<li *ngIf="webLoggedIn == 'false'">
		<a routerLink="/login">
			<div class="user-img-head no-border">
				<img class="no-border" src="assets/images/user1.png">
			</div>
		</a>
	</li>
	<li *ngIf="webLoggedIn == 'true'">
		<app-notification-count></app-notification-count>
	</li>
	<li>
		<div id="page">
			<div class="header-toogle-btn">
				<a href="javascript:void(0);" (click)="navActive=!navActive"><span></span></a>
			</div>
			<nav id="menu" [ngClass]="{'active' : navActive}">
				<span class="close-btn" (click)="navActive=!navActive"><a href="#"><i
							class="material-icons">clear</i></a></span>
				<div class="mm-navbar"><a class="mm-navbar__title">Menu</a></div>
				<ul>
					<app-static-menu></app-static-menu>
					<!-- <li><a routerLink="/">Home</a></li>
					<li><a routerLink="/credit-plan">Credit Plans</a> </li>
					<li *ngIf="webLoggedIn == 'true'"><a (click)="changeModule($event)" routerLink="/profile"
							routerLinkActive="active">My
							Profile</a></li>
					<li *ngIf="webLoggedIn == 'true'"><a (click)="changeModule($event)" routerLink="/credits"
							routerLinkActive="active">My Credits</a></li>
					<li *ngIf="webLoggedIn == 'true'"><a (click)="changeModule($event)" routerLink="/mypinboard"
							routerLinkActive="active">My
							Pinboards</a></li>
					<li *ngIf="webLoggedIn == 'true'"><a (click)="changeModule($event)" routerLink="/offers"
							routerLinkActive="active">My
							Offers</a></li>
					<li *ngIf="webLoggedIn == 'true'"><a (click)="changeModule($event)" routerLink="/posts"
							routerLinkActive="active">My
							Posts</a></li>
							<app-static-menu></app-static-menu>
					<li *ngIf="webLoggedIn == 'true'"><a href="javascript:void(0);" (click)="logout()">Logout</a></li>
					<li *ngIf="webLoggedIn == 'false'"><a routerLink="/login">Login</a></li> -->

				</ul>
				<span class="close-btn" hidden=[]><a href="#"><i class="material-icons">clear</i></a></span>
			</nav>
		</div>
	</li>
</ul>
<!-- <div class="serch-bar responsiveShowHide" [ngClass]="{'searchBoxHide' : searchActive}">
	<form>
		<input type="text" trim="blur" onPaste="return false" class="form-control" placeholder="Search Location"
			ngx-google-places-autocomplete #placesRef="ngx-places" maxlength="100"
			class="form-control form-control-line" placeholder="Enter location" name="location"
			(onAddressChange)="handleAddressChange($event)" />
		<a href="#" class="serach-icons"><i class="material-icons">search</i></a>
	</form>
</div> -->