<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<app-header></app-header>
<app-local-history></app-local-history>
<div class="h-bg-pinborad sapce-pinborad-screen">
    <div class="profile-bg-dashbord">
        <div class="leftmenu-pinboard">
            <app-profile-sidebar></app-profile-sidebar>
        </div>
        <div class="righ-main-box-bg">
            <section>
                <div class="col-md-12">
                    <div class="subscton-table-div">
                        <div class="">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="page-title-tag">My Credits </div>
                                </div>
                            </div>

                            <!-- <div class="credit_box">
            <div class="credit_heading"><img src="assets/images/credit-icon.png"></div>
          </div> -->
                            <div class="credit_prices">Your Total Credits</div>
                            <div class="credit_price_Sections">
                                <span *ngIf="!totalCredits">0 </span>
                                <span *ngIf="totalCredits">{{totalCredits}} </span>
                            </div>
                            <div class="subs-btn-box"> <a routerLink="/my-offer-credits">Buy Credits</a></div>
                            <!-- <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Plan Name</th>
                <th scope="col">Amount Paid</th>
                <th scope="col">Credits</th>
                <th scope="col">Credit Date</th>
              </tr>
            </thead>
            <tbody *ngIf="subscriptionArr">
              <tr *ngFor="let subscription of subscriptionArr; index as i">
                <td scope="row">{{i+1}}</td>
                <td>{{subscription.planName}}</td>
                <td><span>&pound;</span>{{subscription.amountPaid}}</td>
                <td>{{subscription.remainingCredits}}</td>
                <td>{{subscription.subscriptionDate}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="!subscriptionArr">
              <tr>
                <td colspan="5" class="text-center">No Records Found</td>
              </tr>
            </tbody>
          </table> -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>