<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<app-header></app-header>
<section class="h-bg-pinborad">
    <div class="pop-white-bg">
        <div class="logo-topbar">
            <img class="logo-pin" src="assets/images/logo-pin.png">
        </div>
        <div class="heding-forms">
            Please create an account to continue</div>
        <div class="form-line-group bottom-sapces-form">
            <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>

                <label>
          <p class="label-txt">First Name<span class="req">*</span></p>
          <input type="text" maxlength="80" name="firstName"
            [(ngModel)]="Profile.firstName" #firstName="ngModel" trim="blur" required>
            <div class="line-box">
              <div class="line"></div>
            </div>
          <div *ngIf="f.submitted && !firstName.valid" class="invalid-feedback-signup">First Name field is required</div>

        </label>
                <label>
          <p class="label-txt">Last Name<span class="req">*</span></p>
          <input type="text" maxlength="80" name="lastName" [(ngModel)]="Profile.lastName" #lastName="ngModel" trim="blur"
            required><div class="line-box">
              <div class="line"></div>
            </div>
          <div *ngIf="f.submitted && !lastName.valid" class="invalid-feedback-signup">Last Name field is required</div>

        </label>
                <label>
          <p class="label-txt">Username<span class="req">*</span></p>
          <input type="text" maxlength="80" name="userName" pattern="^[A-Za-z][A-Za-z0-9_@./#&+-]*$" [(ngModel)]="Profile.userName" #userName="ngModel" trim required>
            <div class="line-box">
              <div class="line"></div>
            </div>
          <div *ngIf="f.submitted && !userName.valid && !userName.errors.pattern" class="invalid-feedback-signup">Username field is required</div>
          <div *ngIf="userName.errors && userName.errors.pattern" class="invalid-feedback-signup">Please enter a valid Username</div>

        </label>
                <label>
        <p class="label-txt">Email<span class="req">*</span></p>
        <input type="text" maxlength="80" name="email" [(ngModel)]="Profile.email" #email="ngModel" trim="blur" pattern='^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' required>
        <div class="line-box">
          <div class="line"></div>
        </div>
        <div *ngIf="f.submitted && !email.valid && !email.errors.pattern" class="invalid-feedback-signup">Email field is required</div>
        <div *ngIf="email.errors && email.errors.pattern" class="invalid-feedback-signup">Please enter a valid email address</div>

      </label>
                <label>
        <!-- pattern="^(?=\S*[a-z])(?=\S*[A-Z])(?=\S*\d)(?=\S*[^\w\s])\S{8,}$" -->
        <p class="label-txt">Password<span class="req">*</span></p>
        <input type="password" maxlength="29" pattern="^[0-9,a-z,A-Z,@,#,$,^,!,%,&,*]{6,30}$" name="password" [(ngModel)]="Profile.password" #password="ngModel"  required>
        <div class="line-box">
          <div class="line"></div>
        </div>
        <div *ngIf="f.submitted && !password.valid && !password.errors.pattern" class="invalid-feedback-signup">Password field is required</div>
        <div *ngIf="password.errors && password.errors.pattern" class="invalid-feedback-signup">Password must contain at least 6 characters</div>
       <!--  <div *ngIf="password.errors && password.errors.pattern" class="invalid-feedback-signup">Password must contain at least 8 characters, at least one number and both lower and uppercase letters and special
        characters</div> -->

      </label>
                <label>
        <p class="label-txt">Confirm Password<span class="req">*</span></p>
        <input type="password" maxlength="80" name="cpassword" [(ngModel)]="htmlOptions.cpassword" #cpassword="ngModel" required>
          <div class="line-box">
          <div class="line"></div>
        </div>
        <div *ngIf="f.submitted && !cpassword.valid" class="invalid-feedback-signup">Confirm Password field is required</div>

        <div *ngIf="(cpassword.valid && f.submitted && htmlOptions.cpassword != Profile.password)" class="invalid-feedback-signup">Password does not match the confirm password</div>

      </label>
                <label>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">I’d like to get updates and free stuff</label>
        </div>
        <div class="line-box">
            <div class="line"></div>
        </div>
        </label>
        <div class="rwo-forget-adn">
            <div class="traam-conts">
                <span>By clicking below, you’re agreeing to our
              <a routerLink="/terms-conditions" target="_blank">terms and conditions</a>
            </span>
            </div>
        </div>
        <div class="submit-btns">
            <button type="submit"><span>Sign Up</span></button>
        </div>
        <!--
        <div class="login-with">
          <span> Or Login with</span>
          <div class="line-hr"></div>
        </div>
         <div class="solcil-links">
          <ul>
            <li>
              <a href="javascript:void(0)" class="tw" (click)="socialSignIn('facebook')">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" class="fb" (click)="socialSignIn('facebook')">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" class="ld" (click)="socialSignIn('facebook')">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div> -->
        <div class="singup-lins">
            Already have an account?
            <span>
            <a routerLink="/login">Login</a>
          </span>
        </div>
        </form>
    </div>
    </div>
</section>