.offerBoxColor1 {
    background: rgb(250, 191, 149) !important;
}

.offerBoxColor2 {
    background: rgb(163, 231, 137) !important;
}

.offerBoxColor3 {
    background: rgb(231, 222, 137) !important;
}

.offerBoxColor4 {
    background: rgb(137, 175, 231) !important;
}

.offerBoxColor5 {
    background: rgb(231, 137, 226) !important;
}

.offerBoxColor6 {
    background: rgb(175, 255, 235) !important;
}

.offerBoxColor7 {
    background: rgb(210, 193, 238) !important;
}

.offerBoxColor8 {
    background: rgb(196, 212, 198) !important;
}

.offerBoxColor9 {
    background: rgb(226, 187, 187) !important;
}

.offerBoxColor10 {
    background: rgb(250, 219, 172) !important;
}

.main-pin-board-bg.box-show1 {
    margin-top: 20px !important;
}

.creat-postds {
    background: #fff;
    width: 100%;
    padding: 20px;
    -webkit-box-shadow: 0px 15px 15px -10px #515151;
    box-shadow: 0px 15px 15px -10px #515151;
    border-radius: 5px;
    margin: 30px 0 20px 0;
}

.post-crart-divs .form-control {
    border-radius: 0;
    min-height: 44px;
}

.creat-postds .post-cancel-btn {
    background-color: #fff;
    border-radius: 5px;
    border: solid #707070 2px;
    width: 100%;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #707070;
    cursor: pointer;
    display: inline-block;
}

.btn-rightalings {
    margin: 10px 0 0;
}

.creat-postds .btn-Post-save {
    background-color: #177703;
    border-radius: 5px;
    border: solid #177703 2px;
    width: 100%;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    min-width: 60px;
}

.creat-postds .post-crart-divs {
    margin: 0 0 0px 0;
}

.creat-postds .post-crart-divs.input-box-space-div {
    margin: 0 0 20px 0;
}


/* .post-pic-brow .pro-box-img {
  font-size: 15px !important;
  text-align: center;
  line-height: 35px;
  margin: 0;
  text-transform: uppercase;
  color: #585858 !important;
  width: 100%;
  cursor: pointer;
} */

.post-pic-brow .btn-profils {
    width: 100%;
    height: 100%;
    color: #585858;
    padding: 10px;
    cursor: pointer;
    background-color: #f3f3f3;
    border: dashed #ccc 1px;
    overflow: hidden;
}

.post-pic-brow {
    margin: 15px 0;
}


/*
.post-pic-brow {
  display: block;
  width: 100%;
  padding: 15px 10px;
  background-color: #eeeeee;
  border: solid #dddddd 1px;
}

.post-pic-brow .pro-box-img>span {
  display: block;
  margin: 0;
} */

@media all and (min-width: 1201px) and (max-width: 1800px) {
    header .right-header ul li {
        margin: 5px 0 0 10px;
    }
}

@media all and (min-width: 992px) and (max-width: 1200px) {
    header .right-header ul li {
        margin: 5px 0 0 10px;
    }
    .post-pic-brow .pro-box-img>span {
        margin: 10px 0 0;
    }
    .post-pic-brow .pro-box-img {
        font-size: 14px !important;
        line-height: 14px;
    }
    .post-pic-brow .pro-box-img>span {
        margin: 10px 0 0;
    }
    .post-pic-brow {
        padding: 10px;
    }
    .creat-postds .post-cancel-btn,
    .creat-postds .btn-Post-save {
        padding: 6px 5px;
    }
    .post-pic-brow {
        margin: 0px 0;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .post-pic-brow .pro-box-img {
        line-height: 30px;
    }
    .post-pic-brow {
        padding: 10px;
    }
    .post-pic-brow {
        margin: 0px 0;
    }
    header .right-header ul li {
        margin: 5px 0 0 10px;
    }
}

@media all and (max-width: 767px) {
    .creat-postds .post-crart-divs {
        margin: 0 0 15px 0;
    }
    .post-pic-brow {
        margin: 0 0 15px;
    }
    .close-btn {
        left: -44px;
    }
    .pin-title-heading {
        font-size: 20px;
        line-height: 20px;
    }
    .pinbotrd-mobile-show {
        margin: 40px 0 10px !important;
    }
    .pin-title-heading img {
        margin-bottom: 4px;
    }
    .pinboardHeader li.pin-title-heading {
        padding-right: 130px !important;
    }
}

#noPinBoard {
    top: 10%;
}

.no-heights.edit-box-div .form-control {
    height: auto;
}

.no-pinBoardPopup h3 {
    margin: 20px 0;
}

.no-pinBoardPopup .btn {
    color: #fff;
    background: #177703;
    text-decoration: navajowhite;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 5px;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

.show-dialog {
    display: block !important;
}

.hide-dialog {
    display: none !important;
}

.closePopup {
    margin-left: 5px;
}

.closePopupButton {
    width: 159px !important;
}

.showPostPopup {
    display: block !important;
}

.creat-postds {
    display: none;
}

.title-pinboard {
    margin-top: 2px;
}

.post-pic-brow {
    margin: 0 0;
}

.post-crart-divs .form-control {
    font-size: 12px;
}

.post-commet-btn .Cancel-btn {
    margin-left: 10px;
}

.closeBtn {
    position: absolute;
    right: -8px;
    top: -8px;
    border-radius: 50%;
    border: none;
    background: #1daa00;
    color: #fff;
}

input.imageBoxWidth {
    font-size: 11px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 58px);
    margin: 4px 0 0;
}

.highlight {
    border: 3px solid #fff !important;
}


/* @media (min-width: 561px) and (max-width: 736px) {
 #menu{ top: 90px !important;}
} */


/* @media (max-width: 560px){
 #menu{ top: 100px !important;}
} */

@media (max-width: 786px) {
    input.imageBoxWidth {
        width: 150px !important;
    }
}

.post-box .offer-banner>img {
    max-width: 100%;
}

.offer-box-div .offer-banner>img {
    min-width: 100% !important;
}

.post-box .offer-banner {
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin: 15px 0 5px;
    display: inline-block;
}

li.pin-title-heading.pinboard-face {
    margin-top: 10px !important;
}

.pinnbord-left-bg .pinnborad-boxs-color.noWrape>p {
    word-break: normal !important;
}

.mm-navbar__title {
    font-size: 16px;
}

.mm-navbar {
    height: 40px;
    line-height: 30px;
}

@media (max-width: 767px) {
    .menuIcon {
        font-size: 20px !important;
    }
}

@media (min-width: 561px) and (max-width: 767px) {
    #menu {
        top: 101px !important;
    }
}

@media (min-width: 320px) and (max-width: 560px) {
    #menu {
        top: 100px !important;
    }
}

@media (max-width: 559px) {
    .main-pin-board-bg {
        margin-top: 39px !important;
    }
}

@media (max-width: 767px) and (min-width: 560px) {
    .main-pin-board-bg {
        margin-top: 40px !important;
    }
}

@media (max-width: 767px) {
    #menu ul {
        max-height: calc(100vh - 160px) !important;
        overflow: auto;
    }
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-empty {
    background-color: transparent !important;
    border: none !important;
    height: 30px !important;
    width: 25px;
    color: #fff !important;
    margin-top: -14px;
}

.posRel {
    position: relative;
}

.customTooltip {
    width: 200px;
    border: 1px solid #fff;
    position: absolute;
    background: #207702;
    border-radius: 10px;
    color: #fff;
    font-size: 13px;
    padding: 8px 10px;
    bottom: 40px;
    text-align: center;
}

.customTooltip .closePoup {
    font-size: 13px;
    position: absolute;
    top: -10px;
    right: -3px;
    background: #f10;
    width: 20px;
    height: 20px;
    line-height: 18px;
    border-radius: 50px;
    text-align: center;
}

.customTooltip {
    display: none;
}

.customTooltipShow {
    display: block !important;
}

.post-drapdown.dropdown {
    z-index: 1;
}

.imageRotation90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.post-crart-divs.input-box-space-div>textarea.height-formbox {
    min-height: 153px;
    ;
}

img.source-crop-image {
    width: 100%;
    max-height: 150px;
    float: left;
}

.pull-right.cropImgBtnRight>a.cropiimg {
    background-color: #177703;
    border-radius: 5px;
    border: solid #177703 2px;
    width: 100%;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    min-width: 90px;
    text-decoration: none;
    min-width: 60px;
    text-align: center
}

.pull-right.cropImgBtnRight>a.cropCancel {
    background-color: #fff;
    border-radius: 5px;
    border: solid #707070 2px;
    margin: 0 5px;
    padding: 4px 10px 3px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #707070;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    min-width: 60px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 10px;
}

.pull-right.cropImgBtnRight {
    margin: 5px 0 10px;
}

.post-pic-brow>span {
    margin: 5px 0 3px;
    float: left;
}

.user-tag-nagme input[type="file"] {
    font-size: 13px;
}

.crop-imgshow {
    padding: 2px;
    border: solid #e4e4e4 1px;
    max-height: 150px;
}

.source-crop-image {
    width: 100%;
    max-height: 150px;
}

.post-pic-brow {
    min-height: 150px;
    margin-bottom: 5px;
    position: relative;
}

.pinboardHeader li.pin-title-heading {
    padding-right: 105px;
}

@media screen and (max-width: 991px) {
    .pinboardHeader li.pin-title-heading {
        padding-right: 130px !important;
    }
}

.pin-title-heading {
    line-height: 18px;
}

.main-bg-banners img.img-fluid {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    height: 200px;
}

@media screen and (max-width:991px) {
    .spinnerLodingText {
        font-size: 14px !important;
        color: white !important;
        margin-top: 125px !important;
        text-align: center !important;
    }
}