<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p class="spinnerLodingText" style="font-size: 18px; color: white; margin-top: 25px">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<!-- <app-header></app-header> -->
<header class="binboard-hd pinboardHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-4 mobile-space-ds">
                <div class="logo">
                    <a href="/"><img src="assets/images/logo.png"></a>
                </div>
            </div>
            <div class="col-md-9 col-8">
                <div class="right-header">
                    <ul>
                        <li class="pin-title-heading pinboard-face"> <span *ngIf="isTown"><img src="assets/images/town.png"></span>{{pinboardDetailsArr.title}}
                        </li>
                        <li *ngIf="isLoggedIn == 'true'" class="notiFicatioLIset">
                            <app-notification-count></app-notification-count>
                        </li>
                        <li *ngIf="isLoggedIn == 'false'" class="notiFicatioLIset">
                            <a routerLink="/login">
                                <div class="user-img-head no-border">
                                    <img class="no-border" src="assets/images/user1.png">
                                </div>
                            </a>
                        </li>
                        <li class="d-xl-none d-lg-none faceIconClass" [ngClass]="{'loogedInUser' : !userId}"><a data-toggle="collapse" (click)="showInfoDiv()" href="javascript:void(0)" role="button" aria-expanded="false" aria-controls="infos-div"><i
                                    class="material-icons md-24">info</i></a>
                        </li>
                        <li class="faceIconClass" *ngIf="isLoggedIn == 'true'">
                            <a class="profileIcons" routerLink="/profile">
                                <div class="user-img-head">
                                    <img *ngIf="WebUserProfileImage" src="{{WebUserProfileImage}}">
                                    <img class="no-border" *ngIf="!WebUserProfileImage" src="assets/images/user1.png">
                                </div>
                                <!-- <i class="material-icons md-24">face</i> -->
                            </a>
                        </li>


                        <li>
                            <div id="page">
                                <div class="header-toogle-btn">
                                    <a href="javascript:void(0);" (click)="navActive=!navActive"><span></span></a>
                                </div>
                                <nav id="menu" class="menuIcon" [ngClass]="{'active' : navActive}">
                                    <div class="mm-navbar"><a class="mm-navbar__title">Menu</a></div>
                                    <ul>
                                        <app-static-menu></app-static-menu>
                                    </ul>
                                    <span class="close-btn" hidden=[]><a href="javascript:void(0)"
                                            (click)="navActive=!navActive"><i
                                                class="material-icons">clear</i></a></span>
                                </nav>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-md-12 pinbotrd-mobile-show">
                <div class="pin-title-heading pinboard-face"> <img *ngIf="isTown" src="assets/images/town.png">{{pinboardDetailsArr.title}}
                </div>
            </div>
        </div>
    </div>

</header>
<app-local-history></app-local-history>
<!-- <app-header></app-header> -->
<section class="h-bg-pinborad sapce-pinborad-screen">
    <div class="h-post-details collapse show" id="collapseMainbox">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="pinnbord-left-bg" [ngClass]="status ? 'box-show' : 'box-hide'">
                        <a href="javascript:void(0)" (click)="showInfoDiv()" role="button" aria-expanded="false" aria-controls="infos-div" class="collapsed mobile-closemo d-lg-none">X</a>
                        <div class="pinbord-top-mobile">
                            <div class="pinnborad-boxs-color noWrape">
                                <h3 class="pinbord-heading">Welcome</h3>
                                <p>{{pinboardDetailsArr.businessInformation.about}}</p>
                            </div>
                            <div class="pinnborad-boxs-color">
                                <h3 class="pinbord-heading">More info</h3>
                                <ul class="pin-ul-lists">
                                    <li *ngIf="pinboardDetailsArr.businessInformation.phone != null"><i title="Phone Number" class="material-icons">call</i><a title="Phone Number" href="tel:{{pinboardDetailsArr.businessInformation.phone}}">
                                            {{pinboardDetailsArr.businessInformation.phone}}</a></li>
                                    <li *ngIf="pinboardDetailsArr.businessInformation.email != null"><i title="Email" class="material-icons">email</i><a title="Email" href="mailto:{{pinboardDetailsArr.businessInformation.email}}">
                                            {{pinboardDetailsArr.businessInformation.email}}</a></li>
                                    <li *ngIf="pinboardDetailsArr.businessInformation.website != null"><i title="Website" class="material-icons">web</i><a title="Website" href="{{addhttp(pinboardDetailsArr.businessInformation.website)}}" target="_blank">
                                            {{addhttp(pinboardDetailsArr.businessInformation.website)}}</a></li>
                                </ul>
                            </div>
                            <div class="pinnborad-boxs-color opening-hrs">
                                <h3 class="pinbord-heading">Opening Hours</h3>
                                <p *ngIf="openingTime.mon.checked">Monday: {{openingTime.mon.start}}-{{openingTime.mon.end}}
                                </p>
                                <p *ngIf="openingTime.tue.checked">Tuesday: {{openingTime.tue.start}}-{{openingTime.tue.end}}
                                </p>
                                <p *ngIf="openingTime.wed.checked">Wednesday: {{openingTime.wed.start}}-{{openingTime.wed.end}}
                                </p>
                                <p *ngIf="openingTime.thu.checked">Thursday: {{openingTime.thu.start}}-{{openingTime.thu.end}}
                                </p>
                                <p *ngIf="openingTime.fri.checked">Friday: {{openingTime.fri.start}}-{{openingTime.fri.end}}
                                </p>
                                <p *ngIf="openingTime.sat.checked">Saturday: {{openingTime.sat.start}}-{{openingTime.sat.end}}
                                </p>
                                <p *ngIf="openingTime.sun.checked">Sunday: {{openingTime.sun.start}}-{{openingTime.sun.end}}
                                </p>
                                <p *ngIf="!openingTime.sat.checked && openingTime.mon.checked">Saturday: Closed</p>
                                <p *ngIf="!openingTime.sun.checked && openingTime.mon.checked">Sunday: Closed</p>

                            </div>
                            <div class="pinnborad-boxs-color">
                                <h3 class="pinbord-heading">Services</h3>
                                <p>{{pinboardDetailsArr.businessInformation.servicesHashtags}}</p>
                            </div>
                            <div class="pinnborad-boxs-color">
                                <h3 class="pinbord-heading">Followers</h3>
                                <div class="follers-pind-borad">
                                    <p> {{followingCount}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="mission-mobile-top">
                            <div class="pinborad-missin-box">
                                <div class="left-top-pin"></div>
                                <div class="right-top-pin"></div>
                                <div class="left-bottom-pin"></div>
                                <div class="right-bottom-pin"></div>
                                <div class="missintg-hading-div">Alert : - Missing child</div>
                                <div class="missing-img-box">
                                    <img src="assets/images/child-messing.jpg" alt="child" title="child Messing">
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="main-pin-board-bg" [ngClass]="status ? 'box-show1' : 'topbox-hide1'">
                        <div class="pinbord-user-box">
                            <div class="logo-user-pin">
                                <img *ngIf="pinboardDetailsArr.logo &&  pinboardDetailsArr.logo!='null'" src="{{pinboardDetailsArr.logo}}">
                                <img *ngIf="pinboardDetailsArr.logo=='null' || !pinboardDetailsArr.logo" src="assets/images/default-logo.jpg">
                            </div>
                            <div class="user-tag-names">Creator: <a class="userNameOnPinboard" routerLink="/user/{{pinboardArr.user.userName}}"><span>{{pinboardArr.user.userName}}</span></a></div>
                        </div>
                        <div *ngIf="selfPinboard">
                            <div *ngIf="!isFollowed" class="folllers-pinborad-tag"><a href="javascript:void(0)" (click)="followPinboard(pinboardDetailsArr.id)"><i class="material-icons"> add </i> </a>follow
                                <span class="hide-mobile-only"> this Pinboard</span></div>
                            <div *ngIf="isFollowed" class="folllers-pinborad-tag"><a href="javascript:void(0)" (click)="unFollowPinboard(pinboardDetailsArr.id)"><i class="material-icons"> clear </i> </a>Unfollow
                                <span class="hide-mobile-only"> this Pinboard</span></div>
                        </div>

                        <div class="edit-pinborad-tag" *ngIf="pinboardDetailsArr.isAllowPosts || isTown || !selfPinboard">
                            <a href="javascript:void(0);" (click)="navActivelessmore=!navActivelessmore">
                                <i class="material-icons"> create</i>
                            </a>
                        </div>
                        <div class="main-bg-banners">
                            <img *ngIf="pinboardDetailsArr.backgroundImage!='null'" src="{{pinboardDetailsArr.backgroundImage}}" class="img-fluid">
                            <img *ngIf="pinboardDetailsArr.backgroundImage=='null'" src="assets/images/default-background.jpg" class="img-fluid">
                        </div>

                    </div>
                    <div class="creat-postds" [ngClass]="{'showPostPopup' : navActivelessmore}">
                        <!--<form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate> -->
                        <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && compressAndUploadFile()" novalidate>
                            <div class="row">
                                <div class="col-md-8 col-lg-8 col-xl-8">
                                    <div class="post-crart-divs input-box-space-div">
                                        <textarea class="form-control height-formbox" rows="5" trim="blur" maxlength="500" placeholder="What do you want to post to this community?" name="description" [(ngModel)]="Post.description" #description="ngModel" required></textarea>
                                        <div *ngIf="f.submitted && !description.valid" class="invalid-feedback requied-message">
                                            Post Text field is required</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 col-xl-4">
                                    <div class="post-pic-brow">
                                        <!-- <span>Add Image</span> -->
                                        <!--  <input type="file" class="imageBoxWidth" (change)="fileEvent($event, 'image')" id="image" name="image" #image="ngModel" [(ngModel)]="Post.image" accept="image/*"> -->
                                        <!-- crop section start -->
                                        <div class="pull-right cropImgBtnRight" *ngIf="isUploaded">
                                            <a *ngIf="!show" class="cropiimg" (click)="cropImage()" href="javascript:void(0)">Crop</a>
                                            <a class="cropCancel" href="javascript:void(0)" (click)="Cancel()" *ngIf='IsCropedImage'>Cancel</a></div>

                                        <input *ngIf="!show" class="imageBoxWidth" type="file" (change)="fileChangeEvent($event)" name="Add image" value="Add image" />
                                        <div class="user-tag-nagme">
                                            <image-cropper *ngIf="!show" class="source-crop-image" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false" [aspectRatio]="16 / 12" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                                                (loadImageFailed)="loadImageFailed()" [style.display]="showCropper ? null : 'none'" width="100">
                                            </image-cropper>
                                            <img *ngIf="show" class="crop-imgshow" [src]="croppedImage" />
                                        </div>
                                        <!-- crop section end-->

                                        <!--  <div *ngIf="f.submitted && !image.valid" class="invalid-feedback requied-message">Offer Image field is required
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-lg-8 col-xl-8">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="post-crart-divs">
                                                <select placeholder="Select Category" (change)="onCategoryChange($event)" class="form-control slect-border" name="categoryId" [(ngModel)]="Post.categoryId" #categoryId="ngModel" required>
                                                    <option [ngValue]="null">Select Category</option>
                                                    <option *ngFor="let category of categorydata" [ngValue]=category.categoryId>
                                                        {{category.categoryName}}
                                                    </option>
                                                </select>
                                                <div *ngIf="f.submitted && !categoryId.valid" class="invalid-feedback requied-message">
                                                    Category field is required</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="post-crart-divs">
                                                <input type="text" trim="blur" maxlength="100" class="form-control form-control-line" placeholder="Add your tags e.g. #meeting" name="tags" [(ngModel)]="Post.tags" #tags="ngModel">
                                                <div *ngIf="f.submitted && !tags.valid" class="invalid-feedback requied-message">
                                                    Services field is required</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="post-crart-divs">
                                                <select class="form-control" name="expiryTimePeriod" [(ngModel)]="Post.expiryTimePeriod" #expiryTimePeriod="ngModel" placeholder="Expiry time" required>
                                                    <option value="1">1 hour</option>
                                                    <option value="2">Midnight</option>
                                                    <option value="3">1 week</option>
                                                    <option value="4">1 month</option>
                                                    <option value="5">3 months (maximum)</option>
                                                </select>
                                                <div *ngIf="f.submitted && !expiryTimePeriod.valid" class="invalid-feedback requied-message">
                                                    Expiry time field is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 col-xl-4">
                                    <div class="btn-rightalings">
                                        <div class="post-bnts"><a class="post-cancel-btn" (click)="navActivelessmore=!navActivelessmore">Cancel</a></div>
                                        <div class="post-bnts"><button class="btn-Post-save" type="submit">Post</button></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="slect-post-div">
                        <div class="row">
                            <div class="col-md-6 col-lg-8 col-xl-9 hide-mobile">
                                <div class="serch-post">
                                    <!--   Local activity: -->
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3 col-8">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-md-4 col-4 text-form-label">Show :</label>
                                    <div class="col-sm-5 col-md-8 col-8">
                                        <select class="form-control" name="displayType" [(ngModel)]="user.displayType" (ngModelChange)="showType($event)" #displayType="ngModel">
                                            <option [ngValue]="0">All</option>
                                            <option [ngValue]="1">Just Posts</option>
                                            <option [ngValue]="2">Just Offers</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="all-post-boxs pinboard-boxs-sectios">
                        <div class="card-columns">
                            <div class="card" *ngFor="let postOffer of finalOfferPostArr;let idx=index;">

                                <div class="offer-box" *ngIf="postOffer.offerName && htmlOptions.offerBox">
                                    <div class="offer-box-div offerBoxColor{{postOffer.backgroundColor}}" [ngClass]="{'highlight' : shareOfferId == postOffer.id }">

                                        <div class="offer-banner">
                                            <div class="Expires-offer-div">
                                                <div class="offer-dates-div">
                                                    Expires
                                                    <countdown-timer [end]="dateFormate(postOffer.expiryDate)">
                                                    </countdown-timer>
                                                </div>
                                            </div>
                                            <img src="{{postOffer.offerMedia}}">
                                        </div>

                                        <div class="offerBoxContainer">
                                            <div class="offer-sub-headign">
                                                <span>{{splitString(postOffer.category)}}</span>
                                            </div>
                                            <div class="offer-headng-tagline">{{postOffer.title}}
                                            </div>
                                            <div class="offerContDescription" [ngClass]="{'hide-dialog' : postOffer.visible}">
                                                <p>{{substr(postOffer.offerDescription)}}</p>
                                            </div>
                                            <!-- <div class="offer-more-tag" [ngClass]="{'hide-dialog' : postOffer.visible}">
                                                <a href="javaScript:void(0);">
                                                    <span (click)="postOffer.visible=!postOffer.visible" *ngIf="!postOffer.visible">More</span>
                                                    <span *ngIf="postOffer.visible" (click)="postOffer.visible = !postOffer.visible">Less</span>
                                                </a>
                                            </div> -->
                                            <div class="collapse offer-contnets-heights" [ngClass]="{'show' : postOffer.visible}" id="collapseOffers3">
                                                <div class="card card-body">
                                                    <div class="offer-contnets-div mCustomScrollba offerBoxColor{{postOffer.backgroundColor}}" data-mcs-theme="dark">
                                                        <div class="scroll-div-conts">
                                                            <p>{{postOffer.offerDescription}}</p>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="offer-more-tag">
                                                        <a href="javaScript:void(0);">
                                                            <span (click)="postOffer.visible=!postOffer.visible" *ngIf="!postOffer.visible">More</span>
                                                            <span *ngIf="postOffer.visible" (click)="postOffer.visible = !postOffer.visible">Less</span>
                                                        </a>
                                                    </div> -->

                                                </div>
                                            </div>

                                            <div class="tag-boxs">
                                                <!-- <div class="tag-haeing-line">Tags</div> -->
                                                <div class="tag-all-posted">
                                                    <span>{{postOffer.servicesHashtags}}</span>
                                                </div>
                                            </div>
                                            <div class="offer-botom-icons" [ngClass]="{'hide-dialog' : !postOffer.visible}">
                                                <ul>
                                                    <li *ngIf="postOffer.contactNumber"><a title="Phone Number" href="tel:{{postOffer.contactNumber}}"><i class="material-icons">call</i></a>
                                                    </li>
                                                    <li *ngIf="postOffer.emailId"><a title="Email" href="mailto:{{postOffer.emailId}}"><i class="material-icons">mail</i></a></li>
                                                    <li class="posRel" *ngIf="postOffer.location">
                                                        <div class="customTooltip" [ngClass]="{'customTooltipShow' : postOffer.visible2}">
                                                            {{postOffer.location}}
                                                            <a href="javascript:void(0)" (click)="postOffer.visible2=!postOffer.visible2" class="closePoup"><i
                                                                    class="fa fa-times"></i></a> </div>
                                                        <a href="javascript:void(0)" (click)="postOffer.visible2=!postOffer.visible2"><i
                                                                class="material-icons">place</i></a>
                                                    </li>

                                                    <li *ngIf="postOffer.webUrl"><a title="Website" href="{{addhttp(postOffer.webUrl)}}" target="_blank"><i class="material-icons">
                                                                web</i></a></li>

                                                    <li (click)="openSharePopup(pinboardDetailsArr.pinboardName,pinboardDetailsArr.categoryName, postOffer)">
                                                        <a href="javascript:void(0)"><i class="material-icons">share</i></a></li>
                                                </ul>
                                            </div>

                                            <div class="offer-header-box">
                                                <div class="offer-pics">
                                                    <!-- <img *ngIf="postOffer.offerIcon" height="55" width="55" src="{{postOffer.offerIcon}}"> -->
                                                    <a routerLink="/user/{{pinboardArr.user.userName}}"> <img *ngIf="postOffer.src" src="{{imagePath}}/{{postOffer.userId}}" width="55" (error)="updateUrl($event)" height="55">
                                                        <img *ngIf="postOffer.src==''" src="assets/images/user.png" width="55" (error)="updateUrl($event)" height="55">
                                                    </a>
                                                </div>
                                                <div>
                                                    <!-- {{postOffer | json}} -->
                                                    <a class="offer-haeding-texts" routerLink="/user/{{postOffer.userName}}">
                                                        <h4> {{postOffer.userName}}</h4>
                                                    </a>
                                                </div>
                                                <!-- <div class="offer-haeding-texts">
                                                    <h4> {{postOffer.userName}}</h4>
                                                </div> -->
                                                <div class="offer-more-tag">
                                                    <a href="javaScript:void(0);">
                                                        <span (click)="postOffer.visible=!postOffer.visible" *ngIf="!postOffer.visible">More</span>
                                                        <span *ngIf="postOffer.visible" (click)="postOffer.visible = !postOffer.visible">Less</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-box" *ngIf="!postOffer.offerName && htmlOptions.postBox">
                                    <span class="imgBrTop"></span>
                                    <div class="post-box-white">
                                        <div class="post-header">
                                            <div class="post-profile-pic">
                                                <!-- <img *ngIf="postOffer.userId" src="https://adminstreetpin.s3.amazonaws.com/_cmsImages/{{postOffer.userId}}" width="60" height="60"> -->

                                                <a routerLink="/user/{{pinboardArr.user.userName}}">
                                                    <img *ngIf="postOffer.src" src="{{imagePath}}/{{postOffer.userId}}" width="65" (error)="updateUrl($event)" height="65">
                                                    <img *ngIf="postOffer.src==''" src="assets/images/user.png" width="65" (error)="updateUrl($event)" height="65">
                                                </a>
                                            </div>
                                            <div class="pot-name-texts">
                                                <h4>
                                                    {{postOffer.userName}}

                                                    <div class="dropdown post-drapdown" (click)="postOffer.visible=!postOffer.visible">
                                                        <i class="material-icons">
                                                            keyboard_arrow_down
                                                        </i>
                                                    </div>
                                                    <div class="dropdown post-drapdown">
                                                        <div class="dropdown-menu" [ngClass]="{'show' : postOffer.visible}" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" (click)="postReport(postOffer.id)" href="javascript:void(0)">Report</a>
                                                            <a *ngIf="!selfPinboard || postOffer.userId == userId" (click)="pinboardAction(postOffer.id, 'delete')" class="dropdown-item" href="javascript:void(0)">Delete</a>
                                                            <!-- <a *ngIf="postOffer.pinboardId == pinboardNewId && userId" (click)="pinboardAction(postOffer.id, 'delete')" class="dropdown-item" href="javascript:void(0)">Delete</a> -->
                                                        </div>
                                                    </div>
                                                </h4>
                                                <span class="text-gray"> {{dateTimeCalculation(postOffer.createdDate)}}</span> in

                                                <span class="text-gray-color font-meeetngs"> {{postOffer.category}}</span>
                                            </div>
                                            <div class="offer-banner" *ngIf="postOffer.image">
                                                <img [ngClass]="{'imageRotation901' : postOffer.imageAangle == 9}" src="{{postOffer.image}}">
                                            </div>
                                            <div class="post-contents">{{postOffer.description}}</div>
                                            <!-- new code -->
                                            <!-- <div class="post-headng-tagline" [ngClass]="{'hide-dialog' : postOffer.visible1}">{{postOffer.description}}
                                            </div>
                                            <div class="post-more-tag" [ngClass]="{'hide-dialog' : postOffer.visible1}">
                                                <a href="javaScript:void(0);">
                                                    <span (click)="postOffer.visible1=!postOffer.visible1" *ngIf="!postOffer.visible1">More</span>
                                                    <span *ngIf="postOffer.visible1" (click)="postOffer.visible1 = !postOffer.visible1">Less</span>
                                                </a>
                                            </div> -->
                                            <!-- new code -->
                                            <div class="text-gray-color tagsMarTop" (click)="postOffer.visible=!postOffer.visible"> <b>Tags:</b> {{postOffer.tags}}</div>
                                            <div class="conmmet-tags">
                                                <a data-toggle="collapse" (click)="postOffer.comments=!postOffer.comments; getComments(postOffer.id, idx)" href="javascript:void(0)" role="button" aria-expanded="false" aria-controls="collapseExample5"><i class="material-icons">
                                                        comment </i>
                                                    <span> {{postOffer.commentCount}}</span>
                                                    <span *ngIf="postOffer.commentCount==1 || postOffer.commentCount==0"> Comment </span>
                                                    <span *ngIf="postOffer.commentCount>1"> Comments </span>
                                                    </a>
                                            </div>
                                            <div class="collapse" id="collapseExample5" [ngClass]="{'show' : postOffer.comments}">
                                                <div class="card card-body">
                                                    <div class="comment-posts">

                                                        <textarea class="form-control" name="commentPost[idx]" [(ngModel)]="commentPost[idx]" rows="1" placeholder="Add a Comment"></textarea>
                                                        <div class="post-commet-btn">
                                                            <button type="button" class="Post-btn" (click)="addComment(postOffer.id, idx)">Add Comment</button>
                                                            <button type="button" (click)="postOffer.comments=!postOffer.comments" class="Cancel-btn">Cancel</button>
                                                        </div>
                                                    </div>

                                                    <div class="commet-scroll-box mCustomScrollbar" data-mcs-theme="dark">
                                                        <div class="commt-header-scrll" *ngFor="let comments of postComments[postOffer.id]">
                                                            <div class="post-profile-pic">
                                                                <img *ngIf="comments.src" src="{{imagePath}}/{{comments.userId}}" width="65" (error)="updateUrl($event)" height="65">
                                                                <img *ngIf="comments.src==''" src="assets/images/user.png" width="65" (error)="updateUrl($event)" height="65">
                                                            </div>
                                                            <div class="pot-name-texts">
                                                                <h4>{{comments.userName}}</h4>
                                                                <div class="commit-sub-text">
                                                                    {{comments.commentText}}
                                                                </div>
                                                                <span class="text-gray"> {{dateTimeCalculation(comments.createdDate)}} </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="noPinBoard" *ngIf="noPostNOffer">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body text-center no-pinBoardPopup">
                                    <img src="assets/images/60s.gif" class="img-fluid">
                                    <h3>Nothing here? Return to the map or why not create a post?</h3>
                                    <a href="javascript:void(0)" (click)="navActivelessmore=!navActivelessmore" class="btn btn-primary closePopupButton">Create Post </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<a href="javascript:void(0)" id="openExtraSetailsPopup" [hidden]="true" data-toggle="modal" data-target="#extraFields"></a>

<div class="modal fade" id="extraFields" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center no-pinBoardPopup">
                <div class="form-line-group">
                    <a href="javascript:void(0)" data-dismiss="modal" class="btn btn-primary closeBtn"> <i class="fa fa-times"></i> </a>

                    <div class="solcil-links">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" class="fb" (click)="share(postForShare)">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tw" (click)="twitterShare(postForShare, ShareOfferData)">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>