<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<app-header></app-header>
<section class="h-bg-pinborad">
    <div class="pop-white-bg">
        <div class="logo-topbar"><img class="logo-pin" src="assets/images/logo-pin.png"></div>
        <div class="heding-forms">Forgot Password</div>
        <div class="form-line-group">
            <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
                <label>
					<p class="label-txt">Enter Email<span class="req">*</span></p>
					<input type="text" maxlength="80" name="email" trim="blur" [(ngModel)]="user.email" #email="ngModel" required>
					<div class="line-box">
						<div class="line"></div>
					</div>
					<div *ngIf="f.submitted && !email.valid" class="invalid-feedback-signup">Email field is required</div>

				</label>
                <div class="submit-btns">
                    <button type="submit">Send</button>
                </div>
                <div class="col-xs-12 m-t-20">
                    <a routerLink="/login" class="text-dark m-t-20  pull-right"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
						Back to Login </a>
                </div>
            </form>
        </div>
    </div>
</section>