        @import "../node_modules/primeicons/primeicons.css";
        body {
            font-family: 'Open Sans', sans-serif;
        }
        
        footer {
            background-color: #fff;
            text-align: center;
            color: #000000;
            padding: 20px 0;
            font-size: 16px;
        }
        
        .h-bg-pinborad {
            background: #fdf8f2 url("assets/images/h-bg.jpg");
            background-repeat: repeat;
            background-position: center center;
            padding: 35px;
            background-attachment: fixed;
            min-height: calc(100vh - 70px);
        }
        
        .filder-box {
            background-color: #fff;
            border-radius: 10px;
            padding: 40px 20px 20px;
            clear: both;
            display: table;
            width: 100%;
            margin-top: -110px !important;
            position: relative;
        }
        
        .catgery-box-h select.form-control {
            width: 48%;
            float: left;
            background-color: #edf0f2;
            border: solid #cad2d6 1px;
        }
        
        .catgery-box-h .category-selcets input.form-control {
            width: 100%;
            float: left;
            background-color: #edf0f2;
            border: solid #cad2d6 1px;
        }
        
        .row-custom .col-find {
            width: 10%;
            float: left;
        }
        
        .row-custom .col-cat {
            width: 40%;
            float: left;
            padding: 0 10px;
        }
        
        .row-custom .col-Within {
            width: 40%;
            float: left;
            padding: 0 10px;
        }
        
        .row-custom .filter-btn {
            width: 10%;
            float: right;
        }
        
        .row-custom .filder-text-h {
            font-size: 18px;
            font-weight: 600;
            color: #333;
        }
        
        .slider-h ul {
            margin: 0px;
            padding: 0px;
        }
        
        .slider-h ul li {
            display: inline-block;
            list-style: none;
            width: 18%;
        }
        
        .left-within-tag {
            float: left;
            font-size: 18px;
            width: 20%;
            font-weight: 600;
            color: #333;
        }
        
        .slider-h {
            float: left;
            width: 75%;
        }
        
        .slider-h ul li:last-child {
            text-align: right;
            width: 20%;
        }
        
        .btn-green {
            background-color: #177703;
            color: #fff;
            width: 100%;
            padding: 10px 10px;
        }
        
        header {
            background-color: #177703;
            min-height: 60px;
            z-index: 1;
            position: fixed;
            width: 100%;
            z-index: 999;
        }
        
        header .logo>a {
            position: relative;
            bottom: -10px;
        }
        
        .serch-bar .form-control {
            background-color: #4e960c;
            border: solid #1daa00 1px;
            min-height: 35px;
            border-radius: 0px;
            padding: 10px 40px 10px 10px;
            color: #fff !important;
            font-size: 15px;
            font-weight: 300;
        }
        
        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
        }
        
        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            /* Preferred icon size */
            display: inline-block;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            /* Support for all WebKit browsers. */
            -webkit-font-smoothing: antialiased;
            /* Support for Safari and Chrome. */
            text-rendering: optimizeLegibility;
            /* Support for Firefox. */
            -moz-osx-font-smoothing: grayscale;
            /* Support for IE. */
            font-feature-settings: 'liga';
        }
        
        header .right-header ul {
            margin: 0px;
            padding: 0px 40px 0 0;
            float: right;
        }
        
        header .right-header ul li {
            float: left;
            list-style: none;
            margin: 0 0 0 10px;
        }
        
        header .right-header ul li a {
            display: inline-block;
        }
        
        header .right-header ul li a>i {
            color: #fff;
            font-size: 40px;
        }
        
        header .serch-bar {
            float: right;
            width: 25%;
            position: relative;
        }
        
        header .right-header {
            margin: 10px 0;
        }
        
        header a.serach-icons {
            position: absolute;
            top: 5px;
            right: 5px;
        }
        
        header a.serach-icons>i {
            color: #fff;
            font-size: 32px;
        }
        
        .serch-post {
            font-size: 19px;
            color: #525252;
            line-height: 40px;
            font-weight: 700;
        }
        
        .text-form-label {
            font-size: 19px;
            line-height: 40px;
            color: #525252;
            margin: 0px;
            padding: 0px;
            text-align: right;
            font-weight: 700;
        }
        
        .slect-post-div {
            margin: 20px 0 5px;
        }
        
        .imgBrTop {
            background: url(assets/images/post-top-bg.png) repeat-x;
            height: 15px;
            width: 100%;
            float: left;
            margin-bottom: -1px;
        }
        
        .post-box-white {
            background: #fff;
            clear: both;
            padding: 10px;
            -webkit-box-shadow: 0px 15px 15px -10px #515151;
            box-shadow: 0px 15px 15px -10px #515151;
            border-radius: 0 0 5px 5px;
            /*  margin: 15px 0 20px 0; */
        }
        
        .offer-box-div {
            background-color: #0541cc;
            position: relative;
            padding: 10px;
            -webkit-box-shadow: 0px 15px 15px -10px #515151;
            width: 100%;
            box-shadow: 0px 15px 15px -10px #515151;
            border-radius: 5px;
            display: inline-block;
            margin: 0 0 10px 0;
        }
        
        .offer-box-div .offer-header-box .offer-pics {
            height: 55px;
            width: 55px;
            border-radius: 50%;
            overflow: hidden;
            background-color: #ccc;
            float: left;
            margin-right: 5px;
        }
        
        .offer-box-div .offer-header-box .offer-haeding-texts {
            float: left;
            color: #fff;
            font-size: 15px;
            line-height: 21px;
            width: 50%;
            margin-top: 10px;
            text-decoration: none !important;
        }
        
        .offer-box-div .offer-header-box .offer-haeding-texts>h4 {
            font-size: 17px;
            color: #fff;
            font-weight: 500;
            margin: 4px 0 0 10px;
            /* margin: 0px 0 0 0; */
            padding: 0px;
        }
        
        .offer-box-div .offer-header-box .Expires-offer-div {
            float: right;
        }
        
        .offer-box-div .offer-header-box .offer-sub-headign {
            font-size: 14px;
        }
        
        .offer-box-div .offer-header-box .offer-sub-headign>span {
            font-weight: 600;
            font-size: 15px;
        }
        
        .Expires-offer-div {
            float: right;
            width: 28%;
        }
        
        .Expires-offer-div>span {
            font-size: 12px;
            color: #fff;
        }
        
        .Expires-offer-div .offer-dates-div {
            background-color: #edf0f2;
            border-radius: 3px;
            text-align: center;
            color: #0541cc;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0px;
            line-height: 14px;
            padding: 8px 0;
        }
        
        .Expires-offer-div .offer-dates-div>span {
            display: block;
            color: #0541cc;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: -0.5px;
        }
        
        .offer-box-div .offer-banner {
            border-radius: 5px;
            overflow: hidden;
            width: 100%;
            margin: 15px 0 5px;
            display: inline-block;
        }
        
        .offer-headng-tagline {
            font-size: 20px;
            color: #fff;
            /* white-space: nowrap; */
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 700;
        }
        
        .offer-headng-tagline>span {
            font-weight: 600
        }
        
        .post-headng-tagline {
            color: #000;
            white-space: nowrap;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 15px;
            color: #000000;
            line-height: 24px;
            margin: 10px 0 7px;
        }
        
        .post-headng-tagline>span {
            font-weight: 600
        }
        
        .offer-more-tag {
            text-align: right;
            padding: 12px 0 0 0
        }
        
        .offer-more-tag>a {
            color: #fff !important;
            font-weight: 600;
            font-size: 14px;
            text-decoration: none;
        }
        
        .post-more-tag {
            text-align: right;
        }
        
        .post-more-tag>a {
            color: #000 !important;
            font-weight: 600;
            font-size: 14px;
            text-decoration: none;
        }
        
        .offer-contnets-div {
            /* background-color: #1750d4;
        border-radius: 10px;
        padding: 10px 2px 10px 10px;
        max-height: 150px;
        overflow: auto;
        padding: 5px 2px 5px 5px;*/
            color: #fff;
            font-size: 12px;
            margin-top: 5px;
            /* max-height: 185px; */
        }
        
        .offer-contnets-div .scroll-div-conts>p {
            font-size: 12px;
            /* 14 */
        }
        
        .offer-contnets-heights {
            /* margin: 10px 0 0; */
        }
        
        .post-header .post-profile-pic {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            overflow: hidden;
            background-color: #ccc;
            float: left;
            margin-right: 20px;
        }
        
        .pot-name-texts {
            float: left;
            color: #646161;
            font-size: 13px;
            line-height: 18px;
            width: calc(100% - 80px);
        }
        
        .pot-name-texts>h4 {
            font-size: 20px;
            color: #000;
            font-weight: 600;
            margin: 0px 0 5px 0;
            padding: 0px;
        }
        
        .pot-name-texts .text-gray {
            display: block;
        }
        
        .text-green {
            color: #177703;
        }
        
        .pot-name-texts .font-meeetngs {
            font-size: 13px;
        }
        
        .dropdown.post-drapdown {
            float: right;
            cursor: pointer;
        }
        
        .dropdown.post-drapdown>i {
            color: #177703;
            font-size: 26px;
        }
        
        .post-box-white .post-contents {
            font-size: 16px;
            color: #000000;
            line-height: 26px;
            clear: both;
            margin: 10px 0 7px;
            display: inline-block;
            word-break: break-word;
        }
        
        .offer-contnets-heights .card.card-body {
            padding: 0px;
            background-color: transparent;
            border: none;
            color: #fff;
            ;
        }
        
        .post-box-white .conmmet-tags {
            margin: 25px 0 0;
        }
        
        .post-box-white .conmmet-tags>a {
            color: #1daa00;
            font-size: 13px;
        }
        
        .post-box-white .conmmet-tags>a>i {
            font-size: 15px;
            color: #1daa00;
        }
        
        .post-box-white .conmmet-tags>a>span {
            text-decoration: underline;
            position: relative;
            bottom: 3px;
        }
        
        .post-box-white .card-body {
            padding: 0px;
            border: none;
            margin: 20px 0 0;
        }
        
        .comment-posts .form-control {
            border-bottom: solid #bfbfbf 3px !important;
            border-radius: 0;
            border: none;
            min-height: 80px;
        }
        
        .post-drapdown .dropdown-menu.show {
            background-color: #4e960c;
            color: #fff;
            text-decoration: none;
            right: 0 !important;
            left: 0 !important;
            transform: translate3d(-131px, 26px, 0px);
        }
        
        .post-drapdown .dropdown-menu a.dropdown-item {
            text-decoration: none;
        }
        
        .post-drapdown .dropdown-item:focus,
        .post-drapdown .dropdown-item:hover {
            color: #f5f5f5;
            text-decoration: none;
            background-color: #4e960c;
        }
        
        .post-commet-btn {
            margin: 15px 0;
            text-align: right;
        }
        
        .post-commet-btn .Post-btn {
            background-color: #177703;
            padding: 2px 10px;
            cursor: pointer;
            color: #fff;
            border: solid #177703 2px;
            font-weight: 600;
            font-size: 14px;
            border-radius: 5px;
            height: 30px;
            text-align: center;
        }
        
        .post-commet-btn .Cancel-btn {
            background-color: #fff;
            padding: 2px;
            color: #707070;
            cursor: pointer;
            border: solid #707070 2px;
            font-weight: 600;
            font-size: 14px;
            border-radius: 5px;
            width: 71px;
            height: 30px;
            text-align: center;
        }
        
        .commet-scroll-box {
            background-color: #f7f7f7;
            border-radius: 10px;
            padding: 10px 2px 10px 10px;
            max-height: 250px;
            overflow: auto;
        }
        
        .commt-header-scrll .pot-name-texts>h4 {
            font-size: 13px;
        }
        
        .commt-header-scrll .commit-sub-text {
            font-size: 14px;
            line-height: 22px;
        }
        
        .commt-header-scrll .pot-name-texts .text-gray {
            color: #646161;
            font-size: 13px;
            margin: 5px 0 0;
        }
        
        .commt-header-scrll {
            margin: 10px 0;
            display: inline-block;
            width: 100%;
        }
        
        .commet-scroll-box .commt-header-scrll .pot-name-texts {
            float: right;
            width: 68%;
        }
        
        .tag-boxs {
            margin: 5px 0;
        }
        
        .tag-boxs .tag-haeing-line {
            font-size: 15px;
            font-weight: 700;
            color: #fff;
            display: block;
            margin: 0 0 5px 0;
        }
        
        .tag-boxs .tag-all-posted span {
            font-size: 14px;
            font-weight: 400;
            color: #fff;
            margin: 0 5px 0 0;
        }
        
        .offer-botom-icons ul {
            margin: 0px;
            padding: 0px;
        }
        
        .offer-botom-icons ul li {
            list-style: none;
            display: inline;
            margin: 0 5px;
        }
        
        .offer-botom-icons ul li a {
            color: #fff;
            font-size: 26px;
        }
        
        .offer-botom-icons ul li.right-align-icons {
            float: right;
        }
        
        .offer-botom-icons {
            /* border-top: solid #0148eb 1px; */
            padding: 7px 0 0 0;
            margin: 5px 0 0 0;
        }
        
        .offer-botom-icons ul li a:hover {
            color: #1daa00;
        }
        
        .acction-allbox>a {
            width: 52px;
            height: 52px;
            text-align: center;
            background-color: #177703;
            border-radius: 50%;
            display: block;
            line-height: 86px;
            margin: 0 auto;
            position: absolute;
            top: -30px;
        }
        
        .acction-allbox {
            display: table;
            margin: 0 auto;
            height: 0;
            line-height: 0;
            padding: 0;
            width: 50px;
        }
        
        .acction-allbox>a>i {
            color: #fff;
            font-size: 40px;
        }
        
        .acction-allbox>a>i {
            color: #fff;
            font-size: 46px;
        }
        
        .map-bg-view {
            min-height: 30vh;
            margin: 0;
            transition: .5s ease;
            padding: 0;
            line-height: 0;
        }
        
        .map-bg-view>iframe {
            height: 30vh;
            transition: .5s ease;
        }
        
        .map-bg-view.max50height {
            min-height: 100vh !important;
            transition: .5s ease;
        }
        
        .map-bg-view.max50height>iframe {
            height: 100vh;
            transition: .5s ease;
        }
        
        .close-btn {
            position: absolute;
            background-color: #fff;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 52px;
            left: -40px;
            cursor: pointer;
        }
        
        .close-btn>a>i {
            font-size: 36px;
        }
        
        .pop-white-bg {
            background-color: #fff;
            border-radius: 10px;
            padding: 10px;
            max-width: 550px;
            margin: 0 auto;
            -webkit-box-shadow: 0px 15px 15px -10px #515151;
            box-shadow: 0px 15px 15px -10px #515151;
        }
        
        .all-post-boxs .card {
            position: relative;
            /* display: -ms-flexbox; */
            /* display: flex; */
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: transparent;
            background-clip: border-box;
            border: none;
            border-radius: 0;
            break-inside: avoid;
        }
        
        .pop-white-bg {
            margin: 9% auto 3%;
        }
        
        .pop-white-bg .logo-topbar {
            background-color: #fff;
            border-radius: 50%;
            margin: -90px auto 0;
            width: 140px;
            height: 140px;
            display: block;
            border: solid #1daa00 3px;
            text-align: center;
            line-height: 150px
        }
        
        .rwo-forget-adn {
            margin: 0 0 30px;
            display: inline-block;
            width: 100%;
        }
        
        .form-line-group label {
            display: block;
            position: relative;
            margin: 30px 0px;
        }
        
        .form-line-group.bottom-sapces-form label {
            margin: 35px 0px;
        }
        
        .form-line-group input {
            width: 100%;
            padding: 15px 0 5px;
            background: transparent;
            border: none;
            outline: none;
        }
        
        .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
            background-color: #1daa00 !important;
        }
        
        .form-line-group .line-box {
            position: relative;
            width: 100%;
            height: 1px;
            background: #bfbfbf;
        }
        
        .form-line-group .line {
            position: absolute;
            width: 0%;
            height: 2px;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            background: #1daa00;
            transition: ease .6s;
        }
        
        .form-line-group input:focus+.line-box .line {
            width: 100%;
        }
        
        .form-line-group {
            padding: 20px;
            clear: both;
            display: inline-block;
            width: 100%;
        }
        
        .form-line-group .label-txt {
            position: absolute;
            top: -10px;
            padding: 0;
            font-size: 16px;
            color: #000;
            transition: ease .3s;
        }
        
        .form-line-group .label-active {
            top: -15px;
        }
        
        .form-line-group .submit-btns button {
            display: block;
            background: #1daa00;
            font-weight: bold;
            color: #fff;
            font-size: 18px;
            border: none;
            outline: none;
            border-radius: 5px;
            cursor: pointer;
            height: 44px;
            ;
            transition: ease .3s;
            width: 100%;
        }
        
        .form-line-group button:hover {
            background: #199000;
            color: #ffffff;
        }
        
        .heding-forms {
            text-align: center;
            color: #333333;
            font-size: 24px;
            margin: 30px 0 0;
        }
        
        .for-get-link>a {
            text-decoration: underline !important;
            color: #177703 !important;
            font-size: 16px;
            text-align: right;
        }
        
        .rwo-forget-adn .term {
            float: left;
        }
        
        .rwo-forget-adn .for-get-link {
            float: right;
        }
        
        .login-with {
            width: 200px;
            margin: 20px auto 0;
            text-align: center;
            position: relative;
        }
        
        .login-with>span {
            background-color: #fff;
            padding: 0 5px;
            font-size: 13px;
            color: 333333;
            text-transform: uppercase;
            z-index: 111;
            position: relative;
        }
        
        .line-hr {
            background-color: #e7e7e7;
            height: 1px;
            position: absolute;
            top: 15px;
            width: 200px;
        }
        
        .solcil-links {
            text-align: center;
            clear: both;
            display: table;
            margin: 20px auto 0;
        }
        
        .black-overlay,
        .loading-text {
            position: fixed !important;
        }
        
        .solcil-links ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            text-align: centerl
        }
        
        .solcil-links ul li {
            float: left;
            margin: 10px 10px;
        }
        
        .solcil-links ul li a.tw {
            background-color: #4baaef;
            border-radius: 5px;
            padding: 7px 35px;
            color: #fff;
            font-size: 22px;
            display: inline-block;
        }
        
        .solcil-links ul li a.fb {
            background-color: #35589b;
            border-radius: 5px;
            padding: 7px 35px;
            color: #fff;
            font-size: 22px;
            display: inline-block;
        }
        
        .solcil-links ul li a.gp {
            background-color: #d34836;
            border-radius: 5px;
            padding: 7px 35px;
            color: #fff;
            font-size: 22px;
            display: inline-block;
        }
        
        .solcil-links ul li a.ld {
            background-color: #0080be;
            border-radius: 5px;
            padding: 7px 35px;
            color: #fff;
            font-size: 22px;
            display: inline-block;
        }
        
        .singup-lins {
            color: #333333;
            font-size: 16px;
            text-align: center;
            margin: 30px 0 0;
        }
        
        .singup-lins>span>a {
            color: #177703;
            text-decoration: underline;
            font-weight: 600;
        }
        
        .traam-conts {
            font-size: 14px;
            color: #333333;
        }
        
        .traam-conts>span a {
            color: #177703;
            text-decoration: underline;
            font-weight: 600;
        }
        
        .check-boxs-div {
            width: 30px !important;
            float: left;
            position: relative;
            top: 5px;
        }
        
        .remember-spans {
            display: inline-block !important;
            float: left;
            margin: 0 !important;
        }
        
        .serch-bar input::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #fff !important;
        }
        
        .serch-bar input::-moz-placeholder {
            /* Firefox 19+ */
            color: #fff!important;
        }
        
        .serch-bar input:-ms-input-placeholder {
            /* IE 10+ */
            color: #fff!important;
        }
        
        .serch-bar input:-moz-placeholder {
            /* Firefox 18- */
            color: #fff!important;
        }
        
        .mm-wrapper_blocking {
            transition: ease .3s;
        }
        /* 30-11-18 privacy-policy-  about-us-  how-to css  start*/
        
        .top-greeen-header {
            background-color: #4e960c;
            padding: 50px 0 40px;
            text-align: center;
        }
        
        .top-greeen-header h1 {
            font-size: 28px;
            color: #fff;
            font-weight: 600;
        }
        
        .gray-bg {
            background-color: #eceef1;
        }
        
        .inner-text-conts h2 {
            font-size: 30px;
            color: #3e4348;
            line-height: 46px;
            margin: 0 0 40px 0;
        }
        
        .inner-text-conts {
            padding: 60px 0;
        }
        
        .inner-text-conts p {
            font-size: 16px;
            color: #3e4348;
            line-height: 32px;
            margin: 0 0 40px 0;
        }
        
        .inner-text-conts h3 {
            font-size: 24px;
            color: #3e4348;
            line-height: 32px;
            margin: 0 0 40px 0;
        }
        
        .inner-text-conts h4 {
            font-size: 22px;
            color: #3e4348;
            line-height: 32px;
            margin: 0 0 40px 0;
        }
        
        .white-bg {
            background-color: #fff;
            padding: 50px 0;
        }
        
        .about-texts h2 {
            font-size: 30px;
            font-weight: 600;
            color: #3e4348;
            margin: 0 0 20px 0;
        }
        
        .about-texts p {
            font-size: 16px;
            color: #3e4348;
            line-height: 32px;
            margin: 0 0 5px 0;
            text-align: left;
        }
        
        .div-abouts>img {
            max-width: 100%;
            height: 100%;
        }
        
        .ptb-50 {
            padding: 60px 0;
        }
        /* 30-11-18 privacy-policy-  about-us-  how-to css end */
        /* 4-12-18 pinboard pages css  */
        
        .pinnbord-left-bg {
            background-color: rgba(67, 43, 30, 0.8);
            border-radius: 10px;
            padding: 20px;
            position: relative;
        }
        
        .pinnbord-left-bg .pinnborad-boxs-color {
            background-color: #2b160e;
            padding: 10px;
            font-size: 16px;
            color: #fff;
            line-height: 28px;
            border-radius: 10px;
            position: relative;
            margin: 55px 0 20px 0;
            clear: both;
            display: inline-block;
            width: 100%;
        }
        
        .pinnbord-left-bg .pinnborad-boxs-color .pinbord-heading {
            margin: 0;
            padding: 15px 20px;
            position: absolute;
            background-color: #2b160e;
            display: inline-block;
            font-size: 22px;
            color: #4e960c;
            top: -40px;
            font-weight: 700;
            left: 0;
            border-radius: 10px 10px 0 0;
        }
        
        .pinnbord-left-bg .pinnborad-boxs-color>p {
            display: block;
            clear: both;
            padding: 10px;
            font-size: 16px;
            line-height: 28px;
            color: #fff;
            /* word-break: break-all; */
        }
        
        ul.pin-ul-lists {
            margin: 10px 0 0 10px;
            padding: 0px;
            list-style: none;
        }
        
        ul.pin-ul-lists li a {
            color: #fff;
            font-size: 15px;
            font-weight: 300;
            text-decoration: none;
            position: relative;
            top: -6px;
            word-break: break-all;
        }
        
        ul.pin-ul-lists li>i {
            color: #1daa00;
            font-size: 28px;
            margin-right: 7px;
        }
        
        ul.pin-ul-lists li {
            margin: 5px 0;
        }
        
        .follers-pind-borad {
            font-size: 18px;
            color: #fff;
            padding: 10px;
        }
        
        .follers-pind-borad>span {
            font-size: 32px;
            color: #fff;
            font-weight: 700;
        }
        
        .pinborad-missin-box {
            background-color: #ff6347;
            border-radius: 15px;
            padding: 20px;
            position: relative;
        }
        
        .pinborad-missin-box .missintg-hading-div {
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            border-bottom: solid #e84b2e 1px;
            padding: 0 0 10px 0;
            margin: 10px 0;
            position: relative;
        }
        
        .missing-img-box>img {
            border-radius: 15px;
            max-width: 100%;
            border: solid #dd553d 1px;
        }
        
        .left-top-pin {
            background: url("assets/images/pin-missing-box.png") no-repeat;
            width: 12px;
            height: 12px;
            position: absolute;
            top: 10px;
            left: 10px;
        }
        
        .right-top-pin {
            background: url("assets/images/pin-missing-box.png") no-repeat;
            width: 12px;
            height: 12px;
            position: absolute;
            top: 10px;
            right: 10px;
        }
        
        .left-bottom-pin {
            background: url("assets/images/pin-missing-box.png") no-repeat;
            width: 12px;
            height: 12px;
            position: absolute;
            bottom: 10px;
            left: 10px;
        }
        
        .right-bottom-pin {
            background: url("assets/images/pin-missing-box.png") no-repeat;
            width: 12px;
            height: 12px;
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        
        .main-pin-board-bg {
            /* background: url("assets/images/pinbord-bg.jpg") no-repeat; */
            padding: 30px 15px;
            min-height: 200px;
            max-height: 100%;
            position: relative;
            margin-top: -25px;
            margin-right: -65px;
            right: -24px;
            width: calc(100% + 24px);
            left: 0;
        }
        
        .main-pin-board-bg::after {
            background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 46%, rgba(30, 87, 153, 0.02) 47%, rgba(0, 0, 0, 1) 100%);
            background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 46%, rgba(30, 87, 153, 0.02) 47%, rgba(0, 0, 0, 1) 100%);
            background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 46%, rgba(30, 87, 153, 0.02) 47%, rgba(0, 0, 0, 1) 100%);
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#000000', GradientType=0);
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            top: 0;
        }
        
        .sapce-pinborad-screen {
            padding: 85px 10px 35px;
            min-height: calc(100vh - 65px);
        }
        
        .pinbord-user-box {
            text-align: center;
            position: relative;
            z-index: 1;
        }
        
        .pind-user-head {
            font-size: 48px;
            color: #fff;
            font-weight: 700;
        }
        
        .pinbord-user-box>span {
            display: block;
            font-size: 30px;
            font-weight: 700;
            color: #fff;
            margin: 10px 0;
        }
        
        .logo-user-pin>img {
            border-radius: 50%;
            height: 90px;
            width: 90px;
        }
        
        .logo-user-pin {
            margin: 0;
        }
        
        .user-tag-names {
            font-size: 18px;
            color: #fff;
        }
        
        .user-tag-names>span {
            font-size: 22px;
            color: #4e960c;
            font-weight: 700;
        }
        
        .folllers-pinborad-tag {
            position: absolute;
            left: 20px;
            bottom: 10px;
            font-weight: bold;
            z-index: 1;
            color: #fff;
            font-size: 20px;
            line-height: 40px;
        }
        
        .folllers-pinborad-tag>a>i {
            font-size: 26px;
            color: #fff;
            line-height: 40px;
        }
        
        .folllers-pinborad-tag>a {
            background-color: #4e960c;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            text-align: center;
            float: left;
            margin: 0 10px 0 0;
        }
        
        .edit-pinborad-tag {
            position: absolute;
            right: 20px;
            bottom: 10px;
            z-index: 1;
            color: #4e960c;
            font-size: 20px;
            line-height: 40px;
        }
        
        .edit-pinborad-tag>a>i {
            font-size: 24px;
            color: #fff;
            line-height: 40px;
        }
        
        .edit-pinborad-tag>a {
            background-color: #4e960c;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            text-align: center;
            margin: 0 10px 0 0;
            display: block;
        }
        
        .offer-box-div .offer-banner>img {
            /*   min-width: 100%; */
            max-width: 100%;
        }
        
        .top-pro-img {
            background: url(assets/images/post-top-bg.png) repeat-x;
            height: 15px;
            width: 100%;
            float: left;
        }
        
        .faceIconClass a>i {
            font-size: 45px !important;
            margin-top: -3px;
            margin-right: 45px;
        }
        
        .user-img-head>img.no-border {
            border: none;
        }
        
        .white-bg-divs {
            background-color: #fff;
            padding: 20px;
            display: inline-block;
            width: 100%;
            border-radius: 0 0 5px 5px;
        }
        
        .user-img-pind>img {
            height: 120px;
            width: 120px;
            border-radius: 50%;
            display: block;
            border: solid #3d3d3d 2px;
        }
        
        .user-img-head>img {
            height: 38px;
            width: 38px;
            border-radius: 50%;
            display: block;
            border: solid #fff 1px;
        }
        
        .pfrofile-username {
            font-size: 28px;
            font-weight: 700;
            color: #000;
            float: left;
        }
        
        .pfrofile-username>span {
            font-size: 16px;
            font-weight: 400;
            color: #646161;
            display: block;
        }
        
        .profile-rights {
            float: right;
        }
        
        .profile-rights>a {
            background-color: #177703;
            font-size: 16px;
            color: #fff !important;
            padding: 8px 10px;
            text-decoration: none !important;
            border-radius: 5px;
        }
        
        .profile-rights>a>i {
            position: relative;
            top: 6px;
        }
        
        .bio-user-box>h3 {
            margin: 20px 0px;
            padding: 0px;
            font-size: 24px;
            color: #000;
            font-weight: 700;
        }
        
        .bio-user-box>p {
            margin: 20px 0px;
            padding: 0px;
            font-size: 15px;
            color: #000;
            font-weight: 400;
            line-height: 24px;
        }
        
        .activity-box {
            background-color: #f7f7f7;
            border-radius: 5px;
        }
        
        .activity-box .avctive-tabs {
            background-color: #ececec;
            padding: 10px;
            color: #333;
            font-size: 20px;
            font-weight: 700;
            border-radius: 5px 5px 0 0;
        }
        
        .post-box-div>h4 {
            font-size: 17px;
            font-weight: 600;
            color: #000;
        }
        
        .post-box-div ul {
            margin: 0px;
            padding: 0px;
            list-style: none
        }
        
        .post-box-div ul li {
            padding: 20px 0px 20px 35px;
            font-size: 15px;
            position: relative;
            margin: 0;
            border-bottom: solid #ececec 1px;
        }
        
        .post-box-div ul li:last-child {
            border-bottom: none;
        }
        
        .post-box-div {
            padding: 20px 10px;
        }
        
        .post-box-div ul li>i {
            color: #1daa00;
            font-size: 25px;
            position: absolute;
            left: 0;
        }
        
        .post-box-div ul li span>a {
            color: #000;
            font-weight: 700;
        }
        
        .post-box-div ul li span>a:hover {
            color: #1daa00;
        }
        
        .pravate-boxs-tagh {
            font-size: 18px;
            background-color: #fbfbfb;
            padding: 7px 15px;
            border: dashed #f0f0f0 1px;
            margin: 0 0 10px;
        }
        
        .pravate-boxs-tagh>label {
            font-size: 14px;
            font-weight: 600;
            margin: 0px 0 5px;
            padding: 0;
        }
        
        .pravate-boxs-tagh .user-tag-nagme {
            font-size: 13px;
            line-height: 18px;
            color: #333;
            word-break: break-word;
            word-wrap: break-word;
        }
        
        .pravite-box-divs {
            margin: 40px 0 0 0;
        }
        
        .heaing-partabiet-divs {
            font-size: 22px;
            font-weight: 700;
            margin: 0 0 20px;
        }
        
        .edit-bnts-user .btn-submit {
            background-color: #199000;
            padding: 5px 20px;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 14px;
            margin: 0 20px;
        }
        
        .edit-bnts-user .btn-cancel {
            background-color: #383838;
            padding: 5px 20px;
            color: #fff !important;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 14px;
            display: inline-block;
        }
        
        .edit-bnts-user {
            text-align: right;
            margin: 20px 0;
        }
        
        .edit-box-div .pravate-boxs-tagh {
            background-color: transparent;
            border: none;
            padding: 7px 2px;
            margin: 0px;
        }
        
        .edit-box-div .pravate-boxs-tagh>label {
            font-size: 14px;
            font-weight: 400;
            color: #333;
        }
        
        .edit-box-div .form-control {
            border-radius: 0px;
            height: 34px;
        }
        
        .pravite-box-divs.top-space-less {
            margin: 20px 0 0 0;
        }
        
        .user-name-esits {
            font-size: 20px;
            text-align: center;
            margin: 10px 0;
            font-weight: 400;
            color: #333;
        }
        
        .edit-photo-user-btn>a {
            background-color: #177703;
            font-size: 13px;
            color: #fff !important;
            padding: 8px 5px;
            text-decoration: none !important;
            border-radius: 5px;
            margin: 20px auto;
            display: table;
            text-align: center;
        }
        
        .checkbox-btn {
            padding: 15px 15px 10px 10px;
        }
        
        .checkbox-btn .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
            background-color: #199000;
            margin-right: 10px;
        }
        
        .checkbox-btn .custom-control-label {
            font-size: 15px;
        }
        
        .checkbox-btn .custom-control-label::before {
            background-color: #999;
        }
        
        .proi-pic-box {
            position: absolute;
            overflow: hidden;
            width: 40px;
            margin: 0 auto;
            height: 40px;
            border-radius: 20px;
            background-color: #199000;
            border: dotted #199000 1px;
            bottom: -3px;
            right: -80px;
            left: 0;
        }
        
        .user-img-pind {
            position: relative;
            display: table;
            text-align: center;
            margin: 20px auto 20px auto;
        }
        
        .proi-pic-box .pro-box-img {
            font-size: 21px !important;
            text-align: center;
            line-height: 35px;
            z-index: 1111111111111;
            margin: 0;
            color: #ffffff !important;
            width: 100%;
            cursor: pointer;
        }
        
        .proi-pic-box .btn-profils {
            opacity: 0;
            width: 100%;
            height: 40px;
            position: absolute;
            top: 0;
            left: 0;
            color: #ffff;
            padding: 0px;
            cursor: pointer;
        }
        
        .pin-title-heading {
            font-size: 18px;
            color: #fff;
            line-height: 16px;
        }
        
        header .right-header ul li span.sub-texts-name {
            font-size: 14px;
        }
        
        .border-left-spacing {
            position: relative;
        }
        
        .border-left-spacing::after {
            background-color: #d8d8d8;
            height: 100%;
            width: 1px;
            content: "";
            position: absolute;
            left: -40px;
            top: 0;
        }
        
        .pravite-box-divs.top-space-less textarea.form-control {
            height: auto;
        }
        
        .box-slects-file .js .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        
        .box-slects-file button,
        .box-slects-file input {
            line-height: normal;
        }
        
        button,
        input,
        select,
        textarea {
            font-family: inherit;
            font-size: 100%;
            margin: 0;
        }
        
        .box-slects-file inputfile-1+label {
            color: #f1e5e6;
            background-color: #383838;
        }
        
        .box-slects-file .inputfile+label {
            max-width: 80%;
            font-size: 1.25rem;
            font-weight: 700;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
            padding: 0.625rem 1.25rem;
        }
        
        .box-slects-file svg:not(:root) {
            overflow: hidden;
        }
        
        .box-slects-file .inputfile-1+label {
            color: #f1e5e6;
            background-color: #383838;
            border-radius: 2px;
        }
        
        .box-slects-file .inputfile+label {
            max-width: 80%;
            font-size: 15px;
            font-weight: 500;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
            padding: 5px 10px;
        }
        
        .no-heights.edit-box-div .form-control {
            height: auto;
        }
        
        .custom-control.custom-checkbox.top-margin-10 {
            margin-top: 10px;
        }
        
        .collapsed.mobile-close-pop {
            display: none;
        }
        
        .showInMobile {
            display: none;
        }
        /* 15-01-2019 */
        
        .invalid-feedback-div {
            display: block;
            width: 100%;
            margin-top: 5px;
            font-size: 12px;
            color: #dc3545;
            /* position: absolute; */
            /* bottom: -10px; */
            line-height: 11px;
        }
        
        .invalid-feedback-signup {
            display: block;
            width: 100%;
            margin-top: 5px;
            font-size: 12px;
            color: #dc3545;
            /* position: absolute; */
            line-height: 11px;
        }
        
        .subscription-plans-heading {
            font-size: 30px;
            color: #fff;
            text-align: center;
            margin: 20px 0 40px;
            font-weight: 600;
        }
        
        .plns-boxs {
            background-color: #fff;
            -webkit-box-shadow: 0px 15px 15px -10px #515151;
            width: 100%;
            box-shadow: 0px 15px 15px -10px #515151;
            border-radius: 5px;
            display: inline-block;
            clear: both;
            margin: 0 0 60px;
        }
        
        .credios-prics-box {
            background-color: #28a745;
            padding: 25px 15px;
            min-height: 140px;
        }
        
        .plns-name-heading {
            font-size: 18px;
            text-align: center;
            font-weight: 700;
            padding: 10px;
        }
        
        .plns-credits-text {
            /* border: dashed #dadada 2px; */
            padding: 0px 20px;
            text-align: center;
            font-size: 18px;
            text-transform: capitalize;
            display: table;
            margin: 0px auto;
            color: #fff;
            /* background-color: #184ecc; */
            border-radius: 10px;
        }
        
        .plns-price-text {
            font-size: 28px;
            font-weight: 700;
            text-align: center;
            color: #fff;
        }
        
        .plns-sub-text-div {
            text-align: center;
            font-size: 16px;
            color: #333;
            line-height: 26px;
            margin: 15px;
            display: inline-block;
            clear: both;
        }
        
        .subs-btn-box>a {
            background-color: #1daa00;
            color: #fff !important;
            font-size: 14px;
            padding: 8px 15px;
            border-radius: 10px;
            text-decoration: none !important;
            font-weight: 500;
        }
        
        .subs-btn-box {
            text-align: center;
            margin: 20px auto -8px auto;
            display: table;
            clear: both;
            /* padding: 0 0 20px 0; */
        }
        
        .subscton-table-div {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            min-height: 70vh;
        }
        
        .subscton-table-div .table thead th {
            border-bottom: 2px solid #4f9d07;
            background-color: #4e960c;
            color: #fff;
            font-size: 14px;
            padding: 8px;
            white-space: nowrap;
            font-weight: 600;
        }
        
        .leftmenu-pinboard {
            background-color: #fff;
            border-radius: 5px 0 0 5px;
            clear: both;
            display: inline-block;
            width: 240px;
            overflow-y: scroll;
            position: fixed;
            top: 0;
            margin: 0px 0 0 0;
            left: 0;
            padding-top: 80px;
            height: 100%;
        }
        
        .profile-bg-dashbord {
            border-radius: 5px;
        }
        
        ul.pinbord-left-menu {
            margin: 0px 0 65px;
            padding: 10px 0 0 0;
            border-top: solid #ebebeb 4px;
        }
        
        ul.pinbord-left-menu li {
            list-style: none;
            /* margin: 10px 0; */
            border-bottom: solid #e8e8e8 1px;
            display: inline-block;
            clear: both;
            width: 100%;
        }
        
        ul.pinbord-left-menu li:last-child {
            border-bottom: none
        }
        
        ul.pinbord-left-menu li a {
            transition: ease-in-out 0.3s;
            color: #000;
            font-size: 14px;
            text-decoration: none;
            padding: 10px 15px;
            display: block;
        }
        
        ul.pinbord-left-menu li a:hover {
            background-color: #199000;
            color: #fff;
        }
        
        ul.pinbord-left-menu li a.active {
            background-color: #199000;
            color: #fff;
        }
        
        .borderradus-5 {
            border-radius: 5px;
        }
        
        .righ-main-box-bg {
            margin: 0 15px 0 256px;
        }
        
        .righ-main-box-bg2 {
            margin: 0 15px 0 15px;
        }
        
        .userNameOnPinboard {
            text-decoration: none !important;
            color: #4e960c !important;
            /* color: #177703 !important; */
            font-weight: bold;
            font-size: 24px;
        }
        /* position */
        
        .toast-center-center {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .toast-top-center {
            top: 0;
            right: 0;
            width: 100%;
        }
        
        .toast-bottom-center {
            bottom: 0;
            right: 0;
            width: 100%;
        }
        
        .toast-top-full-width {
            top: 0;
            right: 0;
            width: 100%;
        }
        
        .toast-bottom-full-width {
            bottom: 0;
            right: 0;
            width: 100%;
        }
        
        .toast-top-left {
            top: 12px;
            left: 12px;
        }
        
        .toast-top-right {
            top: 65px !important;
            right: 12px;
        }
        
        .toast-bottom-right {
            right: 12px;
            bottom: 12px;
        }
        
        .toast-bottom-left {
            bottom: 12px;
            left: 12px;
        }
        /* toast styles */
        
        .toast-title {
            font-weight: bold;
        }
        
        .toast-message {
            word-wrap: break-word;
        }
        
        .toast-message a,
        .toast-message label {
            color: #FFFFFF;
        }
        
        .toast-message a:hover {
            color: #CCCCCC;
            text-decoration: none;
        }
        
        .toast-close-button {
            position: relative;
            right: -0.3em;
            top: -0.3em;
            float: right;
            font-size: 20px;
            font-weight: bold;
            color: #FFFFFF;
            text-shadow: 0 1px 0 #ffffff;
            /* opacity: 0.8; */
        }
        
        .toast-close-button:hover,
        .toast-close-button:focus {
            color: #000000;
            text-decoration: none;
            cursor: pointer;
            opacity: 0.4;
        }
        /*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
        
        button.toast-close-button {
            padding: 0;
            cursor: pointer;
            background: transparent;
            border: 0;
        }
        
        .toast-container {
            pointer-events: none;
            position: fixed;
            z-index: 999999;
        }
        
        .toast-container * {
            box-sizing: border-box;
        }
        
        .toast-container .toast {
            position: relative;
            overflow: hidden;
            margin: 0 0 6px;
            padding: 15px 15px 15px 50px;
            width: 300px;
            border-radius: 3px 3px 3px 3px;
            background-position: 15px center;
            background-repeat: no-repeat;
            background-size: 24px;
            box-shadow: 0 0 12px #999999;
            color: #FFFFFF;
        }
        
        .toast-container .toast:hover {
            box-shadow: 0 0 12px #000000;
            opacity: 1;
            cursor: pointer;
        }
        /* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
        
        .toast-info {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
        }
        /* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
        
        .toast-error {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
        }
        /* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
        
        .toast-success {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
        }
        /* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
        
        .toast-warning {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
        }
        
        .toast-container.toast-top-center .toast,
        .toast-container.toast-bottom-center .toast {
            width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .toast-container.toast-top-full-width .toast,
        .toast-container.toast-bottom-full-width .toast {
            width: 96%;
            margin-left: auto;
            margin-right: auto;
        }
        
        .toast {
            background-color: #030303;
            pointer-events: auto;
        }
        
        .toast-success {
            background-color: #51A351;
        }
        
        .toast-error {
            background-color: #BD362F;
        }
        
        .toast-info {
            background-color: #2F96B4;
        }
        
        .toast-warning {
            background-color: #F89406;
        }
        
        .toast-progress {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            background-color: #000000;
            opacity: 0.4;
        }
        /* Responsive Design */
        
        @media all and (max-width: 240px) {
            .toast-container .toast.div {
                padding: 8px 8px 8px 50px;
                width: 11em;
            }
            .toast-container .toast-close-button {
                right: -0.2em;
                top: -0.2em;
            }
        }
        
        @media all and (min-width: 241px) and (max-width: 480px) {
            .toast-container .toast.div {
                padding: 8px 8px 8px 50px;
                width: 18em;
            }
            .toast-container .toast-close-button {
                right: -0.2em;
                top: -0.2em;
            }
        }
        
        @media all and (min-width: 481px) and (max-width: 768px) {
            .toast-container .toast.div {
                padding: 15px 15px 15px 50px;
                width: 25em;
            }
        }
        
        .req {
            color: red
        }
        
        .form-line-group label.remove-space-label {
            margin: 0;
        }
        
        .custom-control.custom-checkbox.inline-block {
            display: inline-block;
        }
        
        .m-t-20 {
            margin: 10px 0 0;
            display: block;
        }
        
        p.label-txt.top-margin-password {
            top: -4px;
        }
        /** updated 16 jan 2019 for responsive UI changes **/
        
        #menu {
            width: 280px;
            position: fixed;
            background: #1b9003;
            top: 60px;
            display: block;
            height: 100%;
            right: -280px;
            transition: all 0.5s ease;
            z-index: 1;
        }
        
        #menu.active {
            right: 0px;
            transition: all 0.5s ease;
        }
        
        #menu li {
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid #1b8704;
            margin: 0px;
        }
        
        #menu li a {
            color: #fff;
            font-size: 16px;
            padding: 12px 15px;
            text-decoration: none;
            font-size: 1rem;
        }
        
        #menu li a:hover {
            opacity: 0.65;
        }
        
        .mm-navbar {
            background: #499106;
            border-color: #4e960c;
            color: rgba(0, 0, 0, .3);
            border-color: #4e960c;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            text-align: center;
            height: auto;
            padding: 5px 44px;
            margin: 0;
            position: relative;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            opacity: 1;
            -webkit-transition: opacity .4s ease;
            -o-transition: opacity .4s ease;
            transition: opacity .4s ease;
        }
        
        header .right-header #menu ul {
            padding: 0px;
        }
        
        header .right-header ul li span {
            color: #fff;
            font-size: 18px;
        }
        
        .max50height .sebm-google-map-container {
            height: 100vh !important;
            transition: .5s ease;
        }
        
        .slider-range {
            margin-bottom: 0px;
            margin-top: -5px;
        }
        
        .slider-range input[type="range"] {
            width: 90%;
        }
        
        .slider-range input[type="range"] {
            -webkit-appearance: none;
            margin: 0px 0;
            width: 100%;
        }
        
        .slider-range input[type="range"]:focus {
            outline: none;
        }
        
        .slider-range input[type="range"]::-webkit-slider-runnable-track {
            width: 100%;
            height: 3px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: none;
            background: #ccced0;
            border-radius: 1.3px;
            /* border: 0.2px solid #010101; */
        }
        
        .slider-range input[type="range"]::-webkit-slider-thumb {
            box-shadow: none;
            border: none;
            height: 15px;
            width: 15px;
            border-radius: 20px;
            background: #177703;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -7px;
        }
        
        .slider-range input[type="range"]:focus::-webkit-slider-runnable-track {
            background: #367ebd;
        }
        
        .slider-range input[type="range"]::-moz-range-track {
            width: 100%;
            height: 3px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: none;
            background: #ccced0;
            border-radius: 1.3px;
            /* border: 0.2px solid #010101; */
        }
        
        .slider-range input[type="range"]::-moz-range-thumb {
            box-shadow: none;
            border: none;
            height: 15px;
            width: 15px;
            border-radius: 20px;
            background: #177703;
            cursor: pointer;
        }
        
        .slider-range input[type="range"]::-ms-track {
            width: 100%;
            height: 3px;
            cursor: pointer;
            animate: 0.2s;
            background: transparent;
            border-color: transparent;
            border-width: 16px 0;
            color: transparent;
        }
        
        .slider-range input[type="range"]::-ms-fill-lower {
            background: #177703;
            /* border: 0.2px solid #010101; */
            border-radius: 2.6px;
            box-shadow: none;
        }
        
        .slider-range input[type="range"]::-ms-fill-upper {
            background: #177703;
            /* border: 0.2px solid #010101; */
            border-radius: 2.6px;
            box-shadow: none;
        }
        
        .slider-range input[type="range"]::-ms-thumb {
            box-shadow: none;
            border: none;
            height: 15px;
            width: 15px;
            border-radius: 20px;
            background: #177703;
            cursor: pointer;
        }
        
        .slider-range input[type="range"]:focus::-ms-fill-lower {
            background: #177703;
        }
        
        .slider-range input[type="range"]:focus::-ms-fill-upper {
            background: #177703;
        }
        
        .page-title-tag {
            font-size: 20px;
            font-weight: 600;
            text-align: left;
            margin: 0 0 15px;
            border-bottom: solid #eaeaea 1px;
            padding: 0 0 7px;
        }
        
        .img-size-fixd {
            width: 70px;
            border: solid #ccc 1px;
            padding: 2px;
        }
        
        #menu ul {
            width: 100%;
        }
        
        @media screen and (max-width: 767px) {}
        
        a.view-more-btn>i {
            color: #199000;
            font-size: 22px;
        }
        
        a.view-more-btn {
            margin: 2px
        }
        
        .profile-rights>a {
            background-color: #177703;
            font-size: 14px;
            color: #fff !important;
            padding: 3px 10px 6px;
            margin-bottom: 10px;
            text-decoration: none !important;
            border-radius: 5px;
            display: inline-block;
            vertical-align: middle;
        }
        
        .profile-rights>a i {
            font-size: 16px;
            top: 4px;
        }
        
        .table td,
        .table th {
            font-size: 14px;
        }
        
        .form-control {
            font-size: 14px;
        }
        
        .padd-LR0 {
            padding-left: 0px;
            padding-right: 0px;
        }
        
        .m-b20 {
            margin-bottom: 20px;
        }
        
        .padd-B20 {
            padding-bottom: 20px;
        }
        
        .main-bg-banners {
            position: absolute;
            top: 0px;
            height: 200px;
            overflow: hidden;
            left: 0;
            width: 100%;
        }
        
        .main-bg-banners img.img-fluid {
            width: 100%;
            min-height: 200px;
        }
        
        header.pinboardHeader .right-header ul {
            margin: 0px;
            padding: 0px 40px 0 0;
            float: right;
            width: 100%;
            text-align: center;
        }
        
        .pinboardHeader li.pin-title-heading {
            float: none !important;
            padding-right: 60px;
        }
        
        .pinboardHeader .faceIconClass {
            float: right !important;
            margin: -37px 0 0 0 !important;
            position: relative;
            z-index: 9;
        }
        
        #menu li {
            text-align: left;
        }
        
        ul.pin-ul-lists li {
            word-break: break-all;
        }
        
        .pin-title-heading img {
            width: 25px;
            margin-right: 5px;
        }
        
        #menu .close-btn {
            display: none;
        }
        
        #menu.active .close-btn {
            display: block;
            border: 1px solid #1b9003;
            border-right: none !important;
        }
        
        header .right-header ul .close-btn a>i {
            color: #1b9003;
            font-size: 30px;
        }
        /*My Credits*/
        
        .credit_box .credit_heading span {
            font-size: 36px;
            color: #ff3366;
            display: inline-block;
            margin: 0 20px;
        }
        
        .credit_heading {
            text-align: center;
            margin: 30px 0;
        }
        
        .credit_prices {
            font-size: 20px;
            color: #959595;
            text-align: center;
        }
        
        .credit_price_Sections {
            text-align: center;
        }
        
        .credit_price_Sections span>i {
            font-size: 30px;
            color: #c7c7c7
        }
        
        .credit_price_Sections span {
            font-size: 36px;
            color: #c7c7c7
        }
        
        .credit_notes ul {
            margin: 15px;
            padding: 0px;
        }
        
        .profileIcons {
            margin-right: 20px;
            margin-top: 1px;
        }
        
        .menuIcon.active .close-btn {
            display: block !important;
            top: 0
        }
        
        .menuIcon .close-btn {
            display: none;
        }
        
        .opening-hrs>p {
            line-height: 10px !important
        }
        
        @media screen and (max-width: 1024px) {
            .profileIcons {
                margin: 0px 2px 0 0 !important
            }
            .pinboard-face {
                margin-top: 0px !important;
            }
        }
        
        .ng-trigger.ng-trigger-overlayAnimation.ng-tns-c6-0.ui-datepicker {
            display: block !important;
        }
        
        input.ng-tns-c6-0.ui-inputtext.ui-widget {
            background-color: #fff;
            border: solid #ced4da 1px;
            padding: .375rem .75rem;
        }
        
        .ui-button {
            margin: 0;
            color: #fff;
            background-color: #199000;
            border: 1px solid #199000;
            font-size: 14px;
            transition: background-color .2s;
        }
        
        .ui-button-icon-only .ui-button-icon-left {
            top: 50%;
            left: 50%;
            margin-top: -.5em;
            margin-left: -.5em;
            width: 1em;
            height: 1em;
        }
        
        .ui-calendar .ui-calendar-button {
            position: absolute;
            height: 100%;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 2em;
            border-left: 0;
        }
        
        .pi-calendar:before {
            content: "\e927";
        }
        
        .ui-button.ui-button-icon-only .ui-button-text {
            padding: .429em;
        }
        
        .ui-calendar {
            position: relative;
            display: inline-block;
        }
        
        span.small-messge {
            font-size: 11px;
        }
        
        .ui-calendar.ui-calendar-w-btn .ui-inputtext {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: 0 none;
            min-height: 38px;
        }
        
        .row.row-space-outer {
            margin: 15px 0;
            font-size: 12px;
        }
        
        .invalid-feedback.requied-message {
            display: block;
            font-size: 11px;
        }
        
        .ui-widget-content {
            background: #ffffff;
            color: #333333;
        }
        
        td.ng-tns-c6-0 {
            padding: 6px;
            font-size: 10px;
            color: #fff !important;
        }
        
        .ui-datepicker table th {
            padding: 4px 0;
        }
        
        th.ng-tns-c6-0.ng-star-inserted {
            padding: 0 !important;
        }
        
        .ui-datepicker table td {
            padding: 0 !important;
        }
        
        .ui-state-default,
        .ui-widget-content .ui-state-default,
        .ui-widget-header .ui-state-default,
        .ui-button,
        html .ui-button.ui-state-disabled:hover,
        html .ui-button.ui-state-disabled:active {
            background: #ffffff;
            font-weight: normal;
            color: #000000;
            border-radius: 50%;
            font-size: 13px;
            padding: 0px 2px;
            letter-spacing: -1.5px;
        }
        /* a:not([href]):not([tabindex]) {
    color: #000 !important;
    text-decoration: none;
} */
        
        body .ui-datepicker:not(.ui-state-disabled) table td a:not(.ui-state-active):not(.ui-state-highlight):hover {
            background-color: #28a745 !important;
            padding: 2px 2px 2px 1px;
            color: #fff !important;
            border: none;
        }
        
        .ui-state-highlight,
        .ui-widget-content .ui-state-highlight,
        .ui-widget-header .ui-state-highlight {
            background-color: #28a745 !important;
            padding: 2px 2px 2px 1px;
            color: #fff !important;
            border: none;
        }
        
        .ui-state-default,
        .ui-widget-content .ui-state-default,
        .ui-widget-header .ui-state-default,
        .ui-button {
            color: #000000 !important;
            border: none;
            padding: 2px 2px 2px 1px;
        }
        
        a.ui-state-default.ng-tns-c6-0.ui-state-highlight.ng-star-inserted {
            color: #fff !important;
            border: none;
            padding: 2px 2px 2px 1px;
        }
        
        .ui-widget-content .ui-state-active {
            color: #fff !important;
            background: #28a745 !important;
            border: none;
            padding: 2px 2px 2px 1px;
        }
        
        body .ui-button {
            background: #28a745 !important;
        }
        
        .innner-img-outer-box>img {
            height: 160px;
            margin: 20px 0;
            border: solid #dcdcdc 1px;
            padding: 3px;
        }
        
        .ng-trigger.ng-trigger-overlayAnimation.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-shadow.ng-star-inserted {
            display: block !important;
            z-index: 1;
        }
        
        .table td {
            word-break: break-word;
            word-wrap: break-word;
            max-width: 350px;
            min-width: 60px;
        }
        
        .whiteSpaceNowrap {
            white-space: nowrap;
        }
        
        .responsiveShowHide {
            display: none;
        }
        
        @media screen and (max-width:767px) {
            .gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
                bottom: auto !important;
                top: 60px !important;
            }
            .page-title-tag {
                font-size: 17px !important;
                padding: 0 0 15px;
            }
        }
        
        .ngx-pagination .current {
            background: #177703 !important;
            border-radius: 5px;
            border: none !important;
        }
        
        .ngx-pagination a,
        .ngx-pagination button {
            text-decoration: none;
            border-radius: 5px !important;
        }
        
        .userDetailPImg {
            margin: 0px;
        }
        
        .user-img-pind.userDetailPImg>img {
            height: 80px;
            width: 80px;
        }
        
        .profileDetailOuter .pfrofile-username {
            font-size: 28px;
            font-weight: 700;
            color: #177703;
            float: left;
            word-break: break-all;
        }
        
        .profileDetailOuter .activity-box {
            background-color: #f1f1f1;
            border-radius: 5px;
            border: 1px solid #ddd;
        }
        
        .profileDetailOuter .activity-box .avctive-tabs {
            background-color: #177703;
            padding: 10px;
            color: #fff;
        }
        
        .profileDetailOuter .activity-box {
            margin-top: 20px;
        }
        
        .pos-rel {
            position: relative;
        }
        
        .notiCountBj {
            position: absolute;
            min-width: 15px;
            height: 15px;
            font-size: 10px !important;
            color: #fff;
            text-align: center;
            top: 0px;
            right: 0px;
            background: #f10;
            border-radius: 15px;
        }
        
        .notiFicatioLIset {
            float: right !important;
            margin: -30px 9px 0 0 !important;
            position: absolute;
            right: 56px;
            top: 40px;
        }
        
        @media screen and (max-width:991px) {
            .notiFicatioLIset {
                margin: -30px 0 0 0 !important;
            }
        }
        
        .pinboardHeader .faceIconClass {
            position: absolute;
            z-index: 9;
            right: 95px;
            top: 46px;
        }
        
        .ui-datepicker-calendar thead th {
            padding: 2px;
        }
        
        .ui-datepicker-calendar thead th span {
            font-size: 11px;
            width: 20px;
            display: inline-block;
        }
        
        .user-tag-nagme {
            display: inline-block;
            width: 100%;
        }
        
        .top-greeen-header.top-space-outer {
            padding: 100px 0 40px;
        }
        
        .no-recod-box {
            padding: 2% 0;
        }
        
        .div-abouts {
            text-align: center;
        }
        
        .leftmenu-pinboard {
            display: none;
        }
        
        .righ-main-box-bg {
            margin: 0 15px 0 15px;
        }
        /* Post Box Css */
        
        .creat-postds {
            background: #fff;
            width: 100%;
            padding: 20px;
            -webkit-box-shadow: 0px 15px 15px -10px #515151;
            box-shadow: 0px 15px 15px -10px #515151;
            border-radius: 5px;
            margin: 30px 0 20px 0;
        }
        
        .post-crart-divs .form-control {
            border-radius: 0;
            min-height: 38px;
        }
        
        .post-crart-divs.input-box-space-div>textarea {
            height: 63px;
        }
        
        .creat-postds .post-cancel-btn {
            background-color: #fff;
            border-radius: 5px;
            border: 2px solid #707070;
            width: 90px;
            padding: 5px 10px;
            font-size: 15px;
            font-weight: 600;
            color: #707070;
            cursor: pointer;
        }
        
        .creat-postds .post-bnts {
            float: left;
            margin: 0 0 0 15px;
        }
        
        .creat-postds .btn-Post-save {
            background-color: #177703;
            border-radius: 5px;
            border: 2px solid #177703;
            width: 90px;
            padding: 5px 10px;
            font-size: 15px;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
        }
        
        .creat-postds .post-crart-divs {
            margin: 0 0 0px 0;
        }
        
        .creat-postds .post-crart-divs.input-box-space-div {
            margin: 0 0 20px 0;
        }
        /* .post-pic-brow .pro-box-img {
  font-size: 15px !important;
  text-align: center;
  line-height: 35px;
  margin: 0;
  text-transform: uppercase;
  color: #585858 !important;
  width: 100%;
  cursor: pointer;
} */
        
        .post-pic-brow .btn-profils {
            width: 100%;
            color: #585858;
            cursor: pointer;
            overflow: hidden;
            font-size: 12px;
            height: 25px;
        }
        
        .post-pic-brow>span {
            font-size: 13px;
            display: block;
            margin: 0 0 3px;
        }
        
        .post-pic-brow {
            margin: 0;
            background-color: #f3f3f3;
            border: 1px dashed #ccc;
            padding: 4px 10px;
            width: 100%;
        }
        
        .btn-rightalings {
            text-align: right;
            float: right;
        }
        
        @media all and (min-width: 992px) and (max-width: 1200px) {
            .post-pic-brow .pro-box-img>span {
                margin: 10px 0 0;
            }
            .post-pic-brow .pro-box-img {
                font-size: 14px !important;
                line-height: 14px;
            }
            .post-pic-brow .pro-box-img>span {
                margin: 10px 0 0;
            }
            .post-pic-brow {
                padding: 4px 10px;
            }
            .creat-postds .post-cancel-btn,
            .creat-postds .btn-Post-save {
                padding: 6px 5px;
                width: 70px;
            }
            .post-pic-brow {
                margin: 0px 0;
            }
        }
        
        @media all and (min-width: 768px) and (max-width: 991px) {
            .post-pic-brow .pro-box-img {
                line-height: 30px;
            }
            .post-pic-brow {
                padding: 4px 10px;
            }
            .post-pic-brow {
                margin: 0px 0;
            }
            .creat-postds .post-cancel-btn,
            .creat-postds .btn-Post-save {
                padding: 6px 5px;
                width: 70px;
            }
        }
        
        @media all and (max-width: 767px) {
            #menu ul {
                max-height: calc(100vh - 90px) !important;
                overflow: auto;
            }
            .mobile-space-ds {
                padding: 0 0 0 5px !important;
            }
            .creat-postds .post-crart-divs {
                margin: 0 0 15px 0;
            }
            .post-pic-brow {
                margin: 0 0 15px;
            }
        }
        
        .pinbotrd-mobile-show {
            display: none
        }
        
        .offer-box-div .offer-banner>img {
            min-width: auto;
        }
        
        .pagingBottomPadd ul {
            margin: 15px 0;
            text-align: center;
        }
        
        .pagingBottomPadd ul li {
            padding: 0 !important;
        }
        
        .pagingBottomPadd ul li.current {
            padding: 0.1875rem 0.625rem !important;
        }
        
        .pagingBottomPadd ul li.disabled {
            padding: 0 10px !important;
        }
        
        #menu ul {
            max-height: calc(100vh - 100px);
            overflow: auto;
        }
        
        .socialIconShare a {
            font-size: 30px;
            color: #177703;
            margin: 0 10px;
        }
        
        .text-gray-color {
            color: #646161;
        }
        
        .post-box {
            display: block;
            width: 100%;
        }
        
        .tagsMarTop {
            margin-top: 10px;
        }
        
        .ui-datepicker-trigger.ui-calendar-button {
            text-indent: 0px;
            color: #fff !important;
        }
        
        .offer-box-div {
            padding: 0px;
        }
        
        .offer-box-div .offer-banner {
            margin-top: 0px;
            position: relative;
            min-height: 40px;
        }
        
        .offerBoxContainer {
            padding: 18px;
            /* padding: 10px; */
            display: inline-block;
            width: 100%;
        }
        
        .offer-banner .Expires-offer-div {
            position: absolute;
            top: 10px;
            right: 0px;
            width: 135px;
        }
        
        .offer-banner .Expires-offer-div .offer-dates-div {
            padding: 7px 10px;
            font-size: 12px !important;
            text-align: left;
            white-space: nowrap;
            color: #fff;
            background: #e02c20;
        }
        
        .offerContDescription p {
            color: #fff;
            font-size: 12px;
            margin-top: 5px;
        }
        
        .offerBoxContainer .offer-sub-headign {
            font-size: 14px;
            font-weight: 700;
            color: #fff;
        }
        
        @media screen and (min-width:767px) {
            .forMobileToggleBox {
                display: none;
            }
            .findmeOnMobile {
                display: none;
            }
        }
        
        @media screen and (max-width: 767px) {
            .inMobDisNone {
                display: none;
            }
            .inMobOpenBox {
                display: inline-block;
            }
            .inMobDisNone.inMobOpenBox .acction-allbox>a {
                width: 52px;
                height: 52px;
                text-align: center;
                background-color: #177703;
                border-radius: 50%;
                display: block;
                line-height: 86px;
                right: -10px;
                margin: 0 auto;
                position: absolute;
                top: -15px;
            }
            .inMobDisNone.inMobOpenBox .acction-allbox>a i {
                font-size: 26px;
                vertical-align: top;
                line-height: 52px;
            }
        }
        
        .plns-sub-text-box ul {
            margin: 0;
            padding: 0;
            list-style: none !important;
        }
        
        .plns-sub-text-box ul li {
            font-size: 13px;
            text-align: center;
            padding: 10px 10px;
            line-height: 22px;
            border-bottom: solid #d3efca 1px;
        }
        
        .plns-sub-text-box ul li:last-child {
            border-bottom: none
        }
        /* .rotate {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    } */
        
        .acction-allbox>a.searchFilterOpenBtn {
            width: 42px;
            height: 42px;
            text-align: center;
            background-color: #177703;
            border-radius: 50%;
            display: block;
            line-height: 40px;
            margin: 0 auto;
            position: absolute;
            top: -60px;
            right: 15px;
            box-shadow: 0 0 10px 2px rgba(78, 78, 78, 0.5);
            border: 1px solid #fff;
        }
        
        .acction-allbox>a.searchFilterOpenBtn i {
            font-size: 18px;
        }
        
        .searchFilterOpenBtn.inMobOpenBox {
            display: none !important;
        }
        
        .post-box .offer-banner>img {
            max-width: none;
            object-fit: cover;
            max-height: 340px;
            width: 100%;
        }
        
        .logo-pin {
            width: 70px;
        }